{% for forumrow in array %}

	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><div class="list-inner"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></div></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->

		{% include 'includes/forumrow.html.twig' with{'forumrow':forumrow} %}

	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
		</div>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

{% else %}

	<div class="panel">
		<div class="inner">
		<strong>{L_NO_FORUMS}</strong>
		</div>
	</div>

{% endfor %}
