{% block postrow %}

<!-- EVENT viewtopic_body_postrow_post_before -->
<!-- IF postrow.S_FIRST_UNREAD -->
<a id="unread" class="anchor"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
<!-- ENDIF -->
<div id="p{postrow.POST_ID}" class="post has-profile {{ macros.postrow_class(postrow.S_UNREAD_POST, postrow.S_POST_REPORTED, postrow.S_POST_DELETED, postrow.POSTER_WARNINGS, postrow.S_ONLINE, postrow.S_POST_HIDDEN) }}">
	<div class="inner">

		{% include 'includes/postprofile.html.twig' %}

		<div class="postbody">
			<!-- IF postrow.S_POST_HIDDEN -->
			<!-- IF postrow.S_POST_DELETED -->
			<div class="ignore" id="post_hidden{postrow.POST_ID}">
				{postrow.L_POST_DELETED_MESSAGE}<br />
				{postrow.L_POST_DISPLAY}
			</div>
			<!-- ELSEIF postrow.S_IGNORE_POST -->
			<div class="ignore" id="post_hidden{postrow.POST_ID}">
				{postrow.L_IGNORE_POST}<br />
				{postrow.L_POST_DISPLAY}
			</div>
			<!-- ENDIF -->
			<!-- ENDIF -->
			<div id="post_content{postrow.POST_ID}"<!-- IF postrow.S_POST_HIDDEN --> style="display: none;"<!-- ENDIF -->>

			<h3 <!-- IF postrow.S_FIRST_ROW -->class="first"<!-- ENDIF -->><!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h3>

			<!-- IF not S_IS_BOT -->
			<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
			<ul class="post-buttons">
				<!-- EVENT viewtopic_body_post_buttons_before -->
				<!-- IF postrow.U_EDIT -->
				<li>
					<a href="{postrow.U_EDIT}" title="{L_EDIT_POST}" class="button icon-button edit-icon"><i class="fa fa-pencil"></i><span>{L_BUTTON_EDIT}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF postrow.U_DELETE -->
				<li>
					<a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="button icon-button delete-icon"><span>{L_DELETE_POST}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF postrow.U_REPORT -->
				<li>
					<a href="{postrow.U_REPORT}" title="{L_REPORT_POST}" class="button icon-button report-icon"><span>{L_REPORT_POST}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF postrow.U_WARN -->
				<li>
					<a href="{postrow.U_WARN}" title="{L_WARN_USER}" class="button icon-button warn-icon"><span>{L_WARN_USER}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF postrow.U_INFO -->
				<li>
					<a href="{postrow.U_INFO}" title="{L_INFORMATION}" class="button icon-button info-icon"><span>{L_INFORMATION}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF postrow.U_QUOTE -->
				<li>
					<a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button icon-button quote-icon"><span>{L_QUOTE}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- EVENT viewtopic_body_post_buttons_after -->
			</ul>
			<!-- ENDIF -->
			<!-- ENDIF -->

			<p class="author"><!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF --> &raquo; </span>{postrow.POST_DATE} </p>

			<!-- IF postrow.S_POST_UNAPPROVED -->
			<form method="post" class="mcp_approve" action="{postrow.U_APPROVE_ACTION}">
				<p class="post-notice unapproved">
					<strong>{L_POST_UNAPPROVED_ACTION}</strong>
					<input class="button2" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" />
					<input class="button1" type="submit" value="{L_APPROVE}" name="action[approve]" />
					<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
					{S_FORM_TOKEN}
				</p>
			</form>
			<!-- ELSEIF postrow.S_POST_DELETED -->
			<form method="post" class="mcp_approve" action="{postrow.U_APPROVE_ACTION}">
				<p class="post-notice deleted">
					<strong>{L_POST_DELETED_ACTION}</strong>
					<input class="button2" type="submit" value="{L_DELETE}" name="action[disapprove]" />
					<input class="button1" type="submit" value="{L_RESTORE}" name="action[restore]" />
					<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
					{S_FORM_TOKEN}
				</p>
			</form>
			<!-- ENDIF -->

			<!-- IF postrow.S_POST_REPORTED -->
			<p class="post-notice reported">
				<a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a>
			</p>
			<!-- ENDIF -->

			<div class="content">{postrow.MESSAGE}</div>

			<!-- IF postrow.S_HAS_ATTACHMENTS -->
			<dl class="attachbox">
				<dt>
					{L_ATTACHMENTS}
				</dt>
				<!-- BEGIN attachment -->
				<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END attachment -->
			</dl>
			<!-- ENDIF -->

			<!-- EVENT viewtopic_body_postrow_post_notices_before -->
			<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
			<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
			<div class="notice post_deleted_msg">
				{postrow.DELETED_MESSAGE}
				<!-- IF postrow.DELETE_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.DELETE_REASON}</em><!-- ENDIF -->
			</div>
			<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
			<div class="notice">
				{postrow.EDITED_MESSAGE}
				<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
			</div>
			<!-- ENDIF -->

			<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
			<!-- EVENT viewtopic_body_postrow_post_notices_after -->
			<!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->

			<!-- EVENT viewtopic_body_postrow_post_content_footer -->
		</div>

	</div>

</div>
</div>

<hr class="divider" />
<!-- EVENT viewtopic_body_postrow_post_after -->

{% endblock postrow %}
