{% for topicrow in array %}
	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
	</ul>
	</div>
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
	<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->><div class="list-inner"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></div></dt>
						<dd class="posts">{L_REPLIES}</dd>
						<dd class="views">{L_VIEWS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
				<!-- ENDIF -->

				{% include 'includes/components/topic_row.html.twig' with{'topicrow':topicrow} %}

				<!-- IF topicrow.S_LAST_ROW -->
			</ul>
		</div>
	</div>
	<!-- ENDIF -->

	{% else %}
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner">
			<strong>{L_NO_TOPICS}</strong>
		</div>
	</div>
	<!-- ENDIF -->
{% endfor %}
