{# layout.twig #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="phpbb forum software">
		{% block meta %}{% endblock %}

		<title>{% block title %}{% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/gh/hanakin/base-l@master/dist/assets/css/core.0.21.0.min.css" rel="stylesheet">
		<link href="../../all/css/theme.{{ version }}.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/hanakin/base-l@master/dist/assets/css/utilities.0.21.0.min.css" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>
	<body>
		{# {% include '../includes/defs.twig' %} #}
		{% block sidemenu %}
			{% include '../includes/drawer.twig' %}
		{% endblock %}
		<div class="page" id="page-top" data-container="page">
			<header>
				{% block hero %}
					{% include '../includes/hero.twig' %}
				{% endblock %}
				{% block navbar %}
					{% include '../includes/search.twig' %}
					{% include '../includes/navbar.twig' %}
				{% endblock %}
				{% block crumb %}
					{% include '../includes/crumb.twig' %}
				{% endblock %}
				{% block header %}{% endblock %}
			</header>

			<main role="main">
				{% block main %}{% endblock %}
			</main>

			<footer id="page-bottom">
				{% block footer %}{% endblock %}
				{% include '../includes/footer.twig' %}
			</footer>
		{% block bottom %}{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.iconify.design/1/1.0.0-rc7/iconify.min.js"></script>
		<script src="../../all/js/temp.js" ></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
