//------------------------------------------------------------------------------
// @component: stat
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 0.22.0
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$drawer-spacing: $default-spacing !default;
$drawer-bar-offset: 58px !default;
$drawer-width: 248px !default;
$drawer-border-height: $default-border-size;


// Theme Variables
$drawer-bg-color: $default-surface-color !default;
$drawer-bg-hover-color: $default-surface-hover-color !default;
$drawer-bg-sub-color: $default-surface-hover-color !default;
$drawer-bg-sub-hover-color: $default-surface-alt-color !default;
$drawer-text-color: $default-surface-item-color !default;
$drawer-text-hover-color: $default-action-color-hover !default;
$drawer-icon-color: $default-action-color !default;
$drawer-icon-hover-color: $default-action-color-hover !default;
$drawer-border-color: $default-border-color !default;


//
// @scss
.c-drawer {
	@include shadow(2);
	background-color: $drawer-bg-color;
	border: none;
	position: absolute;
	z-index: 1000;
	top: $drawer-bar-offset;
	right: 0;
	bottom: 0;
	flex-shrink: 1;
	align-self: auto;
	height: 100%;
	padding: 0;
	transform: scaleX(0);
	transform-origin: center right;

	&:hover,
	&.is-active {
		transition: 0.35s ease-in-out;
		transform: scaleX(1);

		.c-drawer-link-text {
			display: inline-block;
			min-width: $drawer-width;
		}

		.c-drawer-user-name {
			display: inline-block;
		}
		//
		// @media (min-width: $lg) {
		// 	transition: 0.5s;
		// }
	}

	&-user {
		@include type(body2);
		border-bottom: $drawer-border-height solid $drawer-border-color;
		color: $drawer-text-color;
		margin-bottom: 0;
		padding: ($drawer-spacing * 2);

		&-name {
			@include type(body1);
			vertical-align: middle;
			display: none;
			margin-left: $drawer-spacing;
			padding: 0 ($drawer-spacing * 2) 0 0;
		}

		&-title {
			@include type(caption);
			color: $drawer-text-color;
			display: block;
		}
	}

	&-menu {
		border-top: $drawer-border-height solid $drawer-border-color;
		border-bottom: $drawer-border-height solid $drawer-border-color;
		display: none;
		margin: 0;
		padding: 0;
		transition: 0.35s ease;
		transform: scaleY(0);
		transform-origin: top;

		&.is-active {
			display: block;
			transform: scaleY(1);
		}
	}

	&-divider {
		background-color: $drawer-border-color;
		height: $drawer-border-height;
	}

	&-link {
		color: $drawer-text-color;
		position: relative;
		display: block;
		overflow: hidden;
		padding: ($drawer-spacing * 2) ($drawer-spacing * 2) ($drawer-spacing * 2) ($drawer-spacing * 3);
		cursor: pointer;
		transition:
			background-color 0.2s $default-animation-curve,
			color 0.2s $default-animation-curve;
		transform: translate3d(0, 0, 0);

		&-icon {
			color: $drawer-icon-color;
			margin: 0;
		}

		&-text {
			display: none;
			padding-left: $drawer-spacing;
		}

		&:after {
			background-image: radial-gradient(circle, $black 10%, transparent 10.01%);
			background-repeat: no-repeat;
			background-position: 50%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			transition: transform 0.5s, opacity 1s;
			transform: scale(10, 10);
			pointer-events: none;
		}

		&:active:after {
			opacity: 0.2;
			transition: 0s;
			transform: scale(0, 0);
		}

		&:hover {
			background-color: $drawer-bg-hover-color;

			.c-drawer-link-text {
				color: $drawer-text-hover-color;
			}

			.c-drawer-link-icon {
				color: $drawer-icon-hover-color;
			}
		}
	}

	&-menu &-link {
		background-color: $drawer-bg-sub-color;

		&:hover,
		&:focus {
			background-color: $drawer-bg-sub-hover-color;
		}
	}
}
