//------------------------------------------------------------------------------
// @component: Post
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$post-spacing: $default-spacing !default;
$post-border-radius: $default-border-radius !default;
$post-border-style: solid !default;
$post-border-size: $default-border-size !default;
$post-body-min-height: 192px !default;
$post-pre-max-height: 264px !default;
$post-emoji-size: 1em !default;
$post-emoji-size-min: $default-icon-sm !default;


// Theme Variables
$post-header-bg-color: $default-surface-color !default;
$post-border-color: $default-border-color !default;
$post-copy-code-action-color: $white !default;
$post-copy-code-action-bg-color: $default-action-color-hover !default;

//
// @scss
.c-post {
	@include parent(column);
	@include shadow(2);
	border-radius: $post-border-radius;
	margin-bottom: ($post-spacing * 3);

	&-header {
		@include child();
		border-bottom: $post-border-size $post-border-style $post-border-color;
	}

	&-body {
		@include parent(column);
		min-height: $post-body-min-height;
		padding: ($post-spacing * 4) ($post-spacing * 6);
	}

	&-meta {
		margin-bottom: ($post-spacing * 3);

		@media (min-width: $bp-lg) {
			@include parent();
		}
	}

	&-title {
		@include type(headline5);
		margin-bottom: 0;

		@media (min-width: $bp-lg) {
			@include child();
			padding-right: $post-spacing;
		}
	}

	&-subtitle {
		@include type(caption);
		display: block;

		&-item:not(:first-child) {
			padding-left: $post-spacing;
		}
	}
}

.c-copy {
	@include type(subtitle1);

	@include child();
	font-weight: 300;
	margin: ($post-spacing * 2) 0 0;

	> p,
	&-list,
	&-blockquote {
		font-size: calc(18px + 0.25vw);
		line-height: calc(34px + 0.2vw);
		word-wrap: break-word;
		word-break: break-word;
		margin-bottom: ($post-spacing * 4);
	}

	&-blockquote {
		@include parent(column);
		border: $post-border-size $post-border-style $post-border-color;
		border-radius: $post-border-radius;

		&-wrap {
			text-indent: 0;
			margin: 0;
			padding-left: ($post-spacing * 6);
		}

		&-header {
			background-color: $post-header-bg-color;
			@include child();
			border-bottom: $post-border-size $post-border-style $post-border-color;
			padding: $post-spacing ($post-spacing * 2);
		}

		&-meta {
			@include child();
		}

		&-date {
			@include child();
		}

		&-author,
		&-jumpto {
			display: inline;
		}

		&-body {
			@include child();
			padding: ($post-spacing * 3) ($post-spacing * 4);

			p {
				margin-bottom: 0;

				&:before,
				&:after,
				&:last-of-type:after {
					content: '';
				}
			}
		}

		.c-copy-blockquote-wrap {
			padding-left: ($post-spacing * 3);
		}

		.c-copy-blockquote {
			margin-bottom: ($post-spacing * 3);
		}
	}

	&-list {
		margin-right: 0;
		padding-left: ($post-spacing * 2);

		&,
		& & {
			margin: $post-spacing ($post-spacing * 3);
			margin-right: 0;
		}
	}

	&-links {
		//
	}

	&-bold {
		font-weight: 700;
	}

	&-italic {
		font-weight: 200;
		font-style: italic;
	}

	&-underline {
		text-decoration: underline;
	}

	&-img {
		//
	}

	&-attachment {
		//
	}

	pre {
		background-color: #282c34;
		max-height: $post-pre-max-height;
		padding: ($post-spacing * 3);
	}

	&-code {
		position: relative;

		&-action {
			border-radius: 50%;
			display: block;
			padding: ($post-spacing * 2);

			&:hover {
				background-color: $post-copy-code-action-bg-color;
				color: $post-copy-code-action-color;
			}

			&-wrap {
				position: relative;
				z-index: 999;
				float: right;
				margin-left: -($post-spacing * 9);
				padding-top: ($post-spacing * 2);
				padding-right: ($post-spacing * 2);
			}
		}
	}

	&-color {
		//
	}

	&-smilies {
		vertical-align: text-bottom;
	}

	&-emoji {
		width: $post-emoji-size;
		min-width: $post-emoji-size-min;
		height: $post-emoji-size;
		min-height: $post-emoji-size-min;
	}
}

.c-post-fluid {
	.c-post-title {
		font-size: fluid(24, 36, 400, 1100);
		line-height: fluid(36, 48, 400, 1100);
	}

	.c-copy {
		font-size: fluid(14, 21, 400, 1100);
		line-height: fluid(24, 36, 400, 1100);
	}
}
