//------------------------------------------------------------------------------
// @component: Toast
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$toast-spacing: $default-spacing !default;
$toast-height: $default-height !default;


// Theme Variables
$toast-bg-color: $default-info-dark-color !default;
$toast-bg-hover-color: $default-info-light-color !default;
$toast-text-color: $default-info-item-color !default;
$toast-success-color: $default-success-color !default;
$toast-success-hover-color: $default-success-dark-color !default;
$toast-important-color: $default-error-color !default;
$toast-important-hover-color: $default-error-dark-color !default;

//
// @scss
.c-toast {
	background-color: $toast-bg-color;
	opacity: 0;
	position: fixed;
	right: 0;
	bottom: ($toast-spacing * 10);
	left: auto;
	display: inline-flex;
	margin: 0 auto;
	padding: 0;
	transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1) 0ms, opacity 0.25s cubic-bezier(0.4, 0, 1, 1) 0ms;
	transform: translate(4%, 8%);
	pointer-events: none;
	will-change: transform;

	&-text {
		@include type(body1);
		color: $toast-text-color;
		display: flex;
		align-items: center;
		height: $toast-height;
		margin-right: auto;
		margin-left: 0;
		padding-right: ($toast-spacing * 3);
		padding-left: ($toast-spacing * 3);
	}

	&-action {
		color: $toast-text-color;
		display: flex;
		align-items: center;
		height: $toast-height;
		margin-right: auto;
		margin-left: 0;
		padding: ($toast-spacing * 0.75) ($toast-spacing * 3);

		&-success {
			color: $toast-success-color;

			&:hover,
			&:focus {
				color: $toast-success-hover-color;
			}
		}

		&-important {
			color: $toast-important-color;

			&:hover,
			&:focus {
				color: $toast-important-hover-color;
			}
		}

		&:hover,
		&:focus {
			background-color: $toast-bg-hover-color;
		}
	}

	&.is-active {
		opacity: 1;
		transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1) 0ms, opacity 0.25s cubic-bezier(0.4, 0, 1, 1) 0ms;
		transform: translate(0, 0);
		pointer-events: auto;
	}
}
