/*--------------------------------------------------------------------------*\
    $THEME
/*--------------------------------------------------------------------------*\
    Used to consolidate all theme files
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*\
    $ELEMENTS
/*--------------------------------------------------------------------------*/
.logo {
    background: url('../imgs/prosilver-logo.png') no-repeat;

    display: inline-block;
    height: 82px;
    margin-bottom: 24px;
    position: relative;
    width: 235px;
}
@media (min-width: 768px) {
    .logo {
        margin-bottom: -24px;
    }
}
.font-primary {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-secondary {
    font-family: 'Open Sans', 'Droid Sans', Verdana, Arial, Helvetica, sans-serif;
}
.font-code {
    font-family: Monaco, 'Andale Mono', 'Courier New', Courier, mono;
}
.font-normal {
    font-weight: 300;
}
.font-med {
    font-weight: 500;
}
.font-semi {
    font-weight: 700;
}
.font-bold {
    font-weight: 900;
}
.button {
    font: inherit;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;

    background-color: #F2F2F2;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #333;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;

    -webkit-appearance: none;
}
.button::-moz-focus-inner {
    border: 0;

    padding: 0;
}
.button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.button:hover, .button:focus, .button:active {
    text-decoration: none;
}
.button:hover, .button:focus {
    background-color: #DEDEDE;
    background-image: none;
    border-color: #CCC;
    color: #333;
}
.button:active, .button.active {
    background-color: #F2F2F2;
    background-image: none;
    border-color: #DEDEDE;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #333;
    outline: 0;
}
.button.disabled, .button[disabled], .button:disabled, fieldset[disabled] .button, fieldset:disabled .button {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0.65;
    cursor: not-allowed;

    pointer-events: none;

    filter: alpha(opacity=65);
}
.button.disabled, .button[disabled], .button:disabled, fieldset[disabled] .button, fieldset:disabled .button, .button.disabled:hover, .button[disabled]:hover, .button:disabled:hover, fieldset[disabled] .button:hover, fieldset:disabled .button:hover, .button.disabled:focus, .button[disabled]:focus, .button:disabled:focus, fieldset[disabled] .button:focus, fieldset:disabled .button:focus, .button.disabled:active, .button[disabled]:active, .button:disabled:active, fieldset[disabled] .button:active, fieldset:disabled .button:active, .button.disabled.active, .button[disabled].active, .button:disabled.active, fieldset[disabled] .button.active, fieldset:disabled .button.active {
    background-color: #F2F2F2;
    background-image: none;
    border-color: #DEDEDE;
}
.button {
    background-image: -webkit-linear-gradient(top, #F2F2F2 0%, #E6E6E6 100%);
    background-image:      -o-linear-gradient(top, #F2F2F2 0%, #E6E6E6 100%);
    background-image:         linear-gradient(to bottom, #F2F2F2 0%, #E6E6E6 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0);
}
.button:hover, .button:focus, .button:active, .button.active {
    background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #DEDEDE 100%);
    background-image:      -o-linear-gradient(top, #E6E6E6 0%, #DEDEDE 100%);
    background-image:         linear-gradient(to bottom, #E6E6E6 0%, #DEDEDE 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffdedede', GradientType=0);
}
.media-title {
    font-size: 35px;
    font-size: 2.1875rem;
    font-weight: 200;
    line-height: 42px;
    line-height: 2.625rem;

    color: #333;

    margin-bottom: 6px;
}
.media-title .media-image {
    display: block;
    margin: 0 auto 36px;
}
.media-copy {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 30px;
    line-height: 1.875rem;

    color: #808080;
}
.media-copy .media-image {
    display: block;
    margin: 36px auto 0;
}
.media-lg, .media-md, .media-sm {
    vertical-align: top;

    display: inline-block;
    padding: 30px;
}
.media-lg {
    padding-right: 72px;
    padding-left: 72px;
    width: 100%;
}
.media-lg .media-title {
    margin-bottom: 18px;
}
.media-lg .media-copy {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 44px;
    line-height: 2.75rem;
}
.media-md {
    width: 49%;
}
.media-md .media-title {
    font-size: 30px;
    font-size: 1.875rem;
}
.media-md .media-copy {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 42px;
    line-height: 2.625rem;
}
.media-sm {
    width: 32%;
}
.media-sm .media-title {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 30px;
    line-height: 1.875rem;
}
.label {
    font-size: 76%;
    font-weight: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    background-color: #4D4D4D;
    border-radius: 3px;
    color: #FFF;

    display: inline-block;
    padding: 3px 9px;
}
a.label:hover, a.label:focus {
    text-decoration: none;

    background-color: #404040;
    color: #FFF;
    cursor: pointer;
}
.label[href] {
    color: #FFF;
}
.label[href]:hover, .label[href]:focus {
    background-color: #404040;
    color: #FFF;
}
.label:empty {
    display: none;
}
.button .label {
    position: relative;
    top: -1px;
}
.label .fa:before {
    font-size: 16px;

    position: relative;
    top: 2px;
}
/*--------------------------------------------------------------------------*\
    $COMPONENTS
/*--------------------------------------------------------------------------*/
.color-title-margin {
    text-align: right;

    color: #0D4573;

    margin-top: 24px;
    margin-top: 1.5rem;
}
@media (max-width: 639px) {
    .color-title-margin {
        text-align: left;
    }
}
.color-title {
    text-align: right;

    color: #0D4573;
}
@media (max-width: 639px) {
    .color-title {
        text-align: left;
    }
}
.color-list li {
    cursor: pointer;

    padding: 0;
}
.swatch {
    border-radius: 6px;

    height: 100px;
    margin: 12px;
    margin: 0.75rem;
    margin: 15px 6px;
    width: 120px;
}
.swatch-inner-label {
    font-size: 60px;
    font-size: 3.75rem;
    text-align: center;
    text-transform: uppercase;

    display: block;
    margin-bottom: -85px;
    position: relative;
    top: -7px;
    width: 100%;
}
.swatch-label {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #0D4573;

    margin: 0;
    padding: 6px 12px;
    position: relative;
    top: 70px;
}
.swatch-hexcode {
    color: #47A1EB;

    display: block;
}
.swatch-black {
    background-color: #000;
}
a.swatch-black:hover {
    background-color: #000;
}
.swatch-gray-10 {
    background-color: #1A1A1A;
}
a.swatch-gray-10:hover {
    background-color: #000;
}
.swatch-gray-20 {
    background-color: #333;
}
a.swatch-gray-20:hover {
    background-color: #1A1A1A;
}
.swatch-gray-30 {
    background-color: #4D4D4D;
}
a.swatch-gray-30:hover {
    background-color: #333;
}
.swatch-gray-40 {
    background-color: #666;
}
a.swatch-gray-40:hover {
    background-color: #4D4D4D;
}
.swatch-gray-50 {
    background-color: #808080;
}
a.swatch-gray-50:hover {
    background-color: #666;
}
.swatch-gray-60 {
    background-color: #999;
}
a.swatch-gray-60:hover {
    background-color: #808080;
}
.swatch-gray-70 {
    background-color: #B3B3B3;
}
a.swatch-gray-70:hover {
    background-color: #999;
}
.swatch-gray-80 {
    background-color: #CCC;
}
a.swatch-gray-80:hover {
    background-color: #B3B3B3;
}
.swatch-gray-90 {
    background-color: #E6E6E6;
}
a.swatch-gray-90:hover {
    background-color: #CCC;
}
.swatch-gray-95 {
    background-color: #F2F2F2;
}
a.swatch-gray-95:hover {
    background-color: #D9D9D9;
}
.swatch-white {
    background-color: #FFF;
}
a.swatch-white:hover {
    background-color: #E6E6E6;
}
.swatch-primary {
    background-color: #0F538A;
}
a.swatch-primary:hover {
    background-color: #0A375C;
}
.swatch-primary-alt {
    background-color: #47A1EB;
}
a.swatch-primary-alt:hover {
    background-color: #198AE6;
}
.swatch-primary-accent {
    background-color: #0D4573;
}
a.swatch-primary-accent:hover {
    background-color: #082945;
}
.swatch-primary-hover {
    background-color: #E8305E;
}
a.swatch-primary-hover:hover {
    background-color: #CF1745;
}
.swatch-secondary {
    background-color: #709DC2;
}
a.swatch-secondary:hover {
    background-color: #4C85B3;
}
.swatch-secondary-alt {
    background-color: #DBE7F0;
}
a.swatch-secondary-alt:hover {
    background-color: #B8CEE0;
}
.swatch-secondary-accent {
    background-color: #C9DAE8;
}
a.swatch-secondary-accent:hover {
    background-color: #A6C2D9;
}
.swatch-secondary-hover {
    background-color: #FAF8D1;
}
a.swatch-secondary-hover:hover {
    background-color: #F5F1A3;
}
.swatch-ui {
    background-color: #DEDEDE;
}
a.swatch-ui:hover {
    background-color: #C4C4C4;
}
.swatch-ui-alt {
    background-color: #B3B3B3;
}
a.swatch-ui-alt:hover {
    background-color: #999;
}
.swatch-info {
    background-color: #D9EDF7;
}
a.swatch-info:hover {
    background-color: #AFD9EE;
}
.swatch-danger {
    background-color: #F2DEDE;
}
a.swatch-danger:hover {
    background-color: #E4B9B9;
}
.swatch-warning {
    background-color: #FCF8E3;
}
a.swatch-warning:hover {
    background-color: #F7ECB5;
}
.swatch-success {
    background-color: #DFF0D8;
}
a.swatch-success:hover {
    background-color: #C1E2B3;
}
.swatch-info-dark {
    background-color: #31708F;
}
a.swatch-info-dark:hover {
    background-color: #245269;
}
.swatch-danger-dark {
    background-color: #A94442;
}
a.swatch-danger-dark:hover {
    background-color: #843534;
}
.swatch-warning-dark {
    background-color: #8A6D3B;
}
a.swatch-warning-dark:hover {
    background-color: #66512C;
}
.swatch-success-dark {
    background-color: #3C763D;
}
a.swatch-success-dark:hover {
    background-color: #2B542C;
}
.swatch-header {
    background-image: -webkit-linear-gradient(#0076B1, #12A3EB 90px, #12A3EB);
    background-image:      -o-linear-gradient(#0076B1, #12A3EB 90px, #12A3EB);
    background-image:         linear-gradient(#0076B1, #12A3EB 90px, #12A3EB);
    background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0076b1', endColorstr='#ff12a3eb', GradientType=0);
}
.swatch-grad-blue-dark {
    background-image: -webkit-linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-image:      -o-linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-image:         linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff146eb8', endColorstr='#ff47a1eb', GradientType=0);
}
.swatch-grad-blue-dark-reverse {
    background-image: -webkit-linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-image:      -o-linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-image:         linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff47a1eb', endColorstr='#ff146eb8', GradientType=0);
}
.swatch-grad-blue-light {
    background-image: -webkit-linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-image:      -o-linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-image:         linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9dae8', endColorstr='#ffdbe7f0', GradientType=0);
}
.swatch-grad-blue-light-reverse {
    background-image: -webkit-linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-image:      -o-linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-image:         linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbe7f0', endColorstr='#ffc9dae8', GradientType=0);
}
.swatch-grad-gray {
    background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #FFF 100%);
    background-image:      -o-linear-gradient(top, #E6E6E6 0%, #FFF 100%);
    background-image:         linear-gradient(to bottom, #E6E6E6 0%, #FFF 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
}
.swatch-grad-gray-reverse {
    background-image: -webkit-linear-gradient(top, #FFF 0%, #E6E6E6 100%);
    background-image:      -o-linear-gradient(top, #FFF 0%, #E6E6E6 100%);
    background-image:         linear-gradient(to bottom, #FFF 0%, #E6E6E6 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}
.swatch-grad-bluegray {
    background-image: -webkit-linear-gradient(top, #B5C4D1 0%, #C9DAE8 100%);
    background-image:      -o-linear-gradient(top, #B5C4D1 0%, #C9DAE8 100%);
    background-image:         linear-gradient(to bottom, #B5C4D1 0%, #C9DAE8 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb5c4d1', endColorstr='#ffc9dae8', GradientType=0);
}
.swatch-grad-bluegray-reverse {
    background-image: -webkit-linear-gradient(top, #C9DAE8 0%, #B5C4D1 100%);
    background-image:      -o-linear-gradient(top, #C9DAE8 0%, #B5C4D1 100%);
    background-image:         linear-gradient(to bottom, #C9DAE8 0%, #B5C4D1 100%);
    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9dae8', endColorstr='#ffb5c4d1', GradientType=0);
}
.icon-list {
    cursor: pointer;

    padding: 0;
}
.icon-list > li {
    padding: 0;
}
.icon {
    margin: 6px;
    padding: 0;
}
.icon-wrap {
    font-size: 60px;
    font-size: 3.75rem;
    text-align: center;

    border-radius: 6px;
    color: #FFF;

    display: block;
    height: 100px;
    padding: 6px;
    width: 100px;
}
.icon-label {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    color: #B3B3B3;

    margin: 7px 0 0;
}
.lead {
    padding: 80px 0 60px;
}
.lead-title {
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 36px;
    line-height: 2.25rem;

    color: #FFF;

    margin: 0 0 36px;
}
@media (min-width: 639px) {
    .lead-title {
        font-size: 72px;
        font-size: 4.5rem;
    }
}
.lead-sub-title {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 36px;
    line-height: 2.25rem;

    color: #FFF;

    padding: 0 25px;
}
.lead-sub-title a {
    display: block;
}
.menu {
    display: none;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
    min-width: 215px;
}
@media (min-width: 990px) {
    .menu {
        display: block;
    }
}
.menu-item {
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;

    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}
.menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.menu-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    margin-bottom: 0;
}
a.menu-item {
    color: #47A1EB;
}
a.menu-item:hover, a.menu-item:focus {
    text-decoration: none;

    background-color: #47A1EB;
    color: #FFF;
}
.menu-item.active, .menu-item.active:hover, .menu-item.active:focus {
    background-color: #47A1EB;
    border-color: #DEDEDE;
    color: #FFF;

    z-index: 2;
}
.menu-heading {
    font-weight: 700;

    background-color: #0F538A;
    color: #FFF;
}
a.menu-heading {
    background-color: #FFF;
    color: #0F538A;
}
a.menu-heading:hover, a.menu-heading:focus {
    text-decoration: none;

    background-color: #0F538A;
    color: #FFF;
}
.menu-heading.active, .menu-heading.active:hover, .menu-heading.active:focus {
    background-color: #0F538A;
    color: #FFF;

    z-index: 2;
}
.panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    margin-bottom: 20px;
}
.panel-head {
    background-color: #709DC2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    padding: 10px 15px;
}
.panel-title {
    font-weight: 300;
    vertical-align: bottom;

    color: #FFF;

    margin-top: 0;
    margin-bottom: 0;
}
.panel-label {
    background-color: #FFF;
    color: #709DC2;
}
.panel-side > .panel-label {
    background-color: #709DC2;
    color: #FFF;
}
.panel-row {
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom: 0;
}
.panel-row > div {
    padding: 20px;
}
@media (min-width: 768px) {
    .panel-content {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: #DEDEDE;
    }
}
.panel-description {
    background-color: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom: 0;

    padding: 20px;
}
.panel-description p {
    margin: 0;
}
.panel-code {
    background-color: #4D4D4D;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom: 0;
    border-bottom-width: 1px;

    padding: 20px 20px 0;
}
.panel-code pre {
    background-color: #4D4D4D;
    border: 0;
    color: #FFF;

    margin: 0;
    padding: 0;
}
.panel-foot {
    font-weight: 300;

    background-color: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #B3B3B3;

    padding: 10px 15px;
}

/*# sourceMappingURL=theme.css.map */