//------------------------------------------------------------------------------
// @tool: Animations
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$default-animation-curve: $animation-curve-fast-out-slow-in !default;

//
// @scss
@mixin material-animation-fast-out-slow-in($duration: 0.2s) {
    transition-timing-function: $animation-curve-fast-out-slow-in;
    transition-duration: $duration;
}

@mixin material-animation-linear-out-slow-in($duration: 0.2s) {
    transition-timing-function: $animation-curve-linear-out-slow-in;
    transition-duration: $duration;
}

@mixin material-animation-fast-out-linear-in($duration: 0.2s) {
    transition-timing-function: $animation-curve-fast-out-linear-in;
    transition-duration: $duration;
}

@mixin material-animation-default($duration: 0.2s) {
    transition-timing-function: $animation-curve-default;
    transition-duration: $duration;
}
