//------------------------------------------------------------------------------
// @tool: Space
//------------------------------------------------------------------------------
// @description
//
// Space elements by an amount based on your magic number. Pass in the property
// to be indented as a paramater
//
// Based on Typeset
//
//------------------------------------------------------------------------------

//
// @scss
@mixin space($property) {
    #{$property}: rem(2 * $default-line-height);
}
