//------------------------------------------------------------------------------
// TOOLS: Typo
//------------------------------------------------------------------------------

//
// Settings
$typo-size: (
    display4:   112px,
    display3:   56px,
    display2:   45px,
    display1:   34px,
    headline:   24px,
    title:      20px,
    subhead1:   16px,
    subhead2:   16px,
    body1:      16px,
    body2:      16px,
    menu:       14px,
    button:     14px,
    caption:    12px,
    blockquote: 24px
) !default;


//
// Google MDL Mixins
@mixin type($type: 'title', $color-contrast: false, $use-preferred: false) {
    content: $type;
    //
    // Set 'font-size' & default 'line-height'
    @if $type {
      @include font-size(map-get($typo-size, $type));
    }
    //
    // Set Custom 'line-height'
    @if $type == 'display1' {
        line-height: px-to-unitless(40);
    }

    //
    // Set 'font-weight'
    $weight: (
        display4:   1,
        display2:   1,
        blockquote: 1,
        title:      2,
        menu:       2,
        button:     2,
        body2:      3
    );
    $fw: map-get($weight, $type);
    @if $fw == 1 {
        font-weight: 300;
    } @elseif $fw == 2 {
        font-weight: 500;
    } @elseif $fw == 3 {
        @if $use-preferred {
            font-weight: 500;
        } @else {
            font-weight: 700;
        }
    } @else {
        font-weight: 400;
    }

    //
    // Set 'letter-spacing'
    $letter: (
        blockquote:   1,
        subhead1:     2,
        subhead2:     2,
        title:        3,
        display3:     4,
        display4:     5
    );
    $ls: map-get($letter, $type);
    @if $ls == 1 {
        letter-spacing: 0.08em;
    } @elseif $ls == 2 {
        letter-spacing: 0.04em;
    } @elseif $ls == 3 {
        letter-spacing: 0.02em;
    } @elseif $ls == 4 {
        letter-spacing: -0.02em;
    } @elseif $ls == 5 {
        letter-spacing: -0.04em;
    } @else {
        letter-spacing: 0;
    }

    //
    // Set type specific properties
    @if $type == 'headline' {
        -moz-osx-font-smoothing: grayscale;
    } @elseif $type == 'blockquote' {
        font-style: italic;
        position: relative;
    } @elseif $type == 'button' {
        text-transform: uppercase;
    }

    //
    // Set 'opacity'
    $opacity: (
        blockquote:   1,
        display1:     1,
        display2:     1,
        display3:     1,
        display4:     1
    );
    $o: map-get($opacity, $type);
    @if $color-contrast {
        @if $type == 1 {
            opacity: 0.54;
        } @else {
            opacity: 0.87;
        }
    }
}

@mixin typo-icon() {
    font-family: 'Material Icons';
    font-size: rem(24);
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    word-wrap: normal;
    display: inline-block;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
