{# emoji.twig #}
{% extends "./layout/layout.twig" %}

{% block title %}
	Emoji
{% endblock %}

{% block main %}
	<div class="o-container">
		{% include './includes/emoji-picker.twig' %}
	</div>
{% endblock %}
