{# index.twig #}
{% extends "./layout/layout.twig" %}

{% block main %}
<section class="o-container">
	{% include './includes/forum.twig' %}
</section>
{% endblock %}

{% block footer %}
<section class="o-container">
	{% include './includes/stats.twig' %}
</section>
{% endblock %}
