{
	"extends": "xo",
	"rules": {
        "quotes": [
            "error",
            "single"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "block-spacing": "error",
        "array-bracket-spacing": [
            "error",
            "always"
        ],
        "multiline-comment-style": "off",
        "computed-property-spacing": "off",
        "space-in-parens": "off",
        "capitalized-comments": "off",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-lonely-if": "off",
        "unicorn/prefer-module": "off",
        "space-before-function-paren": [
            "error",
            "always"
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    }
}
