//------------------------------------------------------------------------------
// @object: Bar
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$bar-spacing: $default-spacing !default;
$bar-avatar-size: $default-icon-lg !default;
$bar-height: $default-height !default;
$bar-logo-max-height: 24px !default;
$bar-logo-width: 64px !default;
$bar-badge-radius: 50px !default;
$bar-profile-max: 296px !default;
$bar-opacity-1: $default-opacity !default;
$bar-opacity-87: $default-opacity-87 !default;
$bar-opacity-54: $default-opacity-54 !default;
$bar-opacity-38: $default-opacity-38 !default;
$bar-opacity-12: $default-opacity-12 !default;


// Theme Variables
$bar-bg-color: $default-action-bg !default;
$bar-bg-hover-color: $default-action-bg-hover !default;
$bar-color: $default-action-color !default;
$bar-hover-color: $default-action-color-hover !default;
$bar-user-title-color: $default-text-color !default;
$bar-badge-color: $white !default;
$bar-badge-bg-color: $default-important-color !default;


//
// @scss

//
// 1. handle inconsistent rendering of ul across browsers when not using as
//    a list element
// 2. Magic alignment
//
.o-bar {
	@include parent();
	background-color: $bar-bg-color;
	flex-wrap: nowrap;

	&-left,
	&-right {
		line-height: 0; // [1]
		flex-shrink: 1;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&-left {
		align-self: flex-end;
		margin-right: auto; // [2]
	}

	&-left &-item {
		float: left;
	}

	&-right {
		align-self: flex-start;
		margin-left: auto; // [2]
	}

	&-right &-item {
		line-height: 0;
		float: right;
	}

	&-item-text {
		padding-left: $bar-spacing;
	}

	&-info {
		color: $bar-user-title-color;
		@include center($bar-height);
		padding: ($bar-spacing * 2);
		padding-right: 0;
	}

	&-logo {
		position: relative;
		@include center($bar-height);
		overflow: hidden;
		padding: ($bar-spacing * 2);

		&-icon {
			width: $bar-logo-width;
			height: auto;
			max-height: $bar-logo-max-height;
		}
	}

	&-action {
		@include type(subhead2, $lh: 1.5, $fw: 700);
		color: $bar-color;
		position: relative;
		@include center($bar-height);
		overflow: hidden;
		padding: ($bar-spacing * 2);
		transform: translate3d(0, 0, 0);

		&:after {
			background-image: radial-gradient(circle, $black 10%, transparent 10.01%);
			background-repeat: no-repeat;
			background-position: 50%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: "";
			transition: transform 0.5s, opacity 1s;
			transform: scale(10, 10);
			pointer-events: none;
		}

		&:active:after {
			opacity: 0.2;
			transition: 0s;
			transform: scale(0, 0);
		}

		&:hover,
		&:focus {
			background-color: $bar-bg-hover-color;
			outline: 0;
			color: $bar-hover-color;
			transition: 0.5s;
		}

		&-text {
			display: none;
			@media (min-width: $bp-sm) {
				display: inline-flex;
			}
		}

		&-icon + &-text,
		&-text + &-icon {
			padding-left: $bar-spacing;
		}
	}

	&-avatar {
		display: inline-block;
		width: $bar-avatar-size;
		height: $bar-avatar-size;
		margin: 0 $bar-spacing 0 0;
		padding: 0;
	}

	&-title {
		@include type(title, $lh: 1);
		@include child();
		@include center($bar-height);
		float: left;
		margin-bottom: 0;
		padding: ($bar-spacing * 2);
	}

	&-profile {
		@include center($bar-height);
		max-width: $bar-profile-max;
		padding: $bar-spacing ($bar-spacing * 2);
	}

	&-user {
		@include type(body2, $lh: 1.35);
		padding: 0 ($bar-spacing * 2) 0 0;

		&-title {
			@include type(caption);
			color: $bar-user-title-color;
			opacity: $bar-opacity-54;
			display: block;
		}
	}

	&-badge {
		background-color: $bar-badge-bg-color;
		border-radius: $bar-badge-radius;
		color: $bar-badge-bg-color;
		overflow: hidden;
		align-self: center;
		width: 10px;
		height: 12px;
		margin: -($bar-spacing * 1.5) 0 0 -($bar-spacing * 1.5);

		@media (min-width: $bp-sm) {
			color: $bar-badge-color;
			display: inline-flex;
			width: auto;
			height: auto;
		}
	}
}
