//------------------------------------------------------------------------------
// @object: Button
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$btn-spacing: 16px !default;
$btn-padding: $btn-spacing !default;
$btn-border-radius: $default-border-radius !default;
$btn-min-width: ($btn-spacing * 4) !default;
$btn-height: ($btn-spacing * 2.375) !default;

// Theme Variables
$btn-background-color: $gray-100 !default;
$btn-hover-color: $gray-200 !default;
$btn-active-color: $gray-300 !default;
$btn-text-color: $black-54 !default;
$btn-text-hover-color: $default-primary-color !default;


//
// @scss

//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Fixes odd inner spacing in IE7.
// 7. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
// 8. Prevent button text from being selectable.
// 9. Prevent deafult browser outline halo
//
.o-btn {
	@include type(button);
	@include shadow(2);
	line-height: $btn-height;
	text-align: center; // [4]
	vertical-align: middle; // [2]
	white-space: nowrap; // bs only
	text-decoration: none; // [4]
	background-color: $btn-background-color;
	border: none;
	border-radius: $btn-border-radius;
	outline: none; // [9]
	color: $btn-text-color;
	position: relative;
	display: inline-block; // [1]
	overflow: hidden; // [6]
	min-width: $btn-min-width; // google material design
	margin: 0; // [4]
	padding: 0 $btn-padding; // [7]
	cursor: pointer;
	user-select: none; // [8]
	transition:
		box-shadow 0.2s $animation-curve-fast-out-linear-in,
		background-color 0.2s $default-animation-curve,
		color 0.2s $default-animation-curve;
	will-change: box-shadow; // google material design

	// UI states
	&:hover {
		text-decoration: none;  // [4]
		background-color: $btn-hover-color;
		color: $btn-text-hover-color;
	}

	&:focus {
		@include shadow(focus);
		outline: none; // [9]
	}

	&:disabled {
		background-color: transparent;
		box-shadow: none;
		cursor: default;
	}

	// Remove excess padding and border in Firefox 4+
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
