//------------------------------------------------------------------------------
// #object: Col
//------------------------------------------------------------------------------
// #description:
//
// This grid system is uses flex-box based on the BS4 grid system
//
//------------------------------------------------------------------------------


//
// #scss

//
// Setup all grid columns to use table cell layout and use the default gutter
@for $i from 1 through 12 {
	.o-col-#{$i} {
		@include col-width($i);
	}
}

@for $i from 1 through 12 {
	.o-pull-#{$i} {
		@include pull($i);
	}
}

@for $i from 1 through 12 {
	.o-push-#{$i} {
		@include push($i);
	}
}

@for $i from 1 through 12 {
	.o-offset-#{$i} {
		@include offset($i);
	}
}

//
// small widths
@media (min-width: $bp-sm) {
	.o-pull-sm-0 {
		right: auto;
	}

	.o-push-sm-0 {
		left: auto;
	}
	@for $i from 1 through 12 {
		.o-col-sm-#{$i} {
			@include col-width($i);
		}
	}

	@for $i from 1 through 12 {
		.o-pull-sm-#{$i} {
			@include pull($i);
		}
	}

	@for $i from 1 through 12 {
		.o-push-sm-#{$i} {
			@include push($i);
		}
	}

	@for $i from 1 through 12 {
		.o-offset-sm-#{$i} {
			@include offset($i);
		}
	}
}

//
// medium widths
@media (min-width: $bp-md) {
	.o-pull-md-0 {
		right: auto;
	}

	.o-push-md-0 {
		left: auto;
	}
	@for $i from 1 through 12 {
		.o-col-md-#{$i} {
			@include col-width($i);
		}
	}

	@for $i from 1 through 12 {
		.o-pull-md-#{$i} {
			@include pull($i);
		}
	}

	@for $i from 1 through 12 {
		.o-push-md-#{$i} {
			@include push($i);
		}
	}

	@for $i from 1 through 12 {
		.o-offset-md-#{$i} {
			@include offset($i);
		}
	}
}

//
// large widths
@media (min-width: $bp-lg) {
	.o-pull-lg-0 {
		right: auto;
	}

	.o-push-lg-0 {
		left: auto;
	}
	@for $i from 1 through 12 {
		.o-col-lg-#{$i} {
			@include col-width($i);
		}
	}

	@for $i from 1 through 12 {
		.o-pull-lg-#{$i} {
			@include pull($i);
		}
	}

	@for $i from 1 through 12 {
		.o-push-lg-#{$i} {
			@include push($i);
		}
	}

	@for $i from 1 through 12 {
		.o-offset-lg-#{$i} {
			@include offset($i);
		}
	}
}

//
// extra-large widths
@media (min-width: $bp-xl) {
	.o-pull-xl-0 {
		right: auto;
	}

	.o-push-xl-0 {
		left: auto;
	}
	@for $i from 1 through 12 {
		.o-col-xl-#{$i} {
			@include col-width($i);
		}
	}

	@for $i from 1 through 12 {
		.o-pull-xl-#{$i} {
			@include pull($i);
		}
	}

	@for $i from 1 through 12 {
		.o-push-xl-#{$i} {
			@include push($i);
		}
	}

	@for $i from 1 through 12 {
		.o-offset-xl-#{$i} {
			@include offset($i);
		}
	}
}

.o-pull-0 {
	right: auto;
}

.o-push-0 {
	left: auto;
}
