//------------------------------------------------------------------------------
// #object: Form
//------------------------------------------------------------------------------
// #description
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$form-spacing: $default-spacing !default;
$form-icon-size: $default-icon-sm !default;
$form-select-icon-size: $default-height !default;
$form-select-icon-position: 12px !default;
$form-select-icon-offset: 20px !default;

// Theme Variables
$form-select-border-color: $default-action-bg !default;
$form-select-border-hover-color: $default-action-bg-hover !default;
$form-icon-color: $default-action-color !default;
$form-label-color: $default-action-color !default;
$form-active-color: $default-action-color-hover !default;
$form-select-icon-hover-color: $default-action-color-hover !default;


//
// #scss

.o-form {
	&-group {
		position: relative;
		@include vertical-rhythm();
		display: block;
	}

	&-row {
		@include parent();
		flex-wrap: wrap;
		margin-right: -($form-spacing * 3);

		@media (min-width: $bp-sm) {
			.o-form-group {
				flex-grow: 1;
				margin-right: ($form-spacing * 3);
			}
		}
	}

	&-select {
		position: relative;

		&:before {
			@include background-triangle($form-icon-color);
			background-repeat: no-repeat;
			background-position: center $form-select-icon-position;
			position: absolute;
			top: 0;
			right: 0;
			width: $form-select-icon-size;
			height: $form-select-icon-size;
			padding: $form-spacing;
			content: " ";
			transition: 0.5s;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			&:before {
				@include background-triangle($form-select-icon-hover-color);
				outline: 0;
				color: $form-active-color;
			}
		}
	}

	&-floating-label {
		color: $form-label-color;
		position: absolute;
		bottom: 0;
		margin-left: ($form-spacing * 2);
		will-change: transform;

		textarea + & {
			top: ($form-spacing * 1.5);
		}

		input:focus + &,
		textarea:focus + & {
			font-size: 11px;
			color: $form-active-color;
			transform: translateY(-($form-spacing * 2));
		}

		.o-form-group-with-icon & {
			margin-left: ($form-spacing * 6.5);
		}
	}

	&-helptext {
		margin: ($form-spacing / 2) 0;
	}

	&-icon {
		color: $form-icon-color;
		position: absolute;
		right: auto;
		bottom: ($form-spacing * 2);
		left: ($form-spacing * 2);

		+ [type="text"] {
			padding-left: ($form-icon-size + ($form-spacing * 4));
		}
	}
}
