//------------------------------------------------------------------------------
// #object: Form
//------------------------------------------------------------------------------
// #description
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$form-spacing: $sp1 !default;
$form-icon-size: $default-icon-sm !default;
$form-floating-label-font-size: 11px !default;
$form-select-icon-size: $default-height !default;
$form-select-icon-position: 12px !default;
$form-select-icon-offset: 20px !default;

// Theme Variables
$form-color: $default-action-color !default;
$form-active-color: $default-action-color-hover !default;
$form-active-error-color: $default-error-color !default;


//
// #scss

.o-form {
	&-group {
		@include vertical-rhythm();
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 ($form-spacing * 2);
	}

	&-row {
		@include parent();
		flex-wrap: wrap;
		margin-right: -($form-spacing * 3);

		@media (min-width: $bp-sm) {
			.o-form-group {
				flex-grow: 1;
				margin-right: ($form-spacing * 3);
			}
		}
	}

	&-select {
		position: relative;

		&:before {
			@include background-triangle($form-color);
			background-repeat: no-repeat;
			background-position: center $form-select-icon-position;
			position: absolute;
			top: 0;
			right: 0;
			width: $form-select-icon-size;
			height: $form-select-icon-size;
			padding: $form-spacing;
			content: ' ';
			transition: 0.5s;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			&:before {
				@include background-triangle($form-active-color);
				outline: 0;
				color: $form-active-color;
			}
		}
	}

	&-floating-label {
		color: $form-color;
		position: absolute;
		bottom: 0;
		margin-left: ($form-spacing * 2);
		will-change: transform;

		textarea ~ & {
			top: ($form-spacing * 3);
		}

		input:focus ~ &,
		textarea:focus ~ & {
			font-size: $form-floating-label-font-size;
			color: $form-active-color;
			transform: translateY(-($form-spacing * 2.5));
		}

		input:focus:invalid ~ &,
		textarea:focus:invalid ~ & {
			color: $form-active-color;
		}

		.o-form-group-with-icon & {
			margin-left: ($form-spacing * 5.5);
		}
	}

	&-help-text {
		margin: -($form-spacing * 5) 0 0 ($form-spacing * 2);
	}

	&-input {
		padding-bottom: ($form-spacing * 2);
	}

	&-leading-icon {
		color: $form-color;
		position: absolute;
		margin-top: ($form-spacing * 2);
		margin-left: ($form-spacing * 2);

		~ .o-form-input {
			padding-left: ($form-icon-size + ($form-spacing * 3.5));
		}
	}

	&-trailing-icon {
		color: $form-color;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: ($form-spacing * 2);
		margin-right: ($form-spacing * 4);
	}
}
