//------------------------------------------------------------------------------
// #object: Form
//------------------------------------------------------------------------------
// #description
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$form-spacing: $default-spacing !default;
$form-select-icon-size: $default-icon-lg !default;
$form-select-icon-positionx: 8px !default;
$form-select-icon-positiony: 4px !default;
$form-select-icon-offset: 20px !default;

// Theme Variables
$form-select-border-color: $default-action-bg !default;
$form-select-border-hover-color: $default-action-bg-hover !default;
$form-select-icon-color: $default-action-color !default;
$form-select-icon-color: $default-action-color !default;
$form-select-icon-hover-color: $default-action-color-hover !default;


//
// #scss

.o-form {
	&-group {
		@include child();
	}

	&-inline {
		@include parent();
	}

	&-select {
		> select {
			border-right: ($input-padding * 5) solid $form-select-border-color;
		}

		&:before {
			@include background-triangle($form-select-icon-color);
			background-position: $form-select-icon-positionx $form-select-icon-positiony;
			position: absolute;
			top: 0;
			right: $form-select-icon-offset;
			width: $form-select-icon-size;
			height: $form-select-icon-size;
			padding: $form-spacing;
			content: " ";
			transition: 0.5s;
			pointer-events: none;
		}

		&:hover {
			&:before {
				@include background-triangle($form-select-icon-hover-color);
				border-right: ($input-padding * 5) solid $form-select-border-hover-color;
				outline: 0;
				color: #258cf4;
			}
		}
	}
}
