//------------------------------------------------------------------------------
// @object: Grid
//------------------------------------------------------------------------------
// @description
//
// This grid system uses table layout to simplify the use of a grid. Define the
// wrapper with o-grid class and all wrappers within in it use o-col object
// combined with o-col-x-x modifier to set the width which enables
// table-layout: fixed on all layouts large enough to not be fluid. The system
// disables this once you reach small devices where fluid layouts are better.
// The grid col & sizes can both be applied either in your html (recomended) or
// as a mixin.
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables


//
// @scss
//
// Set up the default container and grid class for mobile browsers
.o-container {
	position: relative;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $default-grid-gutter;
	padding-left: $default-grid-gutter;

	//
	// Establist container sizes for all devices larger than mobile

	//
	// small
	@media (min-width: $bp-sm) {
		width: $sm;
	}

	//
	// medium
	@media (min-width: $bp-md) {
		width: $md;
	}

	//
	// large
	@media (min-width: $bp-lg) {
		width: $lg;
	}

	//
	// extre-large
	@media (min-width: $bp-xl) {
		width: $xl;
	}
}

/* stylelint-disable value-no-vendor-prefix */
.o-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$grid-gutter;
	margin-left: -$grid-gutter;
}
/* stylelint-enable value-no-vendor-prefix */

.o-col {
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 1px;
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
}
