//------------------------------------------------------------------------------
// #object: Grid
//------------------------------------------------------------------------------
// #description
//
// This grid system is uses flex-box based on the BS4 grid system
//
//------------------------------------------------------------------------------

//
// #settings
$grid-gutter: $default-grid-gutter !default;

//
// #scss

//
// Set up the default container and grid class for mobile browsers
.o-container {
	position: relative;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $grid-gutter;
	padding-left: $default-grid-gutter;

	//
	// Establist container sizes for all devices larger than mobile

	//
	// small
	@media (min-width: $bp-sm) {
		width: $sm;
	}

	//
	// medium
	@media (min-width: $bp-md) {
		width: $md;
	}

	//
	// large
	@media (min-width: $bp-lg) {
		width: $lg;
	}

	//
	// extre-large
	@media (min-width: $bp-xl) {
		width: $xl;
	}
}

/* stylelint-disable value-no-vendor-prefix */
.o-row {
	@include parent();
	flex-wrap: wrap;
	margin-right: -$grid-gutter;
	margin-left: -$grid-gutter;
}
/* stylelint-enable value-no-vendor-prefix */

.o-col {
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 1px;
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
}
