//------------------------------------------------------------------------------
// #object: Icon
//------------------------------------------------------------------------------
// #description
//
//------------------------------------------------------------------------------

//
// #settings
$icon-size: 24px !default;
$icon-spacing: 8px !default;

//
// #scss

//
// Most commonly we want specific sizing and alignment for icons in links
// as such we target tthe most common approach to including icons svgs.
// However a modifier is available if you are usinf icon fonts
//

.o-icon {
	vertical-align: middle;
	width: $icon-size;
	height: $icon-size;

	&.fa {
		font-size: $icon-size;
		vertical-align: baseline;
	}
}
