//------------------------------------------------------------------------------
// @object: Icon
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
//------------------------------------------------------------------------------

//
// #settings
$icon-size: $default-icon-md !default;

//
// #scss

//
// Most commonly we want specific sizing and alignment for icons in links
// as such we target tthe most common approach to including icons svgs.
// However a modifier is available if you are usinf icon fonts
//

.o-icon {
	vertical-align: middle;
	width: $icon-size;
	height: $icon-size;

	&.fa {
		font-size: $icon-size;
		vertical-align: baseline;
	}
}
