//------------------------------------------------------------------------------
// object: Modal
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$modal-spacing: $sp1 !default;
$modal-border-radius: $default-border-radius !default;
$modal-min-width-sm: 280px !default;
$modal-min-width-lg: 640px !default;
$modal-max-width: 865px !default;

// Theme Variables
$modal-background-color: $default-action-bg !default;
$modal-text-color: $default-action-color !default;


//
// @scss
.o-modal {
	@include shadow(4);
	@include parent(column);
	background-color: $modal-background-color;
	border-radius: $modal-border-radius;
	opacity: 0;
	width: calc(100% - ($modal-spacing * 4));
	min-width: $modal-min-width-sm;
	max-width: $modal-max-width;
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
	transform: scale(1.2);

	&-mask {
		background-color: rgba(0, 0, 0, 0.38);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		&.is-active {
			display: inline-flex;

			.o-modal {
				opacity: 1;
				transition: all 0.3s ease;
				transform: scale(1);
			}
		}
	}

	&-header {
		display: flex;
		align-items: center;
		padding: ($modal-spacing * 3) ($modal-spacing * 3) 0;

		&-title {
			@include type(title);
			flex: 1;
			margin: 0;
		}
	}

	&-body {
		@include type(body1);
		color: $modal-text-color;
		margin-top: ($modal-spacing * 3) 0 0;
		padding: 0 ($modal-spacing * 3) ($modal-spacing * 3);

		@media (min-width: $bp-md) {
			line-height: 1.5;
		}
	}

	&-footer {
		@include parent();
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		padding: $modal-spacing;
	}

	&-action {
		box-shadow: none;
		margin-right: $modal-spacing;
	}

	@media (min-width: $bp-md) {
		min-width: $modal-min-width-lg;
	}
}
