//------------------------------------------------------------------------------
// #object: Tag
//------------------------------------------------------------------------------
// #description
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$tag-spacing: 8px !default;
$tag-border-radius: $default-border-radius !default;

// Theme Variables
$tag-background-color: $default-info-color !default;
$tag-color: $white !default;

//
// #scss

.o-tag {
	@include type(caption, $lh: 1);
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: $tag-background-color;
	border-radius: $tag-border-radius;
	color: $tag-color;
	display: inline-flex;
	margin: 0 $tag-spacing 0 0;
	padding: ($tag-spacing / 2) (($tag-spacing / 2) + 2px);

	// Empty tags collapse automatically
	&:empty {
		display: none;
	}
}
