//------------------------------------------------------------------------------
// @object: Tag
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$tag-spacing: $sp1-2 $sp1 !default;
$tag-border-radius: $default-border-radius !default;

// Theme Variables
$tag-background-color: $default-info-color !default;
$tag-color: $default-info-item-color !default;

//
// #scss

.o-tag {
	@include type(caption, $lh: 1);
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: $tag-background-color;
	border-radius: $tag-border-radius;
	color: $tag-color;
	display: inline-flex;
	margin: $tag-spacing;
	padding: $tag-spacing;

	// Empty tags collapse automatically
	&:empty {
		display: none;
	}
}
