//------------------------------------------------------------------------------
// @tool: Center
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
// Mixin for centering content in the vertical center of an element.
//
//------------------------------------------------------------------------------

//
// @settings

//
// @scss

@mixin center($height: false) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	@if ($height) {
		height: $height;
	}
}
