//------------------------------------------------------------------------------
// @tool: Font-size
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.1.0
// @description
//
//
// Typeset Mixins
//
// Quickly generate a font-size in rems, with a pixel fallback, based on the
// value we pass into the mixin
//
//------------------------------------------------------------------------------

@use 'sass:math';

//
// @scss
@mixin font-size($font-size, $line-height: true) {
	font-size: rem($font-size);
	@if $line-height == true {
		line-height: ceil(math.div($font-size, $default-line-height)) * math.div($default-line-height, $font-size);
	}
}
