//------------------------------------------------------------------------------
// @tool: Font-size
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
//
// Typecsset Mixins
//
// Quickly generate a font-size in rems, with a pixel fallback, based on the
// value we pass into the mixin
//
//------------------------------------------------------------------------------

//
// @scss
@mixin font-size($font-size, $line-height: true) {
	font-size: rem($font-size);
	@if $line-height == true {
		line-height: ceil($font-size / $default-line-height) * ($default-line-height / $font-size);
	}
}
