//------------------------------------------------------------------------------
// @tool: Vertical Rhythm
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
// A lot of elements need to share some declarations (mainly for
// vertical rhythm), so we `extend` some silent classes.
//
// based on Typeset
//
//------------------------------------------------------------------------------

//
// @scss
@mixin vertical-rhythm {
	margin: 0 0 $default-line-height;
}
