
<section id="icons" class="icons panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.element.icons.order }}</span> {{ sections.element.icons.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Icon Reference
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Button</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-plus"></i></span>
                        <p class="icon-label">NEW</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-lock"></i></span>
                        <p class="icon-label">LOCK</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-mail-forward"></i></span>
                        <p class="icon-label">FORWARD</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-mail-reply"></i></span>
                        <p class="icon-label">REPLY</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-sort-down"></i></span>
                        <p class="icon-label">CARET</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-wrench"></i></span>
                        <p class="icon-label">TOOLS</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Navigation</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-edit"></i></span>
                        <p class="icon-label">REGISTER</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-home"></i></span>
                        <p class="icon-label">HOME</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-question-circle"></i></span>
                        <p class="icon-label">FAQ</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-bell-o"></i></span>
                        <p class="icon-label">NOTIFICATION</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-inbox"></i></span>
                        <p class="icon-label">PM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-power-off"></i></span>
                        <p class="icon-label">LOGIN / LOGOUT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-search"></i></span>
                        <p class="icon-label">SEARCH</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-cog"></i></span>
                        <p class="icon-label">ADV SEARCH</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-location-arrow"></i></span>
                        <p class="icon-label">PAGE JUMP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-share-square-o"></i></span>
                        <p class="icon-label">JUMP TO</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-user"></i></span>
                        <p class="icon-label">PROFILE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-sliders"></i></span>
                        <p class="icon-label">UCP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-gavel"></i></span>
                        <p class="icon-label">MCP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-cogs"></i></span>
                        <p class="icon-label">ADMIN</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Action</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-sort-amount-desc"></i></span>
                        <p class="icon-label">DISPLAY & SORT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-gavel"></i></span>
                        <p class="icon-label">MOD TOOLS</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-check-square"></i></span>
                        <p class="icon-label">MARK</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-square-o"></i></span>
                        <p class="icon-label">SUBSCRIBE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-check-square-o"></i></span>
                        <p class="icon-label">UNSUBSCRIBE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-level-up"></i></span>
                        <p class="icon-label">BUMP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-bookmark"></i></span>
                        <p class="icon-label">BOOKMARK</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-envelope-o"></i></span>
                        <p class="icon-label">SEND EMAIL</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-print"></i></span>
                        <p class="icon-label">PRINT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-accent"><i class="fa fa-cloud-download"></i></span>
                        <p class="icon-label">DOWNLOAD</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Post</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-align-left"></i></span>
                        <p class="icon-label">POST MENU</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-pencil"></i></span>
                        <p class="icon-label">EDIT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-times"></i></span>
                        <p class="icon-label">DELETE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-info"></i></span>
                        <p class="icon-label">INFO</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-exclamation"></i></span>
                        <p class="icon-label">REPORT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-exclamation-circle"></i></span>
                        <p class="icon-label">REPORTED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-check-circle-o"></i></span>
                        <p class="icon-label">APPROVED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-times-circle-o"></i></span>
                        <p class="icon-label">UNAPPROVED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-exclamation-triangle"></i></span>
                        <p class="icon-label">WARN</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-quote-left"></i></span>
                        <p class="icon-label">QUOTE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-quote-right"></i></span>
                        <p class="icon-label">RTL QUOTE</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Footer</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-group"></i></span>
                        <p class="icon-label">MEMBERS</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-shield"></i></span>
                        <p class="icon-label">TEAM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-trash-o"></i></span>
                        <p class="icon-label">DELETE COOKIES</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Directional</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-alt"><i class="fa fa-angle-down"></i></span>
                        <p class="icon-label">DOWN</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-alt"><i class="fa fa-angle-up"></i></span>
                        <p class="icon-label">UP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-alt"><i class="fa fa-angle-left"></i></span>
                        <p class="icon-label">LEFT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-alt"><i class="fa fa-angle-right"></i></span>
                        <p class="icon-label">RIGHT</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Editor</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-bold"></i></span>
                        <p class="icon-label">BOLD</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-italic"></i></span>
                        <p class="icon-label">ITALIC</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-underline"></i></span>
                        <p class="icon-label">UNDERLINE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-quote-right"></i></span>
                        <p class="icon-label">QUOTE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-code"></i></span>
                        <p class="icon-label">CODE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-list"></i></span>
                        <p class="icon-label">LIST</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-list-ol"></i></span>
                        <p class="icon-label">LIST=</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-asterisk"></i></span>
                        <p class="icon-label">LIST ITEM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-picture-o"></i></span>
                        <p class="icon-label">IMAGE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-link"></i></span>
                        <p class="icon-label">URL</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-font"></i></span>
                        <p class="icon-label">FONT SIZE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-tint"></i></span>
                        <p class="icon-label">COLOR</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-strikethrough"></i></span>
                        <p class="icon-label">STRIKE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-code-fork"></i></span>
                        <p class="icon-label">GIST</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-ui"><i class="fa fa-smile-o"></i></span>
                        <p class="icon-label">SMILES</p>
                    </li>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Other</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-times-circle"></i></span>
                        <p class="icon-label">ALERT CLOSE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-chevron-circle-up"></i></span>
                        <p class="icon-label">TOP</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-plus-square"></i></span>
                        <p class="icon-label">EXPAND</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-minus-square"></i></span>
                        <p class="icon-label">COLLAPSE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-files-o"></i></span>
                        <p class="icon-label">PAGES</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-paperclip"></i></span>
                        <p class="icon-label">ATTACH</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-recycle"></i></span>
                        <p class="icon-label">TOPIC DELETED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-external-link"></i></span>
                        <p class="icon-label">LATEST / NEWEST</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-file-text"></i></span>
                        <p class="icon-label">SUBFORUM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-bar-chart-o"></i></span>
                        <p class="icon-label">POLL</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Forums</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-comments"></i></span>
                        <p class="icon-label">FORUM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-comments-o"></i></span>
                        <p class="icon-label">HAS SUBFORUMS</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-lock"></i></span>
                        <p class="icon-label">LOCKED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary"><i class="fa fa-link"></i></span>
                        <p class="icon-label">LINKED</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Topics</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-file-text-o"></i></span>
                        <p class="icon-label">TOPIC</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-fire"></i></span>
                        <p class="icon-label">HOT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-thumb-tack"></i></span>
                        <p class="icon-label">STICKY</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-info-circle"></i></span>
                        <p class="icon-label">ANNOUNCEMENT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-primary-hover"><i class="fa fa-arrows"></i></span>
                        <p class="icon-label">MOVED</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Social</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="icon-list list-inline">
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-comment-o"></i></span>
                        <p class="icon-label">CONTACT</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-comment"></i></span>
                        <p class="icon-label">PM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-envelope"></i></span>
                        <p class="icon-label">EMAIL</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-globe"></i></span>
                        <p class="icon-label">WWW</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-lightbulb-o"></i></span>
                        <p class="icon-label">JABBER</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-skype"></i></span>
                        <p class="icon-label">SKYPE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-rss-square"></i></span>
                        <p class="icon-label">FEED</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-facebook"></i></span>
                        <p class="icon-label">FACEBOOK</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-twitter"></i></span>
                        <p class="icon-label">TWITTER</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-google-plus-square"></i></span>
                        <p class="icon-label">GOOGLE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-yahoo"></i></span>
                        <p class="icon-label">YAHOO</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa-youtube-play"></i></span>
                        <p class="icon-label">YOUTUBE</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa2-aim middle"></i></span>
                        <p class="icon-label">AIM</p>
                    </li>
                    <li class="icon">
                        <span class="icon-wrap swatch-secondary"><i class="fa fa2-icq middle"></i></span>
                        <p class="icon-label">ICQ</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-code">
            <pre class="code-color lang-html" data-language="html">
&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;
            </pre>
        </div>
        <div class="panel-foot">
            Version: {{ sections.element.icons.version }}
        </div>
    </div>
</section>
