//------------------------------------------------------------------------------
// @base: Links
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description:
//
// Establish the default link look
//
// And undo it for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
//
// It would be more straightforward to just use a[href] in previous block, but
// that causes specificity issues in many other styles that are too complex to
// fix.
//
//
// See https://github.com/twbs/bootstrap/issues/19402
//
// 1. Its more problematic when setting text-decoration globally so we remove in
//    favour of specific components/helpers setting it as needed.
//
//------------------------------------------------------------------------------

//
// #settings

// Theme Variables
$link-color: $default-primary-color !default;
$link-hover-color: $default-primary-dark-color !default;

//
// #scss

a {
	text-decoration: none;
	color: $link-color;

	&:focus,
	&:hover {
		text-decoration: none; // [1]
		color: $link-hover-color;
	}

	&:focus {
		// Default
		outline: thin dotted;
		// WebKit
		outline: 4px auto -webkit-focus-ring-color;
		outline-offset: -1px;
	}
}
