//------------------------------------------------------------------------------
// @setting: Default
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

$default-font-size:             16px !default;
$default-line-height:           24px !default;

$default-border-size:           1px !default;
$default-border-radius:         2px !default;

$default-grid-gutter:           16px !default;

// Grid
$sm: 540px !default;
$md: 720px !default;
$lg: 960px !default;
$xl: 1140px !default;

$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

// Spacing
$default-spacing: 8px !default;

// Object heights
$default-height: 56px !default;
$default-height-dense: 36px !default;

// icons
$default-icon-sm: 18px !default;
$default-icon-md: 24px !default;
$default-icon-lg: 40px !default;

// Fonts
$default-font: Roboto, Helvetica, Arial, sans-serif !default;
$default-code-font: Monaco, Andale Mono, Courier New, Courier, Mono !default;

//
// color scheme

// body
$default-body-bg:                 $white !default;
$default-body-color:              $gray-800 !default;
$default-gray-light:              $black-12 !default; // 12%
$default-gray:                    $black-38 !default; // 38%
$default-gray-dark:               $black-54 !default; // 54%
$default-text-color:              $black-87 !default; // 87%

// opacity
$default-opacity:                 1 !default;
$default-opacity-87:              0.87 !default;
$default-opacity-54:              0.54 !default;
$default-opacity-38:              0.38 !default;
$default-opacity-12:              0.12 !default;

// color scheme Main
$default-primary-color:           $blue-500 !default;
$default-secondary-color:         $pink-500 !default;
$default-accent-color:            $yellow-500 !default;
$default-warning-color:           $amber-500 !default;
$default-info-color:              $blue-gray-500 !default;
$default-important-color:         $red-500 !default;
$default-success-color:           $green-500 !default;

// color scheme Light
$default-primary-light-color:      $blue-300 !default;
$default-secondary-light-color:    $pink-300 !default;
$default-accent-light-color:       $yellow-300 !default;
$default-warning-light-color:      $amber-300 !default;
$default-info-light-color:         $blue-gray-300 !default;
$default-important-light-color:    $red-300 !default;
$default-success-light-color:      $green-300 !default;

// color scheme Dark
$default-primary-dark-color:      $blue-700 !default;
$default-secondary-dark-color:    $pink-700 !default;
$default-accent-dark-color:       $yellow-700 !default;
$default-warning-dark-color:      $amber-700 !default;
$default-info-dark-color:         $blue-gray-700 !default;
$default-important-dark-color:    $red-700 !default;
$default-success-dark-color:      $green-700 !default;

// color scheme
$default-link-color:              $blue-500 !default;
$default-link-color-hover:        $blue-700 !default;
$default-action-bg:               $gray-100 !default;
$default-action-bg-hover:         $gray-200 !default;
$default-action-color:            $black-54 !default;
$default-action-color-hover:      $blue-500 !default;
$default-action-icon-color:       $black-54 !default;
