//------------------------------------------------------------------------------
// @setting: Default
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

$mode: light;

$default-font-size:             16px !default;
$default-line-height:           24px !default;

$default-border-size:           1px !default;
$default-border-radius:         2px !default;

$default-grid-gutter:           16px !default;

// Grid
$sm: 540px !default;
$md: 720px !default;
$lg: 960px !default;
$xl: 1140px !default;

$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

// Spacing
$default-spacing: 8px !default;

$sp1: $default-spacing; // (1) 8px
$sp1-4: ($sp1 * 0.25); // (1/4) 2px
$sp1-2: ($sp1 * 0.5); // (1/2) 4px
$sp2: ($sp1 * 2); // (2) 16px
$sp3: ($sp1 * 3); // (3) 24px
$sp4: ($sp1 * 4); // (4) 32px
$sp5: ($sp1 * 5); // (5) 40px
$sp6: ($sp1 * 6); // (6) 48px
$sp7: ($sp1 * 7); // (7) 56px
$sp8: ($sp1 * 8); // (8) 64px
$sp9: ($sp1 * 9); // (9) 72px

// Object heights
$default-height: 56px !default;
$default-height-dense: 32px !default;

// icons
$default-icon-sm: 16px !default;
$default-icon-md: 24px !default;
$default-icon-lg: 40px !default;

// Fonts
$default-font: Roboto, Helvetica, Arial, sans-serif !default;
$default-code-font: Monaco, Andale Mono, Courier New, Courier, Mono !default;

// opacity
$default-opacity: 1 !default;
$default-opacity-87: 0.87 !default;
$default-opacity-54: 0.54 !default;
$default-opacity-38: 0.38 !default;
$default-opacity-12: 0.12 !default;

// Map light/dark colors
@function mode($arr: 'background', $key: 'light', $variant: 'color') {
	$map: map-get($defaults, $arr);
	$map: map-get($map, $key);
	@return map-get($map, $variant);
}

// color scheme Light/Dark prestaged
$default-background-color:              null;
$default-background-alt-color:          null;
$default-background-item-color:         null;
$default-surface-color:                 null;
$default-surface-alt-color:             null;
$default-surface-item-color:            null;
$default-border-color:                  null;
$default-page-color:                   	null;

// color scheme Light/Dark variables
$defaults: (
	'background': (
		'dark': (
			'color': $dark-1,
			'alt':   $dark-2,
			'item':  $white
		),
		'light': (
			'color': $white,
			'alt':   $gray-50,
			'item':  $gray-900
		)
	),
	'surface': (
		'dark': (
			'color': $dark-6,
			'alt':   $dark-8,
			'item':  $white
		),
		'light': (
			'color': $gray-100,
			'alt':   $gray-300,
			'item':  $gray-600
		)
	),
	'border': (
		'dark': (
			'color': rgba($white, 0.125)
		),
		'light': (
			'color': rgba($black, 0.125)
		)
	)
);

@if $mode == dark {
	// color scheme Background
	$default-background-color:              mode('background', 'dark', 'color');
	$default-background-alt-color:          mode('background', 'dark', 'alt');
	$default-background-item-color:         mode('background', 'dark', 'item');

	// color scheme Surface
	$default-surface-color:                 mode('surface', 'dark', 'color');
	$default-surface-alt-color:             mode('surface', 'dark', 'alt');
	$default-surface-item-color:            mode('surface', 'dark', 'item');

	// color scheme Border
	$default-border-color:                  mode('border', 'dark', 'color');

	// other
	$default-page-color:					$dark;
} @else if $mode == light {
	// color scheme Background
	$default-background-color:              mode('background', 'light', 'color');
	$default-background-alt-color:          mode('background', 'light', 'alt');
	$default-background-item-color:         mode('background', 'light', 'item');

	// color scheme Surface
	$default-surface-color:                 mode('surface', 'light', 'color');
	$default-surface-alt-color:             mode('surface', 'light', 'alt');
	$default-surface-item-color:            mode('surface', 'light', 'item');

	// color scheme Border
	$default-border-color:                  mode('border', 'light', 'color');

	// other
	$default-page-color:					mode('background', 'light', 'color');
} @else if $mode == null {
	// color scheme Background
	$default-background-color:              mode('background', 'light', 'color');
	$default-background-alt-color:          mode('background', 'light', 'alt');
	$default-background-item-color:         mode('background', 'light', 'item');

	// color scheme Surface
	$default-surface-color:                 mode('surface', 'light', 'color');
	$default-surface-alt-color:             mode('surface', 'light', 'alt');
	$default-surface-item-color:            mode('surface', 'light', 'item');

	// color scheme Border
	$default-border-color:                  mode('border', 'light', 'color');

	// other
	$default-page-color:					mode('background', 'light', 'color');
}

// color scheme Grays
$default-gray-light:                    $black-12 !default; // 12%
$default-gray:                          $black-38 !default; // 38%
$default-gray-dark:                     $black-54 !default; // 54%
$default-black:                         $black-87 !default; // 87%

// color scheme Primary
$default-primary-color:                 $blue-500 !default;
$default-primary-dark-color:            $blue-700 !default;
$default-primary-light-color:           $blue-300 !default;
$default-primary-item-color:            $white !default;
$default-primary-item-light-color:      $default-black !default;

// color scheme Secondary
$default-secondary-color:               $pink-500 !default;
$default-secondary-dark-color:          $pink-700 !default;
$default-secondary-light-color:         $pink-300 !default;
$default-secondary-item-color:          $white !default;
$default-secondary-item-light-color:    $default-black !default;

// color shceme Error
$default-error-color:                   $red-500 !default;
$default-error-dark-color:              $red-700 !default;
$default-error-light-color:             $red-300 !default;
$default-error-item-color:              $white !default;
$default-error-item-light-color:        $default-black !default;

// color scheme Success
$default-success-color:                 $green-500 !default;
$default-success-dark-color:            $green-700 !default;
$default-success-light-color:           $green-300 !default;
$default-success-item-color:            $white !default;
$default-success-item-light-color:      $default-black !default;

// color scheme Warning
$default-warning-color:                 $amber-500 !default;
$default-warning-dark-color:            $amber-700 !default;
$default-warning-light-color:           $amber-300 !default;
$default-warning-item-color:            $white !default;
$default-warning-item-light-color:      $default-black !default;

// color scheme Info
$default-info-color:                    $blue-gray-500 !default;
$default-info-dark-color:               $blue-gray-700 !default;
$default-info-light-color:              $blue-gray-300 !default;
$default-info-item-color:               $white !default;
$default-info-item-light-color:         $default-black !default;

// color scheme
$default-page-bg:                    	$default-page-color !default;
$default-link-color:                    $default-primary-color !default;
$default-link-color-hover:              $default-primary-dark-color !default;

$default-action-bg:                     $default-surface-color !default;
$default-action-bg-hover:               $default-surface-alt-color !default;
$default-action-color:                  $default-surface-item-color !default;
$default-action-color-hover:            $default-primary-color !default;
$default-action-icon-color:             $default-surface-item-color !default;
