{# layout.twig #}
<html class="no-js" lang="">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Test - Forms</title>

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link href="../dist/assets/css/core.{{ version }}.css" rel="stylesheet">
		<link href="https://rawgit.com/hanakin/base-l/components/dist/assets/css/components.{{ version }}.css" rel="stylesheet">
		<link href="./assets/css/theme.{{ version }}.min.css" rel="stylesheet">
		<link href="../dist/assets/css/utilities.{{ version }}.css" rel="stylesheet">
		<style media="screen">
			.wrap {
				margin: 16px 0;
			}
		</style>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- JS HEADER -->
		<!-- <script src="./assets/js/svg4everybody.min.js"></script>
		<script>svg4everybody(); // run it now or whenever you are ready</script> -->
	</head>
	<body>
		{% block header %}{% endblock %}
		<div class="wrap">
			<div class="o-container">
				{% block main %}{% endblock %}
			</div>
		</div>

		<!-- JS FOOTER -->
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="./assets/js/prism.js"></script>
		<script src="./assets/js/application.js"></script>
	</body>
</html>
