<div class="panel row">
    <div class="panel-head">
        <h3 class="panel-title"><span class="label panel-label">1.3</span> Type</h3>
    </div>

    <div class="panel-description">
        <p>
            Common Typography
        </p>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Display 4</span>  <span class="label ">112px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="display4">Light 112sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Display 3</span>  <span class="label ">56px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="display3">Regular 56sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Display 2</span>  <span class="label ">45px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="display2">Regular 45sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Display 1</span>  <span class="label ">34px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="display1">Regular 34sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Headline</span>  <span class="label ">24px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="headline">Headline 24sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Title</span>  <span class="label ">20px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="title">Medium 112sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Subhead 1</span>  <span class="label ">16px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="subhead1">Regular 16sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Subhead 2</span>  <span class="label ">16px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="subhead2">Regular 16sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Body 1</span>  <span class="label ">14px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="body1">Regular 14sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Body 2</span>  <span class="label ">14px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="body2">Medium 14sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Menu</span>  <span class="label ">14px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="menu">Regular 14sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Caption</span>  <span class="label ">12px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="caption">Regular 12sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Button</span>  <span class="label ">12px</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p class="button">Regular 12sp</p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Blockquote</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Address</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <address>
                <strong>Company, Inc.</strong><br>
                789 Main Ave, Suite 707<br>
                San Francisco, CA 12345<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Abbreviation</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the standard markup language used to create web pages.
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Mark</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                You can use the mark tag to <mark>highlight</mark> text.
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Delete</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <del>This line of text is meant to be treated as deleted text.</del>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Strike</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <s>This line of text is meant to be treated as no longer accurate.</s>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Insert</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <ins>This line of text is meant to be treated as an addition to the document.</ins>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Underline</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <u>This line of text will render as underlined</u>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Small</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <small>This line of text is meant to be treated as fine print.</small>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Strong</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <strong>rendered as bold text</strong>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Emphasized</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <p>
                <em>rendered as italicized text</em>
            </p>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">UL</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">UL Unstyled</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">UL Inline</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <ul class="list-inline">
                <li>Lorem ipsum</li>
                <li>Phasellus iaculis</li>
                <li>Nulla volutpat</li>
            </ul>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">OL</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ol>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">DL</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <dl>
                <dt>Lorem ipsum dolor sit amet.</dt>
                <dd>Dicta optio cumque dolore hic ea facilis</dd>
                <dt>Minus, possimus, veniam, incidunt eligendi</dt>
                <dd>Quidem laborum cum harum ullam iure sit eum</dd>
            </dl>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">DL Inline</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <dl class="list-inline">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                <dt>Felis euismod semper eget lacinia</dt>
                <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
            </dl>
        </div>
    </div>

    <div class="panel-foot">
        Version: 1.0.0
    </div>
</div>
