//------------------------------------------------------------------------------
// @utilities: Resets
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 0.22.0
// @description
//
// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
//------------------------------------------------------------------------------

//
// #scss

[tabindex='-1']:focus {
	outline: none !important;
}
