//------------------------------------------------------------------------------
// #utilities: Visability
//------------------------------------------------------------------------------
// #description:
//
// Responsive visability classes derived from bootstrap.
//
//------------------------------------------------------------------------------

//
// #scss

//
// Only display content to screen readers
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.u-sr-only {
	border: 0;
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
}

//
// Extends the .sr-only class to allow the element
// to be focusable when navigated to via the keyboard:
// https://www.drupal.org/node/897638
.u-sr-only.focusable:active,
.u-sr-only.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

// Hide visually and from screen readers
.u-hidden {
	display: none !important;
}

// Responsive visibility utilities

.u-hidden-xs-up {
	display: none !important;
}

@media (max-width: ($bp-sm - 1)) {
	.u-hidden-xs-down {
		display: none !important;
	}
}

@media (min-width: $bp-sm) {
	.u-hidden-sm-up {
		display: none !important;
	}
}

@media (max-width: ($bp-md - 1)) {
	.u-hidden-sm-down {
		display: none !important;
	}
}

@media (min-width: $bp-md) {
	.u-hidden-md-up {
		display: none !important;
	}
}

@media (max-width: ($bp-lg - 1)) {
	.u-hidden-md-down {
		display: none !important;
	}
}

@media (min-width: $bp-lg) {
	.u-hidden-lg-up {
		display: none !important;
	}
}

@media (max-width: ($bp-xl - 1)) {
	.u-hidden-lg-down {
		display: none !important;
	}
}

@media (min-width: $bp-xl) {
	.u-hidden-xl-up {
		display: none !important;
	}
}

.u-hidden-xl-down {
	display: none !important;
}
