//------------------------------------------------------------------------------
// @object: Button
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$btn-border-size: $default-border-size !default;
$btn-padding: unit(2) !default;
$btn-border-radius: $default-border-radius !default;
$btn-min-width: unit(8) !default;
$btn-height: unit(4.75) !default;

// Theme Variables
$btn-background-color: $white !default;
$btn-hover-color: $default-primary-dark-color !default;
$btn-active-color: $btn-hover-color !default;
$btn-focus-color: $btn-hover-color !default;
$btn-color: $default-gray-dark !default;
$btn-border-style: solid !default;
$btn-border-color: $default-gray !default;


//
// @scss

//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Fixes odd inner spacing in IE7.
// 7. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
// 8. Prevent button text from being selectable.
//
.o-btn {
	@include type($type: "button");
	// line-height: $btn-height; // google material design
	text-align: center; // [4]
	text-decoration: none; // [4]
	vertical-align: middle; // [2]
	white-space: nowrap; // bs only
	background-color: $btn-background-color;
	border-color: $btn-border-color;
	border-radius: $btn-border-radius;
	border-style: $btn-border-style;
	border-width: $btn-border-size;
	@if $use-material == true {
		@include shadow-2dp();
	}
	color: $btn-color;
	outline: none; // google material design
	display: inline-block; // [1]
	overflow: visible; // [6]
	min-width: $btn-min-width; // google material design
	margin: 0; // [4]
	padding: 0 $btn-padding; // [7]
	cursor: pointer;
	user-select: none; // [8]
	transition:
		box-shadow 0.2s $animation-curve-fast-out-linear-in,
		background-color 0.2s $default-animation-curve,
		color 0.2s $default-animation-curve; // google material design

	// UI states
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;  // [4]
		color: $btn-color;
		outline: none;
	}

	&:hover {
		border-color: $btn-hover-color;
		@if $use-material == true {
			@include shadow-4dp();
		}
	}

	&:focus {
		border-color: $btn-hover-color;
		// @include focus-shadow();
	}

	&:active {
		background-color: $btn-active-color;
		background-image: none;
		border-color: $btn-hover-color;
		color: $btn-background-color;
		@if $use-material == true {
			@include shadow-4dp();
		}
	}

	&:disabled {
		background-color: transparent;
		box-shadow: none;
		cursor: default;
	}

	// Remove excess padding and border in Firefox 4+
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
