//------------------------------------------------------------------------------
// @object: Icon
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings
$icon-size: 24px !default;

//
// @scss

//
// Most commonly we want specific sizing and alignment for icons in links
// as such we target tthe most common approach to including icons svgs.
// However a modifier is available if you are usinf icon fonts
//

.icon {
    vertical-align: middle;
    width: rem($icon-size);
    height: rem($icon-size);
    margin-right: 0.5rem;
}

.icon-font {
    @include font-size($icon-size, false);
    vertical-align: baseline;
}
