//------------------------------------------------------------------------------
// OBJECT: Tag
//------------------------------------------------------------------------------

//
// Settings
$tag-border-radius: $default-border-radius !default;
$tag-background-color: $default-gray !default;
$tag-color: $gray-700 !default;

.o-tag {
    text-align: center;
    vertical-align: middle;
    @media (min-width: $bp-medium) {
        white-space: nowrap;
    }
    background-color: $tag-background-color;
    border-radius: $tag-border-radius;
    color: $tag-color;
    display: inline-block;
    margin-left: rem(8);
    padding: rem(2) rem(4);

    // Empty tags collapse automatically
    &:empty {
        display: none;
    }
}
