//------------------------------------------------------------------------------
// @object: Tag
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$tag-border-radius: $default-border-radius !default;

// Theme Variables
$tag-background-color: $default-gray !default;
$tag-color: $default-gray-dark !default;

//
// @scss
.o-tag {
	text-align: center;
	vertical-align: middle;
	@media (min-width: $bp-medium) {
		white-space: nowrap;
	}
	background-color: $tag-background-color;
	border-radius: $tag-border-radius;
	color: $tag-color;
	display: inline-block;
	margin-left: unit(1);
	padding: unit(0.25) unit(0.5);

	// Empty tags collapse automatically
	&:empty {
		display: none;
	}
}
