//------------------------------------------------------------------------------
// @theme: Chameleon
//------------------------------------------------------------------------------
// @description
//
// @author: hanakin
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables

// Variables
$theme-primary: #009ae4;
$theme-link: rgba($white, 0.5);
$theme-link-hover: $white;
$theme-text: rgba($white, 0.3);
$theme-frosted-bg: rgba($white, 0.05);
$theme-frosted-bg-hover: rgba($white, 0.1);
$theme-border-color: rgba($white, 0.15);
$theme-shadow-color: rgba($black, 0.2);
$theme-dark-text: rgba($white, 0.7);
$theme-dark-link: rgba($white, 0.7);
$theme-dark-bg: rgba(21, 26, 35, 0.95);
$theme-dark-bg-hover: rgba($black, 0.3);
$theme-dark-border: rgba($black, 0.5);


//
// @scss
.c-overlay {
	display: none;
	float: right;

	&.is-active {
		// background: rgba(0, 0, 0, 0.5);
		position: absolute;
		z-index: 9;
		top: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 10000vh;
	}
}

.t-navbar {
	background-color: transparent;
	margin-top: -56px;

	&-right {
		background-color: $default-background-alt-color;
	}

	&-action {
		color: $o-color;

		&:hover,
		&:focus {
			background-color: $default-action-bg-hover;
		}
	}
}

.t-bar-search {
	margin-top: -56px;
}

.t-drawer {
	top: 0;
}

.t-crumbs-container {
	background-color: $default-background-alt-color;
}

.t-forum-page-title {
	@include type(headline4);
}

.t-jumpto {
	overflow-y: scroll;
	max-height: 240px;
}

// a {
// 	color: $theme-link;
//
// 	&:hover {
// 		color: $theme-link-hover;
// 	}
// }
//
// body {
// 	background: url('https://eu.battle.net/forums/static/images/welcome-banners/bnet-glass.jpg') center -470px no-repeat, url('https://us.battle.net/forums/static/images/backgrounds/background-bnet-top.jpg') center -190px no-repeat, url('https://us.battle.net/forums/static/images/backgrounds/background-bnet-repeat.jpg') center 1800px repeat-y rgb(13, 30, 48);
// }
//
// .t {
// 	&-bar-search {
// 		background-color: $theme-dark-bg;
// 		padding: 0 12px;
//
// 		&-toggle,
// 		&-action {
// 			color: $theme-primary;
//
// 			&:hover,
// 			&:focus {
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-feild {
// 			background-image: none;
// 			padding: 16px;
//
// 			&:hover,
// 			&:focus {
// 				color: $white;
// 			}
// 		}
// 	}
//
// 	&-navbar {
// 		// background-color: rgba(0, 154, 228, 0.1);
// 		background-color: $theme-frosted-bg;
// 		border-bottom: 1px solid $theme-border-color;
// 		padding: 0 12px;
//
// 		&-logo {
// 			color: $theme-primary;
//
// 			&-icon {
// 				color: inherit;
// 				width: 300px;
// 				max-width: 64px;
// 				height: auto;
// 				max-height: 24px;
// 			}
//
// 			&:hover,
// 			&:focus {
// 				background-color: transparent;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-action {
// 			color: $theme-link;
//
// 			&:hover,
// 			&:focus {
// 				background-color: transparent;
// 				color: $theme-link-hover;
// 			}
// 		}
//
// 		@media (min-width: $bp-md) {
// 			padding: 0 36px;
// 		}
// 	}
//
// 	&-drawer {
// 		background-color: $theme-dark-bg;
// 		border-bottom: 1px solid $theme-border-color;
// 		border-left: 1px solid $theme-border-color;
// 		box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 		position: fixed;
// 		z-index: 9999;
// 		top: 0;
// 		bottom: 0;
// 		float: right;
// 		height: 100%;
// 		max-height: 100%;
// 		padding: 0;
//
// 		&-link {
// 			color: $theme-dark-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 				opacity: 1;
// 			}
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
// 				color: $theme-link-hover;
//
// 				.t-drawer-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-item > &-menu {
// 			background-color: $theme-dark-bg-hover;
// 			border-top: 1px solid $theme-dark-border;
// 			border-bottom: 1px solid $theme-dark-border;
// 		}
//
// 		&-divider {
// 			background-color: transparent;
// 			height: 0;
// 		}
//
// 		@media (min-width: $bp-lg) {
// 			transform: scaleX(0);
// 		}
// 	}
//
// 	&-notification {
// 		&-container {
// 			background-color: $theme-dark-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 			margin-top: 1px;
// 		}
//
// 		&-header {
// 			border-bottom: 1px solid $theme-border-color;
// 		}
//
// 		&-bar {
// 			background-color: $theme-dark-bg;
//
// 			&-title {
// 				color: $theme-text;
// 			}
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
//
// 			&-action:hover {
// 				background-color: transparent;
//
// 				.t-notification-header-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-item {
// 			background-color: $theme-dark-bg;
// 			border-bottom: 1px solid $theme-border-color;
// 			color: $theme-dark-link;
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
//
// 				.t-notification-item-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
// 		}
//
// 		&-meta {
// 			color: $theme-primary;
//
// 			&:hover {
// 				background-color: $theme-dark-bg;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-unread {
// 			.t-notification-meta:hover {
// 				background-color: $theme-dark-bg;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-footer {
// 			background-color: $theme-dark-bg;
//
// 			&-action {
// 				color: $theme-link;
//
// 				&:hover {
// 					background-color: transparent;
// 					color: $theme-link-hover;
// 				}
// 			}
// 		}
//
// 		&-disapproved {
// 			color: $default-error-color;
//
// 			&:hover {
// 				color: lighten($default-error-color, 10%);
// 			}
// 		}
//
// 		&-approved {
// 			color: $default-success-color;
//
// 			&:hover {
// 				color: lighten($default-success-color, 10%);
// 			}
// 		}
// 	}
//
// 	&-menu {
// 		&-container {
// 			background-color: $theme-dark-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 		}
//
// 		&-link {
// 			color: $theme-dark-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 				opacity: 1;
// 			}
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
// 				color: $theme-link-hover;
//
// 				.t-menu-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
// 	}
//
// 	&-crumbs {
// 		&-container {
// 			background-color: $theme-frosted-bg;
// 			border-bottom: 1px solid $theme-border-color;
// 			box-shadow: none;
// 			padding: 0 12px;
//
// 			@media (min-width: $bp-md) {
// 				padding: 0 36px;
// 			}
// 		}
//
// 		&-link {
// 			font-weight: 600;
// 			color: $theme-link;
//
// 			&:hover,
// 			&:focus {
// 				text-decoration: none;
// 				background-color: transparent;
// 				color: $theme-link-hover;
// 			}
// 		}
//
// 		&-seperator {
// 			color: $theme-border-color;
// 		}
// 	}
//
// 	&-hero {
// 		&-container {
// 			background: url('https://eu.battle.net/forums/static/images/welcome-banners/bnet-glass.jpg') no-repeat;
// 			background-position: 50% 0;
// 		}
//
// 		&-logo {
// 			color: $theme-primary;
// 		}
//
// 		&-lead {
// 			color: $theme-link-hover;
// 		}
// 	}
//
// 	&-forum {
// 		background-color: $theme-frosted-bg;
// 		border: 1px solid $theme-border-color;
// 		border-radius: 0;
// 		box-shadow: 0 0 0 1px $black;
//
// 		&-read {
// 			box-shadow: inset 0 0 0 1px rgba($white, 0.3), inset 0 0 0 1px #00b4ff, inset 0 0 0 1px $black, 0 0 10px rgba($theme-primary, 0.75);
// 		}
//
// 		&:hover {
// 			background-color: $theme-frosted-bg-hover;
// 		}
//
// 		&-cat {
// 			&-title {
// 				line-height: 1;
// 				border: 0;
// 				margin: 40px 0 20px;
// 			}
//
// 			&-link {
// 				font-size: 16px;
// 				font-weight: 500;
// 				text-transform: uppercase;
// 				color: $theme-link;
//
// 				&:hover {
// 					color: $theme-link-hover;
// 				}
// 			}
// 		}
//
// 		&-media-icon {
// 			color: $theme-primary;
//
// 			&-read {
// 				color: $theme-link;
// 				width: 40px;
// 				height: 40px;
// 			}
// 		}
//
// 		&-title {
// 			font-size: 20px;
// 			font-weight: 500;
// 			line-height: 1;
// 			color: $theme-link-hover;
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
// 		}
//
// 		&-text {
// 			font-size: 15px;
// 			color: $theme-dark-text;
// 			margin-top: 8px;
// 		}
//
// 		&-footer {
// 			background-color: transparent;
// 			border-top: 0;
//
// 			&-info {
// 				font-weight: 500;
// 				color: $theme-text;
//
// 				&-icon {
// 					color: $theme-primary;
// 				}
// 			}
//
// 			&-action {
// 				color: $theme-link;
//
// 				&:hover,
// 				&:focus {
// 					background-color: transparent;
// 					color: $theme-primary;
// 				}
// 			}
// 		}
// 	}
//
// 	&-tab {
// 		color: $theme-link;
//
// 		&:hover,
// 		&.is-active {
// 			color: $theme-link-hover;
// 		}
//
// 		&:after {
// 			background-color: $theme-primary;
// 		}
//
// 		&-card {
// 			background-color: transparent;
// 			box-shadow: none;
// 		}
//
// 		&-bar {
// 			&-frame {
// 				border-bottom: 1px solid $theme-border-color;
// 			}
// 		}
//
// 		&-pane {
// 			background-color: $theme-frosted-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 0 0 1px $black;
//
// 			&-title {
// 				color: $theme-primary;
// 			}
//
// 			&-footer {
// 				background-color: transparent;
// 				border-radius: 0;
// 			}
// 		}
// 	}
//
// 	&-stat {
// 		&-info {
// 			color: $theme-dark-text;
// 		}
//
// 		&-item {
// 			color: $theme-link-hover;
// 		}
//
// 		&-badge {
// 			background-color: $theme-primary;
// 		}
// 	}
//
// 	&-footer {
// 		&-nav-link {
// 			color: $theme-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
//
// 			&:hover {
// 				color: $theme-link-hover;
//
// 				.t-footer-nav-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-copyright {
// 			color: $theme-text;
// 		}
// 	}
// }
