//------------------------------------------------------------------------------
// @tool: Responsive Fluid Type
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 0.22.0
// @description
//
// responsive fluid text based on min max breakpoints and viewport size
//
// based on:
// https://madebymike.com.au/writing/precise-control-responsive-typography/
// https://medium.com/@zkareemz/golden-ratio-62b3b6d4282a
//
//------------------------------------------------------------------------------

//
// @scss
@function fluid($mn, $mx, $sm, $lg) {
	$g1: ($mx - $mn);
	$g2: ($lg - $sm);
	$val: calc(#{$mn}px + #{$g1} * ( (100vw - #{$sm}px) / #{$g2} ));
	@return $val;
}
