{% extends '../../layouts/test.twig' %}

{% block test_title %}
Test - Colors
{% endblock %}

{% block test_header %}
{% endblock %}

{% block test_content %}
<div class="container wrap">
{% include '../../partials/core/colors.twig' %}
</div>
{% endblock %}
