{% extends '../../layouts/test.twig' %}

{% block test_title %}
Test - Tables
{% endblock %}

{% block test_header %}
{% endblock %}

{% block test_content %}
<div class="container wrap">
{% include '../../partials/core/tables.twig' %}
</div>
{% endblock %}
