//------------------------------------------------------------------------------
// #base: Forms
//------------------------------------------------------------------------------
// #description:
//
//------------------------------------------------------------------------------

//
// #settings

// Layout Variables
$input-padding: 8px;
$input-height: ($input-padding * 5);
$input-border-width: 2px;
$input-border-radius: $default-border-radius;

// Theme Variables
$input-color: $default-action-icon-color;
$input-background-color: $white;
$input-border-color: $default-action-bg;
$input-border-hover-color: $default-action-bg-hover;
$input-background-focus-color: $input-background-color;
$input-border-focus-color: $default-action-bg-hover;
$input-hover-color: $default-action-color-hover;
$input-placeholder-color: $default-action-bg;
$input-disabled-color: $default-gray-dark;
$input-invalid-border-color: $default-important-color;
$input-invalid-color: $default-important-light-color;


//
// #scss

form {
	span {
		@include vertical-rhythm();
		display: block;
	}
	@media (min-width: $bp-md) {
		span {
			vertical-align: middle;
			display: inline-block;
			margin-bottom: 0;
		}
	}
}

//
// General Form element styling
//------------------------------------------------------------------------------
//
// 1. Make inputs at least the height of their button counterpart
//    (base line-height + padding + border)
// 3. This has no effect on <select>s in some browsers, due to the limited
//    stylability of `<select>`s in CSS.
// 4. Override Firefox"s unusual default opacity; see
//    https://github.com/twbs/bootstrap/pull/11526.
// 5. iOS fix for unreadable disabled content;
//    see https://github.com/twbs/bootstrap/issues/11655.
// 6. HTML5 says that controls under a fieldset > legend:first-child won"t be
//    disabled if the fieldset is disabled. Due to implementation difficulty, we
//    don"t honor that edge case; we style them as disabled anyway.
//
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="color"],
select,
textarea {
	background-color: $input-background-color;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	color: $input-color;
	display: inline-flex;
	width: 100%;
	height: $input-height; // [1]
	padding: $input-padding;
	transition: ease-in-out 0.15s;

	&:hover {
		border-color: $input-border-hover-color;
	}

	&:focus {
		background-color: $input-background-focus-color;
		border-color: $input-border-focus-color;
		outline: none;
		color: $input-hover-color;
	}

	&::placeholder {
		color: $input-placeholder-color;
		opacity: 1; // [4]
	}

	// [6]
	&:disabled,
	&[readonly] {
		background-color: $input-disabled-color;
		opacity: 1; // [5]
	}

	&:disabled {
		cursor: not-allowed;
	}

	&:focus:invalid,
	&:focus:invalid,
	&:focus:invalid {
		border-color: $input-invalid-border-color;
		color: $input-invalid-color;
	}
	@media (min-width: $bp-md) {
		display: inline-flex;
	}
}

textarea {
	height: auto;
}

//
// Select elements
//------------------------------------------------------------------------------
//
// 1. Suppress the nested default white text on blue background highlight given
//    to the selected option text when the (still closed) <select> receives
//    focusin IE and (under certain conditions) Edge, as it looks bad and cannot
//    be made to match the appearance of the native widget.
//    See https://github.com/twbs/bootstrap/issues/19398.
//
select {
	@include background-triangle($input-color);
	background-color: $input-background-color;
	display: inline-flex;
	min-width: ($input-padding * 10);
	max-width: 100%;
	padding: $input-padding;
	cursor: pointer;

	&:focus::-ms-value {
		background-color: $input-background-color; // [1]
		color: $input-hover-color; // [1]
	}

	&:focus:-moz-focusring {
		text-shadow: 0 0 0 $black;
		color: transparent;
	}

	&[multiple="multiple"] {
		background-image: none;
	}
}

input[type="color"] {
	width: $input-height;
	height: $input-height;
}

//
// File & Range elements
//------------------------------------------------------------------------------
//
// Make file inputs better match text inputs by forcing them to new lines.
//
input[type="file"],
input[type="range"] {
	display: inline-flex;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus:invalid:focus {
		outline-color: $input-invalid-border-color;
	}
}

//
// Radio & Checkbox elements
//------------------------------------------------------------------------------
//
// Remove default checkbox
//
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
	opacity: 0;
	position: absolute;
	// left: -9999px;
}

// Default Styles
[type="checkbox"] + label,
[type="radio"] + label {
	position: relative;
	display: inline-flex;
	margin: 0 $input-padding;
	padding-left: ($input-padding * 4);
	cursor: pointer;
	user-select: none;
	transition: 0.28s ease;
}

[type="checkbox"] + label:before {
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: ($input-padding * 2.5);
	height: ($input-padding * 2.5);
	margin-top: ($input-padding * 0.25);
	content: "";
	transition: 0.2s;

	&:hover {
		border-color: $input-border-hover-color;
	}

	&:not(:checked):disabled {
		background-color: $input-disabled-color;
		border: none;
	}
}

[type="checkbox"]:checked + label:before {
	border-top: $input-border-width solid transparent;
	border-right: $input-border-width solid $input-border-hover-color;
	border-bottom: $input-border-width solid $input-border-hover-color;
	border-left: $input-border-width solid transparent;
	top: ($input-padding * -0.5);
	left: -5px;
	width: ($input-padding * 1.5);
	height: ($input-padding * 2.75);
	transform: rotate(40deg);
	transform-origin: 100% 100%;
	backface-visibility: hidden;

	&:disabled {
		border-right: $input-border-width solid $input-disabled-color;
		border-bottom: $input-border-width solid $input-disabled-color;
	}
}

// Indeterminate checkbox
[type="checkbox"]:indeterminate + label:before {
	border-top: none;
	border-right: $input-border-width solid $input-invalid-border-color;
	border-bottom: none;
	border-left: none;
	top: -11px;
	left: ($input-padding * -1.5);
	height: ($input-padding * 2.25);
	transform: rotate(90deg);
	transform-origin: 100% 100%;
	backface-visibility: hidden;

	// Disabled indeterminate
	&:disabled {
		background-color: transparent;
		border-right: $input-border-width solid $input-disabled-color;
	}
}

[type="radio"] + label:before,
[type="radio"] + label:after {
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: ($input-padding * 2);
	height: ($input-padding * 2);
	margin: ($input-padding * 0.5) ($input-padding *0.5) ($input-padding * 0.5) 0;
	content: "";
	transition: 0.28s ease;
}

[type="radio"]:not(:checked) + label {
	&:before,
	&:after {
		border: $input-border-width solid $input-border-color;
	}

	&:after {
		opacity: 0;
		z-index: -1;
		transform: scale(2);
	}
}

[type="radio"]:hover + label:before {
	border-color: $input-border-hover-color;
}

// Checked
[type="radio"]:checked + label {
	&:before {
		border: $input-border-width solid $input-border-hover-color;
	}

	&:after {
		background-color: $input-border-hover-color;
		z-index: 0;
		transform: scale(0.5) opacity(1);
	}
}

// Disabled style
[type="radio"]:disabled {
	+ label {
		color: $input-disabled-color;
	}

	&:checked + label:before,
	&:not(:checked) + label:before {
		border: $input-border-width solid $input-disabled-color;
	}

	:checked + label:after {
		background-color: $input-disabled-color;
		border: none;
	}
}


//
// Placeholder Colour
//------------------------------------------------------------------------------
//
::-webkit-input-placeholder {
	color: $input-placeholder-color;
}

:-moz-placeholder {
	color: $input-placeholder-color;
}

::-moz-placeholder {
	color: $input-placeholder-color;
}

:-ms-input-placeholder {
	color: $input-placeholder-color;
}
