//------------------------------------------------------------------------------
// @base: Global
//------------------------------------------------------------------------------
// @description:
//
// High-level, page-level styling.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in rems, the `line-height` is calculated to exist unitlessly.
//
//------------------------------------------------------------------------------


//
// @scss
html {
    font-family: $default-font;
    font-size: $default-font-size; // [1]
    font-weight: 400;
    line-height: unitless($default-line-height); // [1]
    background-color: $default-body-bg;
    color: $default-body-color;
}
