//------------------------------------------------------------------------------
// @base: Tables
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$table-row-height: 48px;
$table-last-row-height: 56px;
$table-header-height: $table-last-row-height;
$table-header-padding-bottom: 8px;
$table-column-spacing: 36px;
$table-column-padding: $table-column-spacing / 2;
$table-card-header-height: 64px;
$table-card-title-top: 20px;
$table-card-padding: 24px;
$table-button-padding-right: 16px;
$table-cell-top: $table-card-padding / 2;

//Theme Variables
$table-header-color: rgba($black, 0.54);
$table-divider-color: rgba($black, 0.12);
$table-hover-color: $gray-200;
$table-selection-color: $default-gray-light;


//
// @scss

table {
	@media (min-width: $bp-md) {
		display: table;
	}

	@media (min-width: $bp-md) {
		width: auto;
	}
	font-size: 13px;
	white-space: nowrap;
	background-color: $white;
	border: 1px solid $table-divider-color;
	// border-collapse: collapse;
	display: block;
	overflow-x: auto;
	width: 100%;

	thead {
		padding-bottom: ($table-header-padding-bottom / 2);
	}

	tbody {
		tr {
			position: relative;
			height: $table-row-height;
			transition: background-color 0.28s $default-animation-curve;

			&:hover {
				background-color: $table-hover-color;
			}
		}
	}

	td,
	th {
		text-align: right;
		box-sizing: border-box;
		height: $table-row-height;
		padding: 0 $table-column-padding;
		// position: relative;

		&:first-of-type {
			padding-left: $table-card-padding;
		}

		&:last-of-type {
			padding-right: $table-card-padding;
		}
	}

	td {
		vertical-align: top;
		border-top: 1px solid $table-divider-color;
		border-bottom: 1px solid $table-divider-color;
		padding-top: $table-cell-top;
	}

	th {
		@include type(body2);
		text-overflow: ellipsis;
		vertical-align: bottom;
		color: $table-header-color;
		padding-bottom: $table-header-padding-bottom;
	}
}
