//------------------------------------------------------------------------------
// @base: Tables
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$table-row-height: unit(6);
$table-last-row-height: unit(7);
$table-header-height: $table-last-row-height;

$table-column-spacing: unit(4.5);
$table-column-padding: $table-column-spacing / 2;

$table-card-header-height: unit(8);
$table-card-title-top: unit(2.5);
$table-card-padding: unit(3);
$table-button-padding-right: unit(2);
$table-cell-top: $table-card-padding / 2;

//Theme Variables
$table-header-color: rgba($black, 0.54);
$table-divider-color: rgba($black, 0.12);

$table-hover-color: $gray-200;
$table-selection-color: $default-gray-light;

$table-dividers: 1px solid $table-divider-color;


//
// @scss
/* stylelint-disable no-indistinguishable-colors */
table {
	@include font-size(13);
	white-space: nowrap;
	background-color: $white;
	border: $table-dividers;
	// border-collapse: collapse;
	display: block;
	@media (min-width: $bp-medium) {
		display: table;
	}
	overflow-x: auto;
	width: 100%;
	@media (min-width: $bp-medium) {
		width: auto;
	}

	thead {
		padding-bottom: unit(0.5);
	}

	tbody {
		tr {
			position: relative;
			height: $table-row-height;
			transition: background-color 0.28s $default-animation-curve;

			&:hover {
				background-color: $table-hover-color;
			}
		}
	}

	td,
	th {
		text-align: right;
		box-sizing: border-box;
		height: $table-row-height;
		padding: 0 $table-column-padding;
		// position: relative;

		&:first-of-type {
			padding-left: $table-card-padding;
		}

		&:last-of-type {
			padding-right: $table-card-padding;
		}
	}

	td {
		vertical-align: top;
		border-top: $table-dividers;
		border-bottom: $table-dividers;
		padding-top: $table-cell-top;
	}

	th {
		@include type($type: "body2");
		text-overflow: ellipsis;
		vertical-align: bottom;
		color: $table-header-color;
		padding-bottom: unit(1);
	}
}
/* stylelint-enable no-indistinguishable-colors */
