//------------------------------------------------------------------------------
// @base: Type
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------


//
// @scss
/* stylelint-disable declaration-block-no-duplicate-properties */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	@include type(display3, true);
	font-size: 60%;
	display: block;
}
/* stylelint-enable declaration-block-no-duplicate-properties */

h1 {
	@include type(display3);
}

h2 {
	@include type(display2);
}

h3 {
	@include type(display1);
}

h4 {
	@include type(headline);
}

h5 {
	@include type(title);
}

h6 {
	@include type(subhead2);
}

p {
	@include type(body1);
}

blockquote {
	@include type(blockquote);
	@include space(margin-left);

	p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;

		&:before {
			content: "“";
			// content: open-quote;
		}

		&:after {
			content: "";
			// content: no-close-quote;
		}

		&:last-of-type:after {
			content: "”";
			// content: close-quote;
		}
	}
}

mark {
	background-color: $yellow-200;
}

cite {
	@include type(caption);
}

address {
	@include type(body1);
}

ul,
ol {
	@include type(body1);
}
