//------------------------------------------------------------------------------
// @base: Type
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description:
//
//------------------------------------------------------------------------------

//
// #settings

//Theme Variables
$mark-bg-color: $yellow-200 !default;

//
// #scss

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	@include type(headline2, true);
	font-size: 60%;
	display: block;
}

h1 {
	@include type(headline2);
}

h2 {
	@include type(headline3);
}

h3 {
	@include type(headline4);
}

h4 {
	@include type(headline5);
}

h5 {
	@include type(title);
}

h6 {
	@include type(subtitle1);
}

p {
	@include type(body1);
}

blockquote {
	@include type(headline5);
	font-style: italic;
	position: relative;

	p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;

		&:before {
			content: '“';
		}

		&:after {
			content: '';
		}

		&:last-of-type:after {
			content: '”';
		}
	}
	@include space(margin-left);
}

mark {
	background-color: $mark-bg-color;
}

cite {
	@include type(caption);
}

address {
	@include type(body2);
}

ul,
ol {
	@include type(body2);
}
