// 1. Global Settings
//-------------------------
@import "../../src/scss/settings";

// 2. Tools
//-------------------------
@import "../../src/scss/functions";
@import "../../src/scss/mixins";

$primary-color: #6257a8 !default;
$accent-color: #ff6666 !default;

$text-color: #34495e !default;
$text-em-color: #7f8c8d !default;

$header-color: #2c3e50 !default;
$header-alt-color: $gray-600 !default;

$sidebar-color: #364149 !default;
$sidebar-link-color: #505d6b !default;

$tip-bg-color: $gray-50 !default;
$tip-icon-color: $white !default;
$tip-em-color: $black !default;

$code-bg-color: $gray-100 !default;
$code-color: #e96900 !default;
$pre-code-color: $gray-700 !default;

$ui-color-light: $gray-300 !default;
$ui-color-dark: $gray-400 !default;

$blockquote-color: $gray-500 !default;

$docs-bg-color: $white !default;

$dropmenu-bg-color: $white !default;

$sidebar-width: 300px;

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");


* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
}

body:not(.ready) {
	background-color: $docs-bg-color;
	overflow: hidden;

	[data-cloak],
	nav {
		display: none;
	}
}

.app {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	margin: 40vh auto;

	&:empty:before {
		content: "Loading...";
	}
}

.emoji {
	vertical-align: middle;
	height: 18px;
}

.progress {
	background-color: $primary-color;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: width 0.2s, opacity 0.4s;
}

.search a:hover {
	color: $primary-color;
}

.search .search-keyword {
	font-style: normal;
	color: $primary-color;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 0;
	color: $text-color;
	overflow-x: hidden;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

kbd {
	font-size: 12px !important;
	line-height: 1;
	vertical-align: middle;
	border: solid 1px $ui-color-dark;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 5px;
}





/* navbar */
.app-nav {
	text-align: right;
	position: absolute;
	z-index: 10;
	right: 0;
	left: 0;
	margin: 25px 60px 0 0;

	&.no-badge {
		margin-right: 25px;
	}

	p {
		margin: 0;
	}

	> a {
		color: #ffffff;
		margin: 0 15px;
		padding: 5px 0;
	}

	ul,
	li {
		display: inline-block;
		margin: 0;
		list-style: none;
	}

	a {
		font-size: 16px;
		text-decoration: none;
		color: #ffffff;
		transition: color 0.3s;

		&:hover {
			color: $primary-color;
		}

		/* stylelint-disable selector-no-qualifying-type */
		&.active {
			border-bottom: 2px solid $primary-color;
			color: $primary-color;
		}
		/* stylelint-enable selector-no-qualifying-type */
	}

	/* navbar dropdown */
	li {
		position: relative;
		display: inline-block;
		margin: 0 15px;
		padding: 5px 0;

		ul {
			text-align: left;
			white-space: nowrap;
			background-color: $dropmenu-bg-color;
			border: 1px solid $ui-color-light;
			border-bottom-color: $ui-color-dark;
			border-radius: 4px;
			position: absolute;
			top: 100%;
			right: -15px;
			display: none;
			overflow-y: scroll;
			box-sizing: border-box;
			max-height: calc(100vh - 61px);
			padding: 10px 0;

			li {
				font-size: 14px;
				line-height: 1;
				white-space: nowrap;
				display: block;
				margin: 0;
				margin: 8px 14px;
			}

			a {
				font-size: inherit;
				display: block;
				margin: 0;
				padding: 0;

				/* stylelint-disable selector-no-qualifying-type */
				&.active {
					border-bottom: 0;
				}
				/* stylelint-enable selector-no-qualifying-type */
			}
		}

		&:hover ul {
			display: block;
		}
	}
}




/* github corner */
.github-corner {
	text-decoration: none;
	border-bottom: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;

	&:hover .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}

	svg {
		color: $docs-bg-color;
		width: 80px;
		height: 80px;
		fill: $primary-color;
	}
}

/* main */
main {
	position: relative;
	display: block;
	size: 100vw 100%;
}

.anchor {
	text-decoration: none;
	display: inline-block;
	transition: all 0.3s;

	span {
		font-weight: 700;
		color: $primary-color;
	}

	&:hover {
		text-decoration: none;

		span {
			border-bottom: 2px solid $primary-color;
		}
	}
}





/* sidebar */
.sidebar {
	background-color: $docs-bg-color;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	color: $sidebar-color;
	position: absolute;
	z-index: 20;
	overflow-y: auto;
	width: $sidebar-width;
	margin: 0;
	padding: 40px 0;
	transition: transform 250ms ease-out;

	> h1 {
		font-size: 22px;
		font-weight: 300;
		text-align: center;
		margin: 0 auto 15px;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 6px 0 6px 15px;

		> p {
			font-weight: 700;
			margin: 0;
		}
	}

	ul,
	ul li {
		list-style: none;
		/* stylelint-disable selector-no-qualifying-type */
		&.active > a {
			font-weight: 600;
			border-right: 2px solid;
			color: $primary-color;
		}
		/* stylelint-enable selector-no-qualifying-type */
	}

	ul li a {
		font-size: 14px;
		font-weight: normal;
		white-space: nowrap;
		text-decoration: none;
		text-overflow: ellipsis;
		border-bottom: none;
		color: $sidebar-link-color;
		display: block;
		overflow: hidden;

		&:hover {
			text-decoration: underline;
		}
	}

	ul li ul {
		padding: 0;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 4px;
	}

	&:hover::-webkit-scrollbar-thumb {
		background: rgba(136, 136, 136, 0.4);
	}

	&:hover::-webkit-scrollbar-track {
		background: rgba(136, 136, 136, 0.1);
	}

	/* sidebar toggle */
	&-toggle {
		text-align: center;
		background-color: rgba($docs-bg-color, 0.8);
		border: 0;
		outline: none;
		position: absolute;
		z-index: 30;
		width: 36px;
		margin: 0;
		padding: 10px;
		cursor: pointer;
		transition: opacity 0.3s;

		& &-button:hover {
			opacity: 0.4;
		}

		span {
			background-color: $primary-color;
			display: block;
			margin-bottom: 4px;
			padding: 1px 2px;
		}
	}
}

.sticky {
	.sidebar,
	.sidebar-toggle {
		position: fixed;
	}
}




/* main content */
.content {
	position: absolute;
	margin: 0 0 0 $sidebar-width;
	padding-top: 20px;
	transition: left 250ms ease;
}

/* markdown content found on pages */
.markdown-section {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 15px 40px;

	&:first-child {
		margin-top: 0 !important;
	}

	h1,
	h2,
	h3,
	h4,
	strong {
		font-weight: 600;
		color: $header-color;
	}

	a {
		font-weight: 600;
		text-decoration: none;
		color: $primary-color;

		&:hover {
			border-bottom: 2px solid $primary-color;
		}
	}

	h1 {
		font-size: 30px;
		margin: 0 0 15px;
	}

	h2 {
		font-size: 26px;
		margin: 45px 0 12px;
	}

	h3 {
		font-size: 22px;
		margin: 40px 0 9px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 15px;
		color: $header-alt-color;
	}

	figure,
	p,
	ul,
	ol {
		margin: 18px 0;
	}

	p,
	ul,
	ol {
		line-height: 1.6;
		word-spacing: 0.053em;
	}

	ul,
	ol {
		padding-left: 22px;
	}

	blockquote {
		border-left: 4px solid $primary-color;
		color: $blockquote-color;
		margin: 30px 0;
		padding-left: 20px;

		p {
			font-weight: 600;
			margin-left: 0;
		}
	}

	iframe {
		margin: 15px 0;
	}

	em {
		color: $text-em-color;
	}

	hr {
		border: none;
		border-bottom: 1px solid $ui-color-light;
		margin: 30px 0;
	}

	table {
		display: block;
		overflow: auto;
		width: 100%;
		margin-bottom: 15px;
		border-spacing: 0;
		border-collapse: collapse;
	}

	th {
		font-weight: bold;
		border: 1px solid $ui-color-light;
		padding: 6px 13px;
	}

	td {
		border: 1px solid $ui-color-light;
		padding: 6px 13px;
	}

	tr {
		border-top: 1px solid $ui-color-light;

		&:nth-child(2n) {
			background-color: $tip-bg-color;
		}
	}

	code {
		font-family: "Roboto Mono", Monaco, courier, monospace;
		font-size: 12px;
		white-space: nowrap;
		background-color: $code-bg-color;
		border-radius: 2px;
		color: $code-color;
		margin: 0 2px;
		padding: 3px 5px;

		&:after,
		&:before {
			letter-spacing: 0.053em;
		}
	}

	pre {
		font-family: "Roboto Mono", Monaco, courier, monospace;
		line-height: 1.4667;
		word-wrap: normal;
		background-color: $code-bg-color;
		position: relative;
		overflow: auto;
		margin: 18px 0;
		padding: 0 21px;

		code {
			font-family: "Roboto Mono", Monaco, courier, monospace;
			font-size: 12px;
			line-height: inherit;
			white-space: inherit;
			background-color: $code-bg-color;
			border-radius: 2px;
			color: $pre-code-color;
			display: block;
			overflow: inherit;
			max-width: inherit;
			margin: 0 2px;
			padding: 33px 5px;
		}
	}

	.tip {
		background-color: $tip-bg-color;
		border-left: 4px solid $accent-color;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		position: relative;
		margin: 30px 0;
		padding: 12px 24px 12px 30px;

		&:before {
			/* stylelint-disable font-family-name-quotes */
			font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
			/* stylelint-enable font-family-name-quotes */
			font-size: 14px;
			font-weight: bold;
			line-height: 1.4286;
			text-align: center;
			background-color: $accent-color;
			border-radius: 100%;
			color: $tip-icon-color;
			position: absolute;
			top: 14px;
			left: -12px;
			content: "!";
			size: 20px;
		}

		code {
			background-color: $code-bg-color;
		}

		em {
			color: $tip-em-color;
		}
	}

	.warn {
		background: rgba($primary-color, 0.1);
		border-radius: 2px;
		padding: 15px;
	}
}

/* stylelint-disable no-duplicate-selectors */
.markdown-section pre {
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;

	code {
		-webkit-font-smoothing: initial;
		-moz-osx-font-smoothing: initial;

		.token {
			-webkit-font-smoothing: initial;
			-moz-osx-font-smoothing: initial;
		}
	}
}
/* stylelint-enable no-duplicate-selectors */

.close {
	.sidebar {
		transform: translateX(-$sidebar-width);

		&-toggle {
			width: 36px;
		}
	}

	.content {
		left: 0;
	}
}

@media (max-width: 600px) {
	.github-corner,
	.sidebar-toggle,
	.sidebar {
		position: fixed;
	}

	nav {
		margin-top: 16px;
	}

	nav li ul {
		top: 30px;
	}

	main {
		overflow-x: hidden;
		height: auto;
	}

	.sidebar {
		left: -$sidebar-width;
		transition: transform 250ms ease-out;

		&-toggle {
			background-color: transparent;
			width: auto;
		}
	}

	.content {
		position: static;
		left: 0;
		max-width: 100vw;
		transition: transform 250ms ease;
	}

	nav,
	.github-corner {
		transition: transform 250ms ease-out;
	}

	.close {
		.sidebar {
			transform: translateX($sidebar-width);

			&-toggle {
				background-color: rgba($docs-bg-color, 0.8);
				width: calc($sidebar-width - 16px);
				transition: 1s background-color;
			}
		}

		.content {
			transform: translateX($sidebar-width);
		}

		nav,
		.github-corner {
			display: none;
		}
	}

	.github-corner {
		&:hover .octo-arm {
			animation: none;
		}

		.octo-arm {
			animation: octocat-wave 560ms ease-in-out;
		}
	}
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}





/* coverpage */
.cover {
	background: rgba(0, 0, 0, 0) !important;
	background-color: #6257a8 !important;
	background-image: linear-gradient(to bottom, #312c54 0%, #6257a8 100%) !important;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: none;
	align-items: center;
	height: 100vh;

	&.show {
		display: flex;
	}

	&.has-mask .mask {
		background-color: $docs-bg-color;
		opacity: 0.8;
		position: absolute;
		size: 100%;
	}

	& &-main {
		text-align: center;
		z-index: 1;
		flex: 1;
		margin: -20px 16px 0;
	}

	a {
		font-weight: 700;
		text-decoration: none;
		color: $primary-color;

		&:hover {
			text-decoration: none;
			border-bottom: 2px solid $primary-color;
		}
	}

	p {
		line-height: 1.4667;
		color: #ffffff;
		margin: 15px 0;
	}

	h1 {
		font-size: 36px;
		font-weight: 300;
		text-align: center;
		color: #ffffff;
		position: relative;
		margin: 9px 0 36px;

		a {
			font-weight: 700;
			color: $primary-color;
			display: block;

			&:hover {
				border: none;
			}
		}

		small {
			font-size: 15px;
			position: absolute;
			bottom: -7px;
		}
	}

	blockquote {
		font-size: 22px;
		text-align: center;
		color: #ffffff;
	}

	ul {
		line-height: 1.8;
		color: #ffffff;
		max-width: 500px;
		margin: 1em auto;
		padding: 0;
		list-style-type: none;
	}

	& &-main > p:last-child a {
		font-size: 16px;
		text-decoration: none;
		letter-spacing: 0.094em;
		border-width: 1px;
		border-style: solid;
		border-color: #ffffff;
		border-radius: 30px;
		color: #ffffff;
		display: inline-block;
		box-sizing: border-box;
		margin-right: 15px;
		padding: 11px 30px;
		transition: all 0.15s ease;

		&:last-child {
			background-color: $primary-color;
			border-color: $primary-color;
			color: #ffffff;
			margin-right: 0;

			&:hover {
				background-color: lighten($primary-color, 15%);
				border-color: lighten($primary-color, 15%);
			}
		}

		&:hover {
			background-color: lighten($primary-color, 15%);
			border-color: lighten($primary-color, 15%);
			color: #ffffff;
		}
	}

	blockquote > p > a {
		border-bottom: 2px solid $primary-color;
		transition: color 0.3s;

		&:hover {
			color: $primary-color;
		}
	}
}





.app-sub-sidebar .section-link:before {
	padding-right: 4px;
	content: "-";
}





/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8e908c;
}

.token.namespace {
	opacity: 0.7;
}

.token.boolean,
.token.number {
	color: #c76b29;
}

.token.punctuation {
	color: #525252;
}

.token.property {
	color: #c08b30;
}

.token.tag {
	color: #2973b7;
}

.token.string {
	color: #42b983;
}

.token.selector {
	color: #6679cc;
}

.token.attr-name {
	color: #2973b7;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
	color: #42b983;
}

.token.keyword {
	color: #e96900;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #22a2c9;
}

.token.placeholder,
.token.variable {
	color: #3d8fd1;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	text-decoration: none;
	border-bottom: 1px dotted #202746;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #c94922;
}

.token.entity {
	cursor: help;
}

code .token {
	min-height: 22px;
}

pre:after {
	font-size: 9px;
	font-weight: 600;
	line-height: 0.6;
	text-align: right;
	color: #cccccc;
	position: absolute;
	top: 0;
	right: 0;
	height: 15px;
	padding: 5px 10px 0;
	content: attr(data-lang);
}
