@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

*,
body,
.markdown-section pre,
.markdown-section pre > code,
code .token {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: 0;
	background-color: #ffffff;
	color: #34495e;
	overflow-x: hidden;
	margin: 0;
}

body:not(.ready) {
	overflow: hidden;
}

body:not(.ready) [data-cloak],
body:not(.ready) nav {
	display: none;
}

.sidebar {
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	color: #364149;
	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	width: 300px;
	padding: 40px 0;
	transition: transform 0.25s ease-out;
}

.sidebar > h1 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto 16px;
}

.sidebar > h1 a {
	text-decoration: none;
	color: inherit;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li > p {
	font-weight: 700;
	margin: 0;
}

.sidebar ul,
.sidebar ul li {
	list-style: none;
}

.sidebar ul li a {
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
	border-bottom: none;
	color: #505d6b;
	display: block;
	overflow: hidden;
}

.sidebar ul li ul {
	padding: 0;
}

.sidebar::-webkit-scrollbar {
	width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
	background: rgba(135, 135, 135, 0.4);
}

.sidebar:hover::-webkit-scrollbar-track {
	background: rgba(135, 135, 135, 0.1);
}

.sidebar-toggle {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border: 0;
	outline: none;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 284px;
	padding: 10px;
	transition: opacity 0.3s;
}

.sidebar-toggle .sidebar-toggle-button:hover {
	opacity: 0.4;
}

.sidebar-toggle span {
	background-color: #42b983;
	display: block;
	width: 16px;
	height: 2px;
	margin-bottom: 4px;
}

.sticky .sidebar,
.sticky .sidebar-toggle {
	position: fixed;
}

.sidebar li {
	margin: 6px 0 6px 15px;
}

.sidebar ul li a:hover {
	text-decoration: underline;
}

.sidebar ul .active > a {
	font-weight: 600;
	border-right: 2px solid;
	color: #42b983;
}

.app {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	margin: 40vh auto;
}

.app:empty:before {
	content: "Loading...";
}

.emoji {
	vertical-align: middle;
	height: 19px;
}

.progress {
	background-color: #42b983;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: width 0.2s, opacity 0.4s;
}

.search .search-keyword,
.search a:hover {
	color: #42b983;
}

.search .search-keyword {
	font-style: normal;
}

img {
	max-width: 100%;
}

kbd {
	font-size: 12px !important;
	line-height: 1;
	vertical-align: middle;
	border: 1px solid #cccccc;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 5px;
}

.app-nav {
	text-align: right;
	position: absolute;
	z-index: 2;
	right: 0;
	left: 0;
	margin: 25px 60px 0 0;
}

.app-nav p {
	margin: 0;
}

.app-nav > a {
	margin: 0 16px;
	padding: 5px 0;
}

.app-nav li,
.app-nav ul {
	display: inline-block;
	margin: 0;
	list-style: none;
}

.app-nav a {
	font-size: 16px;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s;
}

.app-nav .active,
.app-nav a:hover {
	color: #42b983;
}

.app-nav .active {
	border-bottom: 2px solid #42b983;
}

.app-nav li {
	position: relative;
	display: inline-block;
	margin: 0 16px;
	padding: 5px 0;
}

.app-nav li ul {
	text-align: left;
	white-space: nowrap;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-bottom-color: #cccccc;
	border-radius: 4px;
	position: absolute;
	top: 100%;
	right: -15px;
	display: none;
	overflow-y: scroll;
	box-sizing: border-box;
	max-height: calc(100vh - 61px);
	padding: 10px 0;
}

.app-nav li ul li {
	font-size: 14px;
	line-height: 1.142857;
	white-space: nowrap;
	display: block;
	margin: 8px 14px;
}

.app-nav li ul a {
	font-size: inherit;
	display: block;
	margin: 0;
	padding: 0;
}

.app-nav li ul .active {
	border-bottom: 0;
}

.app-nav li:hover ul {
	display: block;
}

.app-nav.no-badge {
	margin-right: 25px;
}

.github-corner {
	text-decoration: none;
	border-bottom: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}

.github-corner svg {
	color: #ffffff;
	width: 80px;
	height: 80px;
	fill: #42b983;
}

.github-corner:hover .octo-arm {
	animation: a 0.56s ease-in-out;
}

main {
	position: relative;
	display: block;
	width: 100vw;
	height: 100%;
}

.anchor {
	text-decoration: none;
	display: inline-block;
	transition: all 0.3s;
}

.anchor span {
	color: #34495e;
}

.anchor:hover {
	text-decoration: underline;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	padding-top: 20px;
	transition: left 0.25s ease;
}

.markdown-section {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 15px 40px;
}

.markdown-section > * {
	font-size: inherit;
	box-sizing: border-box;
}

.markdown-section > :first-child {
	margin-top: 0 !important;
}

.markdown-section hr {
	border: none;
	border-bottom: 1px solid #eeeeee;
	margin: 2em 0;
}

.markdown-section table {
	display: block;
	overflow: auto;
	width: 100%;
	margin-bottom: 16px;
	border-spacing: 0;
	border-collapse: collapse;
}

.markdown-section th {
	font-weight: 700;
}

.markdown-section td,
.markdown-section th {
	border: 1px solid #dddddd;
	padding: 6px 13px;
}

.markdown-section tr {
	border-top: 1px solid #cccccc;
}

.markdown-section .tip,
.markdown-section tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.markdown-section .tip {
	border-left: 4px solid #ff6666;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	position: relative;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
}

.markdown-section .tip code {
	background-color: #efefef;
}

.markdown-section .tip em {
	color: #34495e;
}

.markdown-section .tip:before {
	font-family: Dosis, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.42857;
	text-align: center;
	background-color: #ff6666;
	border-radius: 100%;
	color: #ffffff;
	position: absolute;
	top: 14px;
	left: -12px;
	width: 20px;
	height: 20px;
	content: "!";
}

.markdown-section .warn {
	background: rgba(66, 185, 131, 0.1);
	border-radius: 2px;
	padding: 16px;
}

.close .sidebar {
	transform: translateX(-300px);
}

.close .sidebar-toggle {
	width: auto;
}

.close .content {
	left: 0;
}

@media (max-width: 600px) {
	.github-corner,
	.sidebar,
	.sidebar-toggle {
		position: fixed;
	}

	nav {
		margin-top: 16px;
	}

	nav li ul {
		top: 30px;
	}

	main {
		overflow-x: hidden;
		height: auto;
	}

	.sidebar {
		left: -300px;
		transition: transform 0.25s ease-out;
	}

	.content {
		position: static;
		left: 0;
		max-width: 100vw;
		transition: transform 0.25s ease;
	}

	.github-corner,
	nav {
		transition: transform 0.25s ease-out;
	}

	.sidebar-toggle {
		background-color: transparent;
		width: auto;
	}

	.close .sidebar {
		transform: translateX(300px);
	}

	.close .sidebar-toggle {
		background-color: rgba(255, 255, 255, 0.8);
		width: 284px;
		transition: background-color 1s;
	}

	.close .content {
		transform: translateX(300px);
	}

	.close .github-corner,
	.close nav {
		display: none;
	}

	.github-corner .octo-arm {
		animation: a 0.56s ease-in-out;
	}

	.github-corner:hover .octo-arm {
		animation: none;
	}
}

@keyframes a {
	0%,
	to {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

.cover {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	display: none;
	align-items: center;
	height: 100vh;
}

.cover .cover-main {
	text-align: center;
	z-index: 1;
	flex: 1;
	margin: -20px 16px 0;
}

.cover a {
	color: inherit;
}

.cover a,
.cover a:hover {
	text-decoration: none;
}

.cover p {
	line-height: 1.6;
	margin: 1em 0;
}

.cover h1 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: inherit;
	position: relative;
	margin: 10px 0 40px;
}

.cover h1 a {
	display: block;
}

.cover h1 small {
	font-size: 16px;
	position: absolute;
	bottom: -7px;
}

.cover blockquote {
	font-size: 24px;
	text-align: center;
}

.cover ul {
	line-height: 1.8;
	max-width: 500px;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;
}

.cover .cover-main > p:last-child a {
	font-size: 1.05rem;
	font-size: 16.8px;
	text-decoration: none;
	letter-spacing: 0.107em;
	border: 1px solid #42b983;
	border-radius: 30px;
	color: #42b983;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 16px;
	padding: 0.75em 32px;
	transition: all 0.15s ease;
}

.cover .cover-main > p:last-child a:last-child {
	background-color: #42b983;
	color: #ffffff;
	margin-right: 0;
}

.cover .cover-main > p:last-child a:last-child:hover {
	color: inherit;
	opacity: 0.8;
}

.cover .cover-main > p:last-child a:hover {
	color: inherit;
}

.cover blockquote > p > a {
	border-bottom: 2px solid #42b983;
	transition: color 0.3s;
}

.cover blockquote > p > a:hover {
	color: #42b983;
}

.cover.show {
	display: flex;
}

.cover.has-mask .mask {
	background-color: #ffffff;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
}

.app-sub-sidebar .section-link:before {
	padding-right: 4px;
	content: "-";
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
	font-weight: 600;
	color: #2c3e50;
}

.markdown-section a {
	font-weight: 600;
	color: #42b983;
}

.markdown-section h1 {
	font-size: 32px;
	margin: 0 0 16px;
}

.markdown-section h2 {
	font-size: 28px;
	margin: 45px 0 13px;
}

.markdown-section h3 {
	font-size: 24px;
	margin: 40px 0 10px;
}

.markdown-section h4 {
	font-size: 20px;
}

.markdown-section h5,
.markdown-section h6 {
	font-size: 16px;
}

.markdown-section h6 {
	color: #777777;
}

.markdown-section figure,
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
	margin: 1.2em 0;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
	line-height: 1.7333;
	word-spacing: 0.8px;
}

.markdown-section ol,
.markdown-section ul {
	padding-left: 24px;
}

.markdown-section blockquote {
	border-left: 4px solid #42b983;
	color: #858585;
	margin: 30px 0;
	padding-left: 20px;
}

.markdown-section blockquote p {
	font-weight: 600;
	margin-left: 0;
}

.markdown-section iframe {
	margin: 15px 0;
}

.markdown-section em {
	color: #7f8c8d;
}

.markdown-section code {
	font-size: 13px;
	white-space: nowrap;
	border-radius: 2px;
	color: #e96900;
	margin: 0 2px;
	padding: 3px 5px;
}

.markdown-section code,
.markdown-section pre {
	font-family: "Roboto Mono", Monaco, courier, monospace;
	background-color: #f8f8f8;
}

.markdown-section pre {
	line-height: 1.6;
	word-wrap: normal;
	position: relative;
	overflow: auto;
	margin: 18px 0;
	padding: 0 22px;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #8e908c;
}

.token.namespace {
	opacity: 0.7;
}

.token.boolean,
.token.number {
	color: #c76b29;
}

.token.punctuation {
	color: #525252;
}

.token.property {
	color: #c08b30;
}

.token.tag {
	color: #2973b7;
}

.token.string {
	color: #42b983;
}

.token.selector {
	color: #6679cc;
}

.token.attr-name {
	color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
	color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
	color: #42b983;
}

.token.keyword {
	color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement {
	color: #22a2c9;
}

.token.placeholder,
.token.variable {
	color: #3d8fd1;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	text-decoration: none;
	border-bottom: 1px dotted #202746;
}

.token.italic {
	font-style: italic;
}

.token.bold,
.token.important {
	font-weight: 700;
}

.token.important {
	color: #c94922;
}

.token.entity {
	cursor: help;
}

.markdown-section pre > code {
	font-family: "Roboto Mono", Monaco, courier, monospace;
	font-size: 13px;
	line-height: inherit;
	white-space: inherit;
	background-color: #f8f8f8;
	border-radius: 2px;
	color: #525252;
	display: block;
	overflow: inherit;
	max-width: inherit;
	margin: 0 2px;
	padding: 33px 5px;
}

.markdown-section code:after,
.markdown-section code:before {
	letter-spacing: 0.053em;
}

code .token {
	min-height: 24px;
}

pre:after {
	font-size: 10px;
	font-weight: 600;
	line-height: 1.5;
	text-align: right;
	color: #cccccc;
	position: absolute;
	top: 0;
	right: 0;
	height: 15px;
	padding: 5px 10px 0;
	content: attr(data-lang);
}
