@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
* {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	-webkit-touch-callout: none;
}

body:not(.ready) {
	background-color: #ffffff;
	overflow: hidden;
}

body:not(.ready) [data-cloak],
body:not(.ready) nav {
	display: none;
}

.app {
	font-size: 1.875rem;
	font-weight: lighter;
	text-align: center;
	margin: 40vh auto;
}

.app:empty:before {
	content: 'Loading...';
}

.emoji {
	vertical-align: middle;
	height: 18px;
}

.progress {
	background-color: #6257a8;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: width 0.2s, opacity 0.4s;
}

.search a:hover {
	color: #6257a8;
}

.search .search-keyword {
	font-style: normal;
	color: #6257a8;
}

html,
body {
	height: 100%;
}

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	color: #34495e;
	overflow-x: hidden;
	margin: 0;
}

img {
	max-width: 100%;
}

/* navbar */
.app-nav {
	text-align: right;
	position: absolute;
	z-index: 10;
	right: 0;
	left: 0;
	margin: 1.5625rem 3.75rem 0 0;
	/* navbar dropdown */
}

.app-nav.no-badge {
	margin-right: 1.5625rem;
}

.app-nav p {
	margin: 0;
}

.app-nav > a {
	color: #6257a8;
	margin: 0 0.9375rem;
	padding: 0.3125rem 0;
}

.app-nav ul,
.app-nav li {
	display: inline-block;
	margin: 0;
	list-style: none;
}

.app-nav a {
	font-size: 1rem;
	text-decoration: none;
	color: #6257a8;
	transition: color 0.3s;
	/* stylelint-disable selector-no-qualifying-type */
	/* stylelint-enable selector-no-qualifying-type */
}

.app-nav a:hover, .app-nav a.active {
	border-bottom: 2px solid #9189c2;
	color: #9189c2;
}

.app-nav li {
	position: relative;
	display: inline-block;
	margin: 0 0.9375rem;
	padding: 0.3125rem 0;
}

.app-nav li ul {
	text-align: left;
	white-space: nowrap;
	background-color: #ffffff;
	border: 1px solid #ced4da;
	border-bottom-color: #adb5bd;
	border-radius: 4px;
	position: absolute;
	top: 100%;
	right: -15px;
	display: none;
	overflow-y: scroll;
	box-sizing: border-box;
	max-height: calc(100vh - 61px);
	padding: 0.625rem 0;
}

.app-nav li ul li {
	font-size: 0.875rem;
	line-height: 1;
	white-space: nowrap;
	display: block;
	margin: 0;
	margin: 0.5rem 0.875rem;
}

.app-nav li ul a {
	font-size: inherit;
	display: block;
	margin: 0;
	padding: 0;
	/* stylelint-disable selector-no-qualifying-type */
	/* stylelint-enable selector-no-qualifying-type */
}

.app-nav li ul a.active {
	border-bottom: 0;
}

.app-nav li:hover ul {
	display: block;
}

/* github corner */
.github-corner {
	text-decoration: none;
	border-bottom: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
	color: #ffffff;
	width: 80px;
	height: 80px;
	fill: #6257a8;
}

/* main */
main {
	position: relative;
	display: block;
	width: 100vw 100%;
}

.anchor {
	text-decoration: none;
	display: inline-block;
	transition: all 0.3s;
}

.anchor span {
	font-weight: 700;
	color: #6257a8;
}

.anchor:hover {
	text-decoration: none;
}

.anchor:hover span {
	border-bottom: 2px solid #6257a8;
}

/* sidebar */
.sidebar {
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	color: #364149;
	position: absolute;
	z-index: 20;
	overflow-y: auto;
	width: 300px;
	margin: 0;
	padding: 2.5rem 0;
	transition: transform 250ms ease-out;
	/* sidebar toggle */
}

.sidebar > h1 {
	font-size: 1.375rem;
	font-weight: 300;
	text-align: center;
	margin: 0 auto 0.9375rem;
}

.sidebar > h1 a {
	text-decoration: none;
	color: inherit;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	margin: 0.375rem 0 0.375rem 0.9375rem;
}

.sidebar li > p {
	font-weight: 700;
	margin: 0;
}

.sidebar ul,
.sidebar ul li {
	list-style: none;
	/* stylelint-disable selector-no-qualifying-type */
	/* stylelint-enable selector-no-qualifying-type */
}

.sidebar ul.active > a,
.sidebar ul li.active > a {
	font-weight: 600;
	border-right: 2px solid;
	color: #6257a8;
}

.sidebar ul li a {
	font-size: 0.875rem;
	font-weight: normal;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
	border-bottom: none;
	color: #505d6b;
	display: block;
	overflow: hidden;
}

.sidebar ul li a:hover {
	text-decoration: underline;
}

.sidebar ul li ul {
	padding: 0;
}

.sidebar::-webkit-scrollbar {
	width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.4);
}

.sidebar:hover::-webkit-scrollbar-track {
	background: rgba(136, 136, 136, 0.1);
}

.sidebar-toggle {
	text-align: center;
	background-color: transparent;
	border: 0;
	outline: none;
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 30px;
	width: 284px;
	margin: 0;
	padding: 0.625rem;
	cursor: pointer;
	transition: opacity 0.3s;
}

.sidebar-toggle .sidebar-toggle-button:hover {
	opacity: 0.4;
}

.sidebar-toggle span {
	background-color: #6257a8;
	display: block;
	width: 16px;
	height: 2px;
	margin-bottom: 0.25rem;
	padding: 0.0625rem 0.125rem;
}

.sticky .sidebar,
.sticky .sidebar-toggle {
	position: fixed;
}

/* main content */
.content {
	position: absolute;
	margin: 0 0 0 18.75rem;
	padding-top: 1.25rem;
	transition: left 250ms ease;
}

/* markdown content found on pages */
.markdown-section {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 1.25rem 0.9375rem 2.5rem;
}

.markdown-section:first-child {
	margin-top: 0 !important;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
	font-weight: 600;
	color: #2c3e50;
}

.markdown-section a {
	font-weight: 600;
	text-decoration: none;
	color: #6257a8;
}

.markdown-section a:hover {
	border-bottom: 2px solid #6257a8;
}

.markdown-section p a:hover {
	border-bottom: 2px solid #6257a8;
}

.markdown-section h1 {
	font-size: 1.875rem;
	margin: 0 0 0.9375rem;
}

.markdown-section h2 {
	font-size: 1.625rem;
	margin: 2.8125rem 0 0.75rem;
}

.markdown-section h3 {
	font-size: 1.375rem;
	margin: 2.5rem 0 0.5625rem;
}

.markdown-section h4 {
	font-size: 1.125rem;
}

.markdown-section h5 {
	font-size: 0.9375rem;
}

.markdown-section h6 {
	font-size: 0.9375rem;
	color: #5F6972;
}

.markdown-section figure,
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
	margin: 1.125rem 0;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
	line-height: 1.6;
	word-spacing: 0.053em;
}

.markdown-section ul,
.markdown-section ol {
	margin-left: 1.125rem;
	padding-left: 1.375rem;
}

.markdown-section blockquote {
	border-left: 4px solid #6257a8;
	color: #868e96;
	margin: 1.875rem 0;
	padding-left: 1.25rem;
}

.markdown-section blockquote p {
	font-weight: 600;
	margin-left: 0;
}

.markdown-section iframe {
	margin: 0.9375rem 0;
}

.markdown-section em {
	color: #7f8c8d;
}

.markdown-section hr {
	border: none;
	border-bottom: 1px solid #ced4da;
	margin: 1.875rem 0;
}

.markdown-section table {
	display: block;
	overflow: auto;
	width: 100%;
	margin-bottom: 0.9375rem;
	border-spacing: 0;
	border-collapse: collapse;
}

.markdown-section th {
	font-weight: bold;
	border: 1px solid #ced4da;
	padding: 0.375rem 0.8125rem;
}

.markdown-section td {
	border: 1px solid #ced4da;
	padding: 0.375rem 0.8125rem;
}

.markdown-section tr {
	border-top: 1px solid #ced4da;
}

.markdown-section tr:nth-child(2n) {
	background-color: #f1f3f5;
}

.markdown-section code {
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, Mono;
	font-size: 0.75rem;
	white-space: nowrap;
	background-color: #e9ecef;
	border-radius: 2px;
	color: #008dff;
	margin: 0 0.125rem;
	padding: 0.1875rem 0.3125rem;
}

.markdown-section code:after, .markdown-section code:before {
	letter-spacing: 0.053em;
}

.markdown-section pre {
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, Mono;
	line-height: 1.4667;
	word-wrap: normal;
	background-color: #e9ecef;
	position: relative;
	overflow: auto;
	margin: 1.125rem 0;
	padding: 0 1.3125rem;
}

.markdown-section pre code {
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, Mono;
	font-size: 0.75rem;
	line-height: inherit;
	white-space: inherit;
	background-color: #e9ecef;
	border-radius: 2px;
	color: #f56e4d;
	display: block;
	overflow: inherit;
	max-width: inherit;
	margin: 0 0.125rem;
	padding: 2.0625rem 0.3125rem;
}

.markdown-section .anchor:hover {
	text-decoration: none;
	border: none;
}

.markdown-section .anchor:hover span {
	text-decoration: underline;
	border: none;
}

.markdown-section .tip {
	background-color: #f1f3f5;
	border-left: 4px solid #ff6666;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	position: relative;
	margin: 1.875rem 0;
	padding: 0.75rem 1.5rem 0.75rem 1.875rem;
}

.markdown-section .tip:before {
	/* stylelint-disable font-family-name-quotes */
	font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	/* stylelint-enable font-family-name-quotes */
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.4286;
	text-align: center;
	background-color: #ff6666;
	border-radius: 100%;
	color: #ffffff;
	position: absolute;
	top: 14px;
	left: -12px;
	width: 20px;
	content: '!';
}

.markdown-section .tip code {
	background-color: #e9ecef;
}

.markdown-section .tip em {
	color: #000000;
}

.markdown-section .warn {
	background: rgba(98, 87, 168, 0.1);
	border-radius: 2px;
	padding: 0.9375rem;
}

/* stylelint-disable no-duplicate-selectors */
.markdown-section pre {
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

.markdown-section pre code {
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

.markdown-section pre code .token {
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

/* stylelint-enable no-duplicate-selectors */
.close .sidebar {
	transform: translateX(-300px);
}

.close .sidebar-toggle {
	width: 36px;
}

.close .content {
	left: 0;
}

@media (max-width: 600px) {
	.github-corner,
	.sidebar-toggle,
	.sidebar {
		position: fixed;
	}
	nav {
		margin-top: 1rem;
	}
	nav li ul {
		top: 30px;
	}
	main {
		overflow-x: hidden;
		height: auto;
	}
	.sidebar {
		left: -300px;
		transition: transform 250ms ease-out;
	}
	.sidebar-toggle {
		background-color: transparent;
		width: auto;
	}
	.content {
		position: static;
		left: 0;
		max-width: 100vw;
		transition: transform 250ms ease;
	}
	nav,
	.github-corner {
		transition: transform 250ms ease-out;
	}
	.close .sidebar {
		transform: translateX(300px);
	}
	.close .sidebar-toggle {
		background-color: rgba(255, 255, 255, 0.8);
		width: calc(300px - 16px);
		transition: 1s background-color;
	}
	.close .content {
		transform: translateX(300px);
	}
	.close nav,
	.close .github-corner {
		display: none;
	}
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

/* coverpage */
.cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: none;
	align-items: center;
	height: 100vh;
}

.cover.show {
	display: flex;
}

.cover.has-mask .mask {
	background-color: #ffffff;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

.cover .cover-main {
	text-align: center;
	z-index: 1;
	flex: 1;
	margin: -1.25rem 1rem 0;
}

.cover a {
	font-weight: 700;
	text-decoration: none;
	color: #6257a8;
}

.cover a:hover {
	text-decoration: none;
	border-bottom: 2px solid #6257a8;
}

.cover p {
	line-height: 1.4667;
	color: #ffffff;
	margin: 0.9375rem 0;
}

.cover h1 {
	font-size: 2.25rem;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
	position: relative;
	margin: 0.5625rem 0 2.25rem;
}

.cover h1 a {
	font-weight: 700;
	color: #6257a8;
	display: block;
}

.cover h1 a:hover {
	border: none;
}

.cover h1 small {
	font-size: 0.9375rem;
	position: absolute;
	bottom: -7px;
}

.cover blockquote {
	font-size: 1.375rem;
	text-align: center;
	color: #ffffff;
}

.cover ul {
	line-height: 1.8;
	color: #ffffff;
	max-width: 500px;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;
}

.cover .cover-main > p:last-child a {
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.094em;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 30px;
	color: #ffffff;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0.9375rem;
	padding: 0.6875rem 1.875rem;
	transition: all 0.15s ease;
}

.cover .cover-main > p:last-child a:last-child {
	background-color: #6257a8;
	border-color: #6257a8;
	color: #ffffff;
	margin-right: 0;
}

.cover .cover-main > p:last-child a:last-child:hover {
	background-color: #9189c2;
	border-color: #9189c2;
}

.cover .cover-main > p:last-child a:hover {
	background-color: #9189c2;
	border-color: #9189c2;
	color: #ffffff;
}

.cover blockquote > p > a {
	border-bottom: 2px solid #6257a8;
	transition: color 0.3s;
}

.cover blockquote > p > a:hover {
	color: #6257a8;
}

.app-sub-sidebar .section-link:before {
	padding-right: 0.25rem;
	content: '-';
}

/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	font-style: italic;
	color: #ccd7da;
}

.token.namespace {
	opacity: 0.7;
}

.token.boolean,
.token.number {
	color: #f56e4d;
}

.token.parent.important {
	color: #fc5572;
}

.token.punctuation {
	color: #40adb4;
}

.token.property {
	color: #8896af;
}

.token.string {
	color: #92b75e;
}

.token.selector {
	color: #fdb53e;
}

.token.keyword,
.token.important {
	color: #7c55fb;
}

.token.placeholder,
.token.variable,
.token.atrule {
	color: #83cbc4;
}

.token.deleted {
	text-decoration: line-through;
}

.token.statement,
.token.regex {
	color: #22a2c9;
}

.token.tag {
	color: #fc5572;
}

.token.attr-name {
	color: #fdb53e;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
	color: #42b983;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #6283b6;
}

.token.inserted {
	text-decoration: none;
	border-bottom: 1px dotted #202746;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

code .token {
	min-height: 22px;
}

pre:after {
	font-size: 0.5625rem;
	font-weight: 600;
	line-height: 0.6;
	text-align: right;
	color: #cccccc;
	position: absolute;
	top: 0;
	right: 0;
	height: 15px;
	padding: 0.3125rem 0.625rem 0;
	content: attr(data-lang);
}

.grey-50 {
	background-color: #f8f9fa;
}

.grey-75 {
	background-color: #f1f3f5;
}

.grey-100 {
	background-color: #e9ecef;
}

.grey-200 {
	background-color: #dee2e6;
}

.grey-300 {
	background-color: #ced4da;
}

.grey-400 {
	background-color: #adb5bd;
}

.grey-500 {
	background-color: #868e96;
}

.grey-600 {
	background-color: #5F6972;
}

.grey-700 {
	background-color: #495057;
}

.grey-800 {
	background-color: #343a40;
}

.grey-900 {
	background-color: #212529;
}

.grey-1000 {
	background-color: #161a1d;
}

.grey-1100 {
	background-color: #111418;
}

.blue-gray-50 {
	background-color: #bdcbd1;
}

.blue-gray-75 {
	background-color: #a5b8c1;
}

.blue-gray-100 {
	background-color: #8da4b0;
}

.blue-gray-200 {
	background-color: #819ba8;
}

.blue-gray-300 {
	background-color: #74919f;
}

.blue-gray-400 {
	background-color: #688897;
}

.blue-gray-500 {
	background-color: #607d8b;
}

.blue-gray-600 {
	background-color: #58727f;
}

.blue-gray-700 {
	background-color: #4f6773;
}

.blue-gray-800 {
	background-color: #475c67;
}

.blue-gray-900 {
	background-color: #3f525b;
}

.blue-gray-1000 {
	background-color: #2e3c43;
}

.blue-gray-1100 {
	background-color: #1d262a;
}

.red-50 {
	background-color: #fcd4d1;
}

.red-75 {
	background-color: #fab0aa;
}

.red-100 {
	background-color: #f88b83;
}

.red-200 {
	background-color: #f77970;
}

.red-300 {
	background-color: #f6675d;
}

.red-400 {
	background-color: #f55549;
}

.red-500 {
	background-color: #f44336;
}

.red-600 {
	background-color: #f33123;
}

.red-700 {
	background-color: #f21f0f;
}

.red-800 {
	background-color: #e11b0c;
}

.red-900 {
	background-color: #cd180b;
}

.red-1000 {
	background-color: #a61409;
}

.red-1100 {
	background-color: #800f07;
}

.pink-50 {
	background-color: #f8b3ca;
}

.pink-75 {
	background-color: #f48db0;
}

.pink-100 {
	background-color: #f06897;
}

.pink-200 {
	background-color: #ee568a;
}

.pink-300 {
	background-color: #ed437d;
}

.pink-400 {
	background-color: #eb3170;
}

.pink-500 {
	background-color: #e91e63;
}

.pink-600 {
	background-color: #dd1659;
}

.pink-700 {
	background-color: #ca1452;
}

.pink-800 {
	background-color: #b8124a;
}

.pink-900 {
	background-color: #a51043;
}

.pink-1000 {
	background-color: #800d34;
}

.pink-1100 {
	background-color: #5b0925;
}

.purple-50 {
	background-color: #e9ceef;
}

.purple-75 {
	background-color: #dcafe4;
}

.purple-100 {
	background-color: #ce90da;
}

.purple-200 {
	background-color: #c781d5;
}

.purple-300 {
	background-color: #c172d0;
}

.purple-400 {
	background-color: #ba62cb;
}

.purple-500 {
	background-color: #b353c6;
}

.purple-600 {
	background-color: #ac44c1;
}

.purple-700 {
	background-color: #a03cb4;
}

.purple-800 {
	background-color: #9337a5;
}

.purple-900 {
	background-color: #853296;
}

.purple-1000 {
	background-color: #6a2777;
}

.purple-1100 {
	background-color: #4f1d58;
}

.deep-purple-50 {
	background-color: #d8ceef;
}

.deep-purple-75 {
	background-color: #c1afe4;
}

.deep-purple-100 {
	background-color: #a990da;
}

.deep-purple-200 {
	background-color: #9d81d5;
}

.deep-purple-300 {
	background-color: #9172d0;
}

.deep-purple-400 {
	background-color: #8562cb;
}

.deep-purple-500 {
	background-color: #7953c6;
}

.deep-purple-600 {
	background-color: #6d44c1;
}

.deep-purple-700 {
	background-color: #643cb4;
}

.deep-purple-800 {
	background-color: #5b37a5;
}

.deep-purple-900 {
	background-color: #533296;
}

.deep-purple-1000 {
	background-color: #422777;
}

.deep-purple-1100 {
	background-color: #311d58;
}

.indigo-50 {
	background-color: #b3bae4;
}

.indigo-75 {
	background-color: #949fda;
}

.indigo-100 {
	background-color: #7684cf;
}

.indigo-200 {
	background-color: #6776ca;
}

.indigo-300 {
	background-color: #5869c5;
}

.indigo-400 {
	background-color: #495bc0;
}

.indigo-500 {
	background-color: #3f51b5;
}

.indigo-600 {
	background-color: #3a4aa6;
}

.indigo-700 {
	background-color: #344397;
}

.indigo-800 {
	background-color: #2f3d88;
}

.indigo-900 {
	background-color: #2a3678;
}

.indigo-1000 {
	background-color: #1f285a;
}

.indigo-1100 {
	background-color: #151b3c;
}

.blue-50 {
	background-color: #a3d6ff;
}

.blue-75 {
	background-color: #7ac4ff;
}

.blue-100 {
	background-color: #52b1ff;
}

.blue-200 {
	background-color: #3da8ff;
}

.blue-300 {
	background-color: #299fff;
}

.blue-400 {
	background-color: #1496ff;
}

.blue-500 {
	background-color: #008dff;
}

.blue-600 {
	background-color: #0082eb;
}

.blue-700 {
	background-color: #0076d6;
}

.blue-800 {
	background-color: #006bc2;
}

.blue-900 {
	background-color: #0060ad;
}

.blue-1000 {
	background-color: #004985;
}

.blue-1100 {
	background-color: #00335c;
}

.light-blue-50 {
	background-color: #b5e6ff;
}

.light-blue-75 {
	background-color: #8cd8ff;
}

.light-blue-100 {
	background-color: #64cbff;
}

.light-blue-200 {
	background-color: #4fc4ff;
}

.light-blue-300 {
	background-color: #3bbdff;
}

.light-blue-400 {
	background-color: #26b6ff;
}

.light-blue-500 {
	background-color: #12afff;
}

.light-blue-600 {
	background-color: #00a7fd;
}

.light-blue-700 {
	background-color: #009ae8;
}

.light-blue-800 {
	background-color: #008cd4;
}

.light-blue-900 {
	background-color: #007fbf;
}

.light-blue-1000 {
	background-color: #006497;
}

.light-blue-1100 {
	background-color: #00496e;
}

.cyan-50 {
	background-color: #a5f0fb;
}

.cyan-75 {
	background-color: #7eeafa;
}

.cyan-100 {
	background-color: #57e3f8;
}

.cyan-200 {
	background-color: #43e0f7;
}

.cyan-300 {
	background-color: #2fddf6;
}

.cyan-400 {
	background-color: #1cdaf6;
}

.cyan-500 {
	background-color: #0ad5f3;
}

.cyan-600 {
	background-color: #09c4df;
}

.cyan-700 {
	background-color: #08b3cc;
}

.cyan-800 {
	background-color: #08a1b8;
}

.cyan-900 {
	background-color: #0790a5;
}

.cyan-1000 {
	background-color: #056e7d;
}

.cyan-1100 {
	background-color: #044c56;
}

.teal-50 {
	background-color: #ddfaf3;
}

.teal-75 {
	background-color: #baf4e7;
}

.teal-100 {
	background-color: #96eedb;
}

.teal-200 {
	background-color: #85ebd4;
}

.teal-300 {
	background-color: #73e9ce;
}

.teal-400 {
	background-color: #62e6c8;
}

.teal-500 {
	background-color: #50e3c2;
}

.teal-600 {
	background-color: #3ee0bc;
}

.teal-700 {
	background-color: #2dddb6;
}

.teal-800 {
	background-color: #22d4ac;
}

.teal-900 {
	background-color: #1fc29e;
}

.teal-1000 {
	background-color: #199f81;
}

.teal-1100 {
	background-color: #147c65;
}

.green-50 {
	background-color: #bce2be;
}

.green-75 {
	background-color: #a0d6a2;
}

.green-100 {
	background-color: #83c986;
}

.green-200 {
	background-color: #75c378;
}

.green-300 {
	background-color: #67bd6a;
}

.green-400 {
	background-color: #59b75c;
}

.green-500 {
	background-color: #4caf50;
}

.green-600 {
	background-color: #46a149;
}

.green-700 {
	background-color: #409343;
}

.green-800 {
	background-color: #39843c;
}

.green-900 {
	background-color: #337636;
}

.green-1000 {
	background-color: #275a29;
}

.green-1100 {
	background-color: #1b3d1c;
}

.light-green-50 {
	background-color: #daecc5;
}

.light-green-75 {
	background-color: #c6e1a6;
}

.light-green-100 {
	background-color: #b2d787;
}

.light-green-200 {
	background-color: #a8d278;
}

.light-green-300 {
	background-color: #9fcd69;
}

.light-green-400 {
	background-color: #95c859;
}

.light-green-500 {
	background-color: #8bc34a;
}

.light-green-600 {
	background-color: #81bb3e;
}

.light-green-700 {
	background-color: #76ab39;
}

.light-green-800 {
	background-color: #6c9c34;
}

.light-green-900 {
	background-color: #618d2f;
}

.light-green-1000 {
	background-color: #4c6e24;
}

.light-green-1100 {
	background-color: #374f1a;
}

.lime-50 {
	background-color: #f0f5c4;
}

.lime-75 {
	background-color: #e7eea1;
}

.lime-100 {
	background-color: #dfe87e;
}

.lime-200 {
	background-color: #dae56d;
}

.lime-300 {
	background-color: #d6e25c;
}

.lime-400 {
	background-color: #d1df4a;
}

.lime-500 {
	background-color: #cddc39;
}

.lime-600 {
	background-color: #c9d928;
}

.lime-700 {
	background-color: #bac923;
}

.lime-800 {
	background-color: #a9b720;
}

.lime-900 {
	background-color: #99a61d;
}

.lime-1000 {
	background-color: #798317;
}

.lime-1100 {
	background-color: #596111;
}

.yellow-50 {
	background-color: #fffcde;
}

.yellow-75 {
	background-color: #fff7b5;
}

.yellow-100 {
	background-color: #fff38d;
}

.yellow-200 {
	background-color: #fff178;
}

.yellow-300 {
	background-color: #ffef64;
}

.yellow-400 {
	background-color: #ffed4f;
}

.yellow-500 {
	background-color: #ffeb3b;
}

.yellow-600 {
	background-color: #ffe927;
}

.yellow-700 {
	background-color: #ffe712;
}

.yellow-800 {
	background-color: #fde300;
}

.yellow-900 {
	background-color: #e8d100;
}

.yellow-1000 {
	background-color: #c0ac00;
}

.yellow-1100 {
	background-color: #978700;
}

.amber-50 {
	background-color: #ffeaaa;
}

.amber-75 {
	background-color: #ffe081;
}

.amber-100 {
	background-color: #ffd559;
}

.amber-200 {
	background-color: #ffd044;
}

.amber-300 {
	background-color: #ffcb30;
}

.amber-400 {
	background-color: #ffc61b;
}

.amber-500 {
	background-color: #ffc107;
}

.amber-600 {
	background-color: #f2b500;
}

.amber-700 {
	background-color: #dda600;
}

.amber-800 {
	background-color: #c99700;
}

.amber-900 {
	background-color: #b48700;
}

.amber-1000 {
	background-color: #8c6900;
}

.amber-1100 {
	background-color: #634a00;
}

.orange-50 {
	background-color: #ffe3bd;
}

.orange-75 {
	background-color: #ffd294;
}

.orange-100 {
	background-color: #ffc16c;
}

.orange-200 {
	background-color: #ffb957;
}

.orange-300 {
	background-color: #ffb043;
}

.orange-400 {
	background-color: #ffa82e;
}

.orange-500 {
	background-color: #ff9f1a;
}

.orange-600 {
	background-color: #ff9606;
}

.orange-700 {
	background-color: #f08c00;
}

.orange-800 {
	background-color: #dc8000;
}

.orange-900 {
	background-color: #c77400;
}

.orange-1000 {
	background-color: #9f5c00;
}

.orange-1100 {
	background-color: #764400;
}

.deep-orange-50 {
	background-color: #ffd3c5;
}

.deep-orange-75 {
	background-color: #ffb49c;
}

.deep-orange-100 {
	background-color: #ff9574;
}

.deep-orange-200 {
	background-color: #ff865f;
}

.deep-orange-300 {
	background-color: #ff764b;
}

.deep-orange-400 {
	background-color: #ff6736;
}

.deep-orange-500 {
	background-color: #ff5722;
}

.deep-orange-600 {
	background-color: #ff470e;
}

.deep-orange-700 {
	background-color: #f83c00;
}

.deep-orange-800 {
	background-color: #e43700;
}

.deep-orange-900 {
	background-color: #cf3200;
}

.deep-orange-1000 {
	background-color: #a72800;
}

.deep-orange-1100 {
	background-color: #7e1e00;
}

.brown-50 {
	background-color: #e2c1a7;
}

.brown-75 {
	background-color: #d8ac88;
}

.brown-100 {
	background-color: #cd9769;
}

.brown-200 {
	background-color: #c88c5a;
}

.brown-300 {
	background-color: #c3814b;
}

.brown-400 {
	background-color: #bb773e;
}

.brown-500 {
	background-color: #ac6d39;
}

.brown-600 {
	background-color: #9d6334;
}

.brown-700 {
	background-color: #8d5a2f;
}

.brown-800 {
	background-color: #7e502a;
}

.brown-900 {
	background-color: #6f4625;
}

.brown-1000 {
	background-color: #50331b;
}

.brown-1100 {
	background-color: #311f10;
}

/*# sourceMappingURL=theme.0.21.0.css.map */
