//------------------------------------------------------------------------------
// @render: Base-L
//------------------------------------------------------------------------------
// @description
//
// @hanakin -- @midaym
//
// Base-L is a true core css framework.
//
// It follows the ITCSS structure coined by Harry Roberts of csswizardry.com
//
// Providing a strong foundation to add components and objects to. It provides
// true scalability and extendability while keeping maintainability and
// specificity in check.
//
// It provides a strict structure and guidlines for how your css is to be written
// to keep your projects in check as they grow and evolve.
//
// The frmework was designed and developed along side the popular forum software
// PHPBB as its core template library. By providing the most comon foundations
// in a higher layer we allow for better control and flexability in component
// design and themeing while still balancing maintainability and specificity.
//
//
// The MIT License (MIT)
//
// Copyright (c) 2015 Michael Miday
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the 'Software'), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
//

//
// CONTENTS
//
// 1. Settings.....................The global settings only no object or
//                                 component settings. Those belong in the
//                                 individual partial files
//
// 2. Tools........................These are the mixins & functions used.
//
// 3. Generic......................This is for normalizing and reseting the css.
//
// 4. Base.........................This contains only the default html entitiy
//                                 styles, no classes or ids here.
//
// 5. Objects......................This contains all objects or partials to
//                                 build components.
//
// 6. Components...................Her is where you can build the component
//                                 library for your project.
//
// 7. Theme........................Here you can specifiy and theme ulterations
//                                 to use with your objects & components.
//
// 8. Utilities....................This is where all your trumps or utility
//                                 classes go those that usually contain the
//                                 highest specificity.
//


// 1. Global Settings
//-------------------------
@import 'settings/settings';

// Variables
$o-bg-color: $default-action-bg !default;
$o-search-bg-color: $default-background-color !default;
$o-bg-hover-color: $default-action-bg-hover !default;
$o-color: $default-action-color !default;
$o-user-title-color: $default-background-item-color !default;
$o-alt-color: darken($o-bg-color, 8%) !default;
$o-disabled-color: lighten($o-color, 8%) !default;


// 2. Tools
//-------------------------
@import 'tools/function/functions';
@import 'tools/mixin/mixins';


// 4. Base
//-------------------------
html {
	background-color: darken($default-background-color, 4%);
	color: $default-background-item-color;
}

section {
	margin: 0 0 1.5rem;
}

[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
[type='color'],
select,
textarea {
	background-color: $o-bg-color;
	border-bottom-color: $o-bg-color;
	color: $o-color;

	&:hover {
		border-bottom-color: $o-bg-hover-color;
	}

	&:disabled,
	&[readonly] {
		background-color: $o-disabled-color;
	}
}

select {
	background-color: $o-bg-color;

	&:focus::-ms-value {
		background-color: $o-bg-color;
	}
}

[type='checkbox'] {
	+ label {
		&:before {
			border-color: $o-bg-hover-color;
		}
	}

	&:indeterminate + label:before {
		// Disabled indeterminate
		&:disabled {
			border-right-color: $o-disabled-color;
		}
	}

	&:hover:not(:checked) + label:before {
		border-color: $o-alt-color;
	}

	&:disabled {
		&:checked + label:before {
			border-right-color: $o-disabled-color;
			border-bottom-color: $o-disabled-color;
		}

		&:not(:checked) + label:before {
			background-color: $o-disabled-color;
		}
	}
}

[type='radio'] {
	&:not(:checked) + label {
		&:before,
		&:after {
			border-color: $o-bg-hover-color;
		}
	}

	&:hover + label:before {
		border-color: $o-alt-color;
	}

	&:disabled {
		+ label {
			color: $o-disabled-color;
		}

		&:checked + label:before,
		&:not(:checked) + label:before {
			border-color: $o-disabled-color;
		}

		:checked + label:after {
			background-color: $o-disabled-color;
		}
	}
}

::-webkit-input-placeholder {
	color: $o-bg-color;
}

:-moz-placeholder {
	color: $o-bg-color;
}

::-moz-placeholder {
	color: $o-bg-color;
}

:-ms-input-placeholder {
	color: $o-bg-color;
}


// 5. Objects
//-------------------------

.o-bar {
	background-color: $o-bg-color;

	&-info {
		color: $o-user-title-color;
	}

	&-action {
		color: $o-color;

		&:hover,
		&:focus {
			background-color: $o-bg-hover-color;
		}
	}

	&-user {
		&-title {
			color: $o-user-title-color;
		}
	}

	&-search {
		background-color: $o-search-bg-color;

		&-action {
			color: $o-color;
		}

		&-feild {
			background: transparent;
			color: $o-color;
		}
	}
}

.o-btn {
	@include shadow(2);
	background-color: $o-bg-color;
	color: $o-color;

	&:hover {
		background-color: $o-bg-hover-color;
	}

	&:focus {
		@include shadow(4);
	}
}

.o-form {
	&-select {
		position: relative;

		&:before {
			@include background-triangle($o-color);
		}
	}

	&-floating-label {
		color: $o-color;
	}

	&-icon {
		color: $o-color;
	}
}

.o-modal {
	@include shadow(4);
	background-color: $o-bg-color;

	&-body {
		color: $o-color;
	}
}


// 6. Components
//-------------------------
@import 'components/paging';
@import 'components/forum';
@import 'components/topic';
@import 'components/post';
@import 'components/profile';
@import 'components/menu';
@import 'components/notification';
@import 'components/drawer';
@import 'components/tab';
@import 'components/stat';
@import 'components/crumbs';
@import 'components/toolbar';
@import 'components/tooltip';
@import 'components/hero';
@import 'components/footer';
@import 'components/warning';


// 7. Theme
//-------------------------

.t-navbar {
	background-color: $default-background-color;

	&-action {
		color: $o-color;

		&:hover,
		&:focus {
			background-color: $default-background-alt-color;
		}
	}
}

.t-crumbs-container {
	background-color: $default-background-color;
}

.t-forum-page-title {
	@include type(headline4);
}

.t-jumpto {
	overflow-y: scroll;
	max-height: 240px;
}

$theme-primary: #009ae4;
$theme-link: rgba($white, 0.5);
$theme-link-hover: $white;
$theme-text: rgba($white, 0.3);
$theme-frosted-bg: rgba($white, 0.05);
$theme-frosted-bg-hover: rgba($white, 0.1);
$theme-border-color: rgba($white, 0.15);
$theme-shadow-color: rgba($black, 0.2);
$theme-dark-text: rgba($white, 0.7);
$theme-dark-link: rgba($white, 0.7);
$theme-dark-bg: rgba(21, 26, 35, 0.95);
$theme-dark-bg-hover: rgba($black, 0.3);
$theme-dark-border: rgba($black, 0.5);

// a {
// 	color: $theme-link;
//
// 	&:hover {
// 		color: $theme-link-hover;
// 	}
// }
//
// body {
// 	background: url('https://eu.battle.net/forums/static/images/welcome-banners/bnet-glass.jpg') center -470px no-repeat, url('https://us.battle.net/forums/static/images/backgrounds/background-bnet-top.jpg') center -190px no-repeat, url('https://us.battle.net/forums/static/images/backgrounds/background-bnet-repeat.jpg') center 1800px repeat-y rgb(13, 30, 48);
// }
//
// .t {
// 	&-bar-search {
// 		background-color: $theme-dark-bg;
// 		padding: 0 12px;
//
// 		&-toggle,
// 		&-action {
// 			color: $theme-primary;
//
// 			&:hover,
// 			&:focus {
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-feild {
// 			background-image: none;
// 			padding: 16px;
//
// 			&:hover,
// 			&:focus {
// 				color: $white;
// 			}
// 		}
// 	}
//
// 	&-navbar {
// 		// background-color: rgba(0, 154, 228, 0.1);
// 		background-color: $theme-frosted-bg;
// 		border-bottom: 1px solid $theme-border-color;
// 		padding: 0 12px;
//
// 		&-logo {
// 			color: $theme-primary;
//
// 			&-icon {
// 				color: inherit;
// 				width: 300px;
// 				max-width: 64px;
// 				height: auto;
// 				max-height: 24px;
// 			}
//
// 			&:hover,
// 			&:focus {
// 				background-color: transparent;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-action {
// 			color: $theme-link;
//
// 			&:hover,
// 			&:focus {
// 				background-color: transparent;
// 				color: $theme-link-hover;
// 			}
// 		}
//
// 		@media (min-width: $bp-md) {
// 			padding: 0 36px;
// 		}
// 	}
//
// 	&-drawer {
// 		background-color: $theme-dark-bg;
// 		border-bottom: 1px solid $theme-border-color;
// 		border-left: 1px solid $theme-border-color;
// 		box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 		position: fixed;
// 		z-index: 9999;
// 		top: 0;
// 		bottom: 0;
// 		float: right;
// 		height: 100%;
// 		max-height: 100%;
// 		padding: 0;
//
// 		&-link {
// 			color: $theme-dark-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 				opacity: 1;
// 			}
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
// 				color: $theme-link-hover;
//
// 				.t-drawer-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-item > &-menu {
// 			background-color: $theme-dark-bg-hover;
// 			border-top: 1px solid $theme-dark-border;
// 			border-bottom: 1px solid $theme-dark-border;
// 		}
//
// 		&-divider {
// 			background-color: transparent;
// 			height: 0;
// 		}
//
// 		@media (min-width: $bp-lg) {
// 			transform: scaleX(0);
// 		}
// 	}
//
// 	&-notification {
// 		&-container {
// 			background-color: $theme-dark-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 			margin-top: 1px;
// 		}
//
// 		&-header {
// 			border-bottom: 1px solid $theme-border-color;
// 		}
//
// 		&-bar {
// 			background-color: $theme-dark-bg;
//
// 			&-title {
// 				color: $theme-text;
// 			}
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
//
// 			&-action:hover {
// 				background-color: transparent;
//
// 				.t-notification-header-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-item {
// 			background-color: $theme-dark-bg;
// 			border-bottom: 1px solid $theme-border-color;
// 			color: $theme-dark-link;
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
//
// 				.t-notification-item-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
// 		}
//
// 		&-meta {
// 			color: $theme-primary;
//
// 			&:hover {
// 				background-color: $theme-dark-bg;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-unread {
// 			.t-notification-meta:hover {
// 				background-color: $theme-dark-bg;
// 				color: lighten($theme-primary, 10%);
// 			}
// 		}
//
// 		&-footer {
// 			background-color: $theme-dark-bg;
//
// 			&-action {
// 				color: $theme-link;
//
// 				&:hover {
// 					background-color: transparent;
// 					color: $theme-link-hover;
// 				}
// 			}
// 		}
//
// 		&-disapproved {
// 			color: $default-error-color;
//
// 			&:hover {
// 				color: lighten($default-error-color, 10%);
// 			}
// 		}
//
// 		&-approved {
// 			color: $default-success-color;
//
// 			&:hover {
// 				color: lighten($default-success-color, 10%);
// 			}
// 		}
// 	}
//
// 	&-menu {
// 		&-container {
// 			background-color: $theme-dark-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 8px 17px 0 $theme-shadow-color;
// 		}
//
// 		&-link {
// 			color: $theme-dark-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 				opacity: 1;
// 			}
//
// 			&:hover {
// 				background-color: $theme-dark-bg-hover;
// 				color: $theme-link-hover;
//
// 				.t-menu-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
// 	}
//
// 	&-crumbs {
// 		&-container {
// 			background-color: $theme-frosted-bg;
// 			border-bottom: 1px solid $theme-border-color;
// 			box-shadow: none;
// 			padding: 0 12px;
//
// 			@media (min-width: $bp-md) {
// 				padding: 0 36px;
// 			}
// 		}
//
// 		&-link {
// 			font-weight: 600;
// 			color: $theme-link;
//
// 			&:hover,
// 			&:focus {
// 				text-decoration: none;
// 				background-color: transparent;
// 				color: $theme-link-hover;
// 			}
// 		}
//
// 		&-seperator {
// 			color: $theme-border-color;
// 		}
// 	}
//
// 	&-hero {
// 		&-container {
// 			background: url('https://eu.battle.net/forums/static/images/welcome-banners/bnet-glass.jpg') no-repeat;
// 			background-position: 50% 0;
// 		}
//
// 		&-logo {
// 			color: $theme-primary;
// 		}
//
// 		&-lead {
// 			color: $theme-link-hover;
// 		}
// 	}
//
// 	&-forum {
// 		background-color: $theme-frosted-bg;
// 		border: 1px solid $theme-border-color;
// 		border-radius: 0;
// 		box-shadow: 0 0 0 1px $black;
//
// 		&-read {
// 			box-shadow: inset 0 0 0 1px rgba($white, 0.3), inset 0 0 0 1px #00b4ff, inset 0 0 0 1px $black, 0 0 10px rgba($theme-primary, 0.75);
// 		}
//
// 		&:hover {
// 			background-color: $theme-frosted-bg-hover;
// 		}
//
// 		&-cat {
// 			&-title {
// 				line-height: 1;
// 				border: 0;
// 				margin: 40px 0 20px;
// 			}
//
// 			&-link {
// 				font-size: 16px;
// 				font-weight: 500;
// 				text-transform: uppercase;
// 				color: $theme-link;
//
// 				&:hover {
// 					color: $theme-link-hover;
// 				}
// 			}
// 		}
//
// 		&-media-icon {
// 			color: $theme-primary;
//
// 			&-read {
// 				color: $theme-link;
// 				width: 40px;
// 				height: 40px;
// 			}
// 		}
//
// 		&-title {
// 			font-size: 20px;
// 			font-weight: 500;
// 			line-height: 1;
// 			color: $theme-link-hover;
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
// 		}
//
// 		&-text {
// 			font-size: 15px;
// 			color: $theme-dark-text;
// 			margin-top: 8px;
// 		}
//
// 		&-footer {
// 			background-color: transparent;
// 			border-top: 0;
//
// 			&-info {
// 				font-weight: 500;
// 				color: $theme-text;
//
// 				&-icon {
// 					color: $theme-primary;
// 				}
// 			}
//
// 			&-action {
// 				color: $theme-link;
//
// 				&:hover,
// 				&:focus {
// 					background-color: transparent;
// 					color: $theme-primary;
// 				}
// 			}
// 		}
// 	}
//
// 	&-tab {
// 		color: $theme-link;
//
// 		&:hover,
// 		&.is-active {
// 			color: $theme-link-hover;
// 		}
//
// 		&:after {
// 			background-color: $theme-primary;
// 		}
//
// 		&-card {
// 			background-color: transparent;
// 			box-shadow: none;
// 		}
//
// 		&-bar {
// 			&-frame {
// 				border-bottom: 1px solid $theme-border-color;
// 			}
// 		}
//
// 		&-pane {
// 			background-color: $theme-frosted-bg;
// 			border: 1px solid $theme-border-color;
// 			border-radius: 0;
// 			box-shadow: 0 0 0 1px $black;
//
// 			&-title {
// 				color: $theme-primary;
// 			}
//
// 			&-footer {
// 				background-color: transparent;
// 				border-radius: 0;
// 			}
// 		}
// 	}
//
// 	&-stat {
// 		&-info {
// 			color: $theme-dark-text;
// 		}
//
// 		&-item {
// 			color: $theme-link-hover;
// 		}
//
// 		&-badge {
// 			background-color: $theme-primary;
// 		}
// 	}
//
// 	&-footer {
// 		&-nav-link {
// 			color: $theme-link;
//
// 			&-icon {
// 				color: $theme-primary;
// 			}
//
// 			&:hover {
// 				color: $theme-link-hover;
//
// 				.t-footer-nav-link-icon {
// 					color: lighten($theme-primary, 10%);
// 				}
// 			}
// 		}
//
// 		&-copyright {
// 			color: $theme-text;
// 		}
// 	}
// }
