<div class="panel row">
    <div class="panel-head">
        <h3 class="panel-title"><span class="label panel-label">1.5</span> Forms</h3>
    </div>
    <div class="panel-description">
        <p>
            Common styles for form elements
        </p>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Normal</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form role="form">
                <fieldset>
                    <p>
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" id="exampleInputEmail1" placeholder="Email">
                    </p>

                    <p>
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" id="exampleInputPassword1" placeholder="Password">
                    </p>

                    <p>
                        <label>Choose State <span class="o-tag t-form-info">This is a required field.</span></label>
                        <select>
                            <option>AL</option>
                            <option>CA</option>
                            <option>IL</option>
                            <option>MD</option>
                            <option>NY</option>
                        </select>

                    </p>

                    <p>
                        <input type="checkbox" id="checkbox1" />
                        <label for="checkbox1">Check me out</label>
                    </p>

                    <p>
                        <button type="submit" class="o-btn">Submit</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel-code">
        <pre class="code-color lang-html" data-language="html">
&lt;form role="form"&gt;
&lt;fieldset&gt;
&lt;p&gt;
&lt;label for="exampleInputEmail1"&gt;Email&lt;/label&gt;
&lt;input type="email" id="exampleInputEmail1" placeholder="Email"&gt;
&lt;/p&gt;

&lt;p&gt;
&lt;label for="exampleInputPassword1"&gt;Password&lt;/label&gt;
&lt;input type="password" id="exampleInputPassword1" placeholder="Password"&gt;
&lt;/p&gt;

&lt;p&gt;
&lt;label&gt;
Choose State &lt;span class="o-tag t-form-info"&gt;This is a required field.&lt;/span&gt;
&lt;/label&gt;
&lt;select&gt;
&lt;option&gt;AL&lt;/option&gt;
&lt;option&gt;CA&lt;/option&gt;
&lt;option&gt;IL&lt;/option&gt;
&lt;option&gt;MD&lt;/option&gt;
&lt;option&gt;NY&lt;/option&gt;
&lt;/select&gt;
&lt;/p&gt;

&lt;p&gt;
&lt;input type="checkbox" id="checkbox1" /&gt;
&lt;label for="checkbox1"&gt;Check me out&lt;/label&gt;
&lt;/p&gt;

&lt;p&gt;
&lt;button type="submit" class="o-btn"&gt;Submit&lt;/button&gt;
&lt;/p&gt;
&lt;/fieldset&gt;
&lt;/form&gt;</pre>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Inline</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form role="form">
                <fieldset>
                    <span>
                        <label class="sr-only" for="exampleInputEmail2">Email</label>
                        <input type="email" id="exampleInputEmail2" placeholder="Email">
                    </span>

                    <span>
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" id="exampleInputPassword2" placeholder="Password">
                    </span>

                    <span>
                        <input type="checkbox" id="checkbox2" />
                        <label for="checkbox2">Remember me</label>
                    </span>

                    <button type="submit" class="o-btn">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel-code">
        <pre class="code-color lang-html" data-language="html">
&lt;form role="form"&gt;
&lt;fieldset&gt;
&lt;span&gt;
&lt;label class="sr-only" for="exampleInputEmail2"&gt;Email&lt;/label&gt;
&lt;input type="email" id="exampleInputEmail2" placeholder="Email"&gt;
&lt;/span&gt;

&lt;span&gt;
&lt;label class="sr-only" for="exampleInputPassword2"&gt;Password&lt;/label&gt;
&lt;input type="password" id="exampleInputPassword2" placeholder="Password"&gt;
&lt;/span&gt;

&lt;span&gt;
&lt;input type="checkbox" id="checkbox2" /&gt;
&lt;label for="checkbox2"&gt;Remember me&lt;/label&gt;
&lt;/span&gt;

&lt;button type="submit" class="o-btn"&gt;Submit&lt;/button&gt;
&lt;/fieldset&gt;
&lt;/form&gt;</pre>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Horizontal</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form class="form-horizontal" role="form">
                <fieldset>
                    <p>
                        <label for="exampleInputEmail3">Email</label>
                        <input type="email" id="exampleInputEmail3" placeholder="Email">
                    </p>

                    <p>
                        <label for="exampleInputPassword3">Password</label>
                        <input type="password" id="exampleInputPassword3" placeholder="Password">
                    </p>

                    <p>
                        <input type="checkbox" id="checkbox3" />
                        <label for="checkbox3">Remember me</label>
                    </p>

                    <p>
                        <button type="submit" class="o-btn">Submit</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Supported Controls</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form>
                <fieldset>
                    <p>
                        <label for="exampleInput">Text</label>
                        <input type="text" id="exampleInput" placeholder="Text">
                    </p>

                    <p>
                        <label for="examplePassword4">Password</label>
                        <input type="password" id="examplePassword4" placeholder="Password">
                    </p>

                    <p>
                        <label for="exampleDateTime">Date Time</label>
                        <input type="datetime" id="exampleDateTime" placeholder="Date Time">
                    </p>

                    <p>
                        <label for="exampleDateTimeLocal">Date Time - Local</label>
                        <input type="datetime-local" id="exampleDateTimeLocal" placeholder="Date Time - Local">
                    </p>

                    <p>
                        <label for="exampleDate">Date</label>
                        <input type="date" id="exampleDate" placeholder="Date">
                    </p>

                    <p>
                        <label for="exampleMonth">Month</label>
                        <input type="month" id="exampleMonth" placeholder="Month">
                    </p>

                    <p>
                        <label for="exampleTime">Time</label>
                        <input type="time" id="exampleTime" placeholder="Time">
                    </p>

                    <p>
                        <label for="exampleWeek">Week</label>
                        <input type="week" id="exampleWeek" placeholder="Week">
                    </p>

                    <p>
                        <label for="exampleUrl">Url</label>
                        <input type="url" id="exampleUrl" placeholder="Url">
                    </p>

                    <p>
                        <label for="exampleSearch">Search</label>
                        <input type="search" id="exampleSearch" placeholder="Search">
                    </p>

                    <p>
                        <label for="exampleTel">Telephone Number</label>
                        <input type="tel" id="exampleTel" placeholder="Telephone Number">
                    </p>

                    <p>
                        <label for="exampleColor">Color</label>
                        <input type="color" id="exampleColor" placeholder="Color">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Textarea</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form action="" role="form">
                <fieldset>
                    <textarea rows="3"></textarea>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Select</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form action="" role="form">
                <p>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
                <p>
                    <select multiple="multiple">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
            </form>
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Checkbox & Radio</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <form class="form" action="">
                <p>
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox4"><em>A far more important option</em> <span class="o-tag t-form-info">It will surely do something magical.</span></label>
                </p>

                <p>
                    <input type="radio" id="radio1">
                    <label for="radio1">
                        Available for hire <span class="o-tag t-form-info">This will do insanely <strong>awesome</strong> and <strong>amazing</strong> things!</span>
                    </label>
                </p>
            </form>
        </div>
    </div>
    <div class="panel-code">
        <pre class="code-color lang-html" data-language="html">
&lt;form action=""&gt;
&lt;p&gt;
&lt;input type="checkbox" id="checkbox4"&gt;
&lt;label for="checkbox4"&gt;
&lt;em&gt;A far more important option&lt;/em&gt;
&lt;span class="o-tag t-form-info"&gt;It will surely do something magical.&lt;/span&gt;
&lt;/label&gt;
&lt;/p&gt;

&lt;p&gt;
&lt;input type="radio" id="radio1"&gt;
&lt;label for="radio1"&gt;
Available for hire
&lt;span class="o-tag t-form-info"&gt;
This will do insanely &lt;strong&gt;awesome&lt;/strong&gt; and &lt;strong&gt;amazing&lt;/strong&gt; things!
&lt;/span&gt;
&lt;/label&gt;
&lt;/p&gt;
&lt;/form&gt;</pre>
    </div>
</div>
