<div class="panel row">
    <div class="panel-head">
        <h3 class="panel-title"><span class="label panel-label">1.7</span> Code</h3>
    </div>
    <div class="panel-description">
        <p>
            Common styles for code elements
        </p>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Inline Code</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            For example, <code>&lt;section&gt;</code> should be wrapped as inline.
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">User Input</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            To switch directories, type <kbd>cd</kbd> followed by the name of the directory. To edit settings, press <kbd>ctrl + <kbd>shift</kbd> + E</kbd>
        </div>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Code Block</span>
        </div>
        <div class="panel-content o-col o-col-9-m">
            <pre class="code-color lang-html" data-language="html">&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
        </div>
    </div>
    <div class="panel-foot">
        Version: 1.0.0
    </div>
</div>
