<div class="panel row">
    <div class="panel-head">
        <h3 class="panel-title"><span class="label panel-label">2.1</span> Grid</h3>
    </div>
    <div class="panel-description">
        <p>
            Table Grid System
        </p>
    </div>
    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Defined Classes</span>
        </div>
        <div class="container panel-content o-col o-col-9-m">
            <div class="o-grid grid-example">
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
                <div class="o-col o-col-1-m">1</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-2-m">2</div>
                <div class="o-col o-col-2-m">2</div>
                <div class="o-col o-col-2-m">2</div>
                <div class="o-col o-col-2-m">2</div>
                <div class="o-col o-col-2-m">2</div>
                <div class="o-col o-col-2-m">2</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col -ocol-3-m">3</div>
                <div class="o-col -ocol-3-m">3</div>
                <div class="o-col -ocol-3-m">3</div>
                <div class="o-col -ocol-3-m">3</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-4-m">4</div>
                <div class="o-col o-col-4-m">4</div>
                <div class="o-col o-col-4-m">4</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-5-m">5</div>
                <div class="o-col o-col-7-m">7</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-6-m">6</div>
                <div class="o-col o-col-6-m">6</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-8-m">8</div>
                <div class="o-col o-col-4-m">4</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col o-col-12-m">12</div>
            </div>
        </div>
    </div>

    <div class="panel-row o-grid">
        <div class="panel-side o-col o-col-3-m">
            <span class="label panel-label">Defined Classes</span>
        </div>
        <div class="container panel-content o-col o-col-9-m">
            <div class="o-grid grid-example">
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
                <div class="o-col">Col</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col">Column</div>
                <div class="o-col">Column</div>
            </div>

            <div class="o-grid grid-example">
                <div class="o-col">Column</div>
            </div>
        </div>
    </div>

    <div class="panel-foot">
        Version: 1.0.0
    </div>
</div>
