{% extends '../../layouts/test.twig' %}

{% block test_title %}
Test - Forum
{% endblock %}

{% block test_header %} {% endblock %}

{% block test_content %}
<div class="container wrap">
{% include '../../partials/components/forum.twig' %}
</div>
{% endblock %}
