{% extends '../../layouts/test.twig' %}

{% block test_title %}
Test - Icons
{% endblock %}

{% block test_header %}
{% endblock %}

{% block test_content %}
<div class="wrap">
{% include '../../partials/elements/icons.twig' %}
</div>
{% endblock %}
