//------------------------------------------------------------------------------
// @setting: Default
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

$default-font-size: 16px !default;
$default-line-height: 24px !default;

$default-border-size: 1px !default;
$default-border-radius: 0.125rem !default;

$default-unit: 1rem !default;

$default-grid-gutter: 16px;

// Grid
$small: 600px;
$medium: 768px;
$large: 960px;
$wide: 1152px;

$bp-medium: 769px;
$bp-large: 980px;
$bp-wide: 1180px;

// Fonts
$default-font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$default-code-font: Monaco, 'Andale Mono','Courier New', Courier, mono !default;

// icons
$default-icon-sm: $default-font-size;
$default-icon-md: $default-line-height;
$default-icon-lg: 2 * $default-font-size;

//
// color scheme

// body
$default-body-bg:                 $white !default;
$default-body-color:              $gray-800 !default;
$default-text-color:              $gray-900 !default; // 87%
$default-gray-light:              $gray-300 !default; // 12%
$default-gray:                    $gray-500 !default; // 38%
$default-gray-dark:               $gray-600 !default; // 54%

// color scheme Main
$default-primary-color:           $blue-500 !default;
$default-secondary-color:         $pink-500 !default;
$default-accent-color:            $yellow-500 !default;
$default-warning-color:           $amber-500 !default;
$default-info-color:              $blue-gray-500 !default;
$default-important-color:         $red-500 !default;
$default-success-color:           $green-500 !default;

// color scheme Light
$default-primary-light-color:      $blue-300 !default;
$default-secondary-light-color:    $pink-300 !default;
$default-accent-light-color:       $yellow-300 !default;
$default-warning-light-color:      $amber-300 !default;
$default-info-light-color:         $blue-gray-300 !default;
$default-important-light-color:    $red-300 !default;
$default-success-light-color:      $green-300 !default;

// color scheme Dark
$default-primary-dark-color:      $blue-700 !default;
$default-secondary-dark-color:    $pink-700 !default;
$default-accent-dark-color:       $yellow-700 !default;
$default-warning-dark-color:      $amber-700 !default;
$default-info-dark-color:         $blue-gray-700 !default;
$default-important-dark-color:    $red-700 !default;
$default-success-dark-color:      $green-700 !default;
