<div class="o-modal-mask" role="alert">
	<div class="o-modal">
		<header class="o-modal-header">
			<h2 class="o-modal-header-title">
				Get this party started?
			</h2>
		</header>
		<p class="o-modal-body">
			Turn up the jams and have a good time.
		</p>
	</div>
</div>
