<div class="c-emoji-picker">
	<div class="c-emoji-picker-header">
		<div class="c-emoji-picker-search-wrap">
			<div class="c-emoji-picker-search">
				<input class="c-emoji-picker-search-feild" type="text" spellcheck="false" placeholder=":innocent:" value="">
				<a class="c-emoji-picker-search-feild-button" href="#recent" tabindex="0" role="button">
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tone-button-icon"><use xlink:href="#search"></use></svg>
				</a>
			</div>
		</div>
		<a class="c-emoji-picker-tone-button" href="#recent" tabindex="0" role="button" data-toggle="menu">
			<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c.svg" alt="skin tone">
		</a>
		<div class="c-emoji-picker-tone-menu" data-container="menu">
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Neutral Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c-1f3fb.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Light Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c-1f3fc.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Light Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c-1f3fd.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c-1f3fe.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Medium Dark Skin Tone</span>
			</a>
			<a class="c-emoji-picker-tone-menu-item" href="#">
				<img class="o-icon c-emoji-picker-tone-button-icon" src="https://twemoji.maxcdn.com/2/svg/1f44c-1f3ff.svg" alt="skin tone">
				<span class="c-emoji-picker-tone-menu-text u-sr-only">Dark Skin Tone</span>
			</a>
		</div>
	</div>
	<div class="c-emoji-picker-body">
		<div class="c-emoji-picker-area">

		</div>
	</div>
	<nav class="c-emoji-picker-footer">
		<a class="c-emoji-picker-tab is-active" href="#recent" title="Recent" role="tab" aria-controls="recent">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#time"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#custom" title="Custom" role="tab" aria-controls="custom">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#alien"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#smileys-people" title="Smiles & People" role="tab" aria-controls="smiles-people">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#insert-emoticon"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#animals-nature" title="Animal & Nature" role="tab" aria-controls="animals-nature">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#flower"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#food-drink" title="Food & Drink" role="tab" aria-controls="food-drink">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#food"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#travel-places" title="Travel & Places" role="tab" aria-controls="travel-places">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#plane"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#activities" title="Activities" role="tab" aria-controls="activities">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#soccer"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#objects" title="Objects" role="tab" aria-controls="objects">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#light-bulb"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#symbols" title="Symbols" role="tab" aria-controls="symbols">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#heart"></use></svg>
		</a>
		<a class="c-emoji-picker-tab" href="#flags" title="Flags" role="tab" aria-controls="flags">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="o-icon c-emoji-picker-tab-icon"><use xlink:href="#flag"></use></svg>
		</a>
	</nav>
</div>
