<div class="c-footer t-footer">
	<nav class="c-footer-nav t-footer-nav">
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#contact-us"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">Contact Us</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#team"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">The Team</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#members"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">Members</span>
		</a>
		<a class="c-footer-nav-link t-footer-nav-link" href="">
			<svg class="o-icon c-footer-nav-link-icon t-footer-nav-link-icon"><use xlink:href="#trash"></use></svg>
			<span class="c-footer-nav-link-text t-footer-nav-link-text">Delete Cookies</span>
		</a>
	</nav>
	<p class="c-footer-copyright t-footer-copyright">Powered by <a href="">phpBB</a> Forum Software © phpBB Limited</p>
	<a href="">Privacy</a> | <a href="">Terms</a>
</div>
