<div class="c-hero-container t-hero-container">
	<div class="o-container c-hero t-hero">
		<svg class="c-hero-logo t-hero-logo"><use xlink:href="#logo"></use></svg>
		<h1 class="c-hero-heading t-hero-heading">yourdomain.com</h1>
		<p class="c-hero-lead t-hero-lead">A short text to describe your forum</p>
	</div>
</div>
