<section class="c-hero-container t-hero-container">
	<div class="o-container c-hero t-hero">
		<svg class="c-hero-logo t-hero-logo" title="{{ lang.site_title }}"><use xlink:href="#logo-dense"></use></svg>
		<h1 class="c-hero-heading t-hero-heading">{{ lang.site_moto }}</h1>
		<p class="c-hero-lead t-hero-lead">{{ lang.site_desc }}</p>
	</div>
</section>
