<div class="c-tab-card t-tab-card">
	<div class="c-tab-bar-frame t-tab-bar-frame">
		<nav class="c-tab-bar t-tab-bar" role="tablist" data-toggle="tabs">
			<a class="c-tab t-tab is-active" href="#whos-online" role="tab" aria-controls="whos-online">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#online"></use></svg>
				<span class="c-tab-text t-tab-text">Who's Online</span>
			</a>
			<a class="c-tab t-tab" href="#statistics" role="tab" aria-controls="statistics">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#stats"></use></svg>
				<span class="c-tab-text t-tab-text">Statistics</span>
			</a>
			<a class="c-tab t-tab" href="#birthdays" role="tab" aria-controls="birthdays">
				<svg class="o-icon c-tab-icon t-tab-icon"><use xlink:href="#cake"></use></svg>
				<span class="c-tab-text t-tab-text">Birthdays</span>
			</a>
		</nav>
	</div>
	<div class="c-tab-pane t-tab-pane is-active" id="whos-online" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<h4 class="c-tab-pane-title t-tab-pane-title">Registered users:</h4>
			<span class="c-tab-pane-text t-tab-text">
				<span style="color: #9E8DA7;">Alexa [Bot]</span>,
				<span style="color: #9E8DA7;">Baidu [Spider]</span>,
				<span style="color: #9E8DA7;">Bing [Bot]</span>,
				<a class="username" href="./memberlist.php">ErnadoO</a>,
				<span style="color: #9E8DA7;">Exabot [Bot]</span>,
				<span style="color: #9E8DA7;">Google [Bot]</span>,
				<span style="color: #9E8DA7;">Google Feedfetcher</span>,
				<a class="username-colored" href="./memberlist.php" style="color: #00BCD4;">hanakin</a>,
				<a class="username" href="./memberlist.php"><em>Jacob</em></a>,
				<a class="username" href="./memberlist.php">koraldon</a>,
				<a class="username" href="./memberlist.php">Louis7777</a>,
				<a class="username" href="./memberlist.php">Meis2M</a>,
				<a class="username" href="./memberlist.php">Miles Cellar</a>,
				<a class="username-colored" href="./memberlist.php" style="color: #00BCD4;">paulus</a>,
				<span style="color: #9E8DA7;">Yahoo Slurp</span>
			</span>
		</div>
		<div class="c-tab-pane-row t-tab-pane-row">
			<div class="c-stat-wrap s-stat-wrap">
				<ul class="c-stat-list c-tab-pane-stats t-stat-list -tab-pane-stats">
					<li class="c-stat-item t-stat-item">Total Online <span class="o-tag c-stat-badge t-stat-badge">517</span></li>
					<li class="c-stat-item t-stat-item">Registered <span class="o-tag c-stat-badge t-stat-badge">14</span></li>
					<li class="c-stat-item t-stat-item">Hidden <span class="o-tag c-stat-badge t-stat-badge">1</span></li>
					<li class="c-stat-item t-stat-item">Guests <span class="o-tag c-stat-badge t-stat-badge">502</span></li>
				</ul>
				<span class="c-stat-info t-stat-info">(based on users active over the past 60 minutes)</span>
			</div>
		</div>
		<div class="c-tab-pane-footer t-tab-pane-footer">
			<h4 class="c-tab-pane-title t-tab-pane-title">Legend:</h4>
			<span class="c-tab-pane-text t-tab-pane-text">
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#4F6772" href="./memberlist.php">Management Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#00BFA5" href="./memberlist.php">Development Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#B84FDB" href="./memberlist.php">Customisations Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#FFAB40" href="./memberlist.php">Support Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#3F54C0" href="./memberlist.php">Community Team</a>,
				<a class="c-tab-pane-link t-tab-pane-link" style="color:#00BCD4" href="./memberlist.php">Infrastructure Team</a>
			</span>
		</div>
	</div>
	<div class="c-tab-pane t-tab-pane" id="statistics" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<ul class="c-stat-list c-tab-pane-stats t-tab-list t-tab-pane-stats">
				<li class="c-stat-item t-stat-item">Total posts <span class="o-tag c-stat-badge t-stat-badge">161430</span></li>
				<li class="c-stat-item t-stat-item">Total topics <span class="o-tag c-stat-badge t-stat-badge">20309</span></li>
				<li class="c-stat-item t-stat-item">Total members <span class="o-tag c-stat-badge t-stat-badge">63056</span></li>
				<li class="c-stat-item t-stat-item">Most online <span class="o-tag c-stat-badge t-stat-badge">3056</span></li>
				<li class="c-stat-item t-stat-item">Newest member <span class="o-tag c-stat-badge t-stat-badge">retry</span></li>
			</ul>
		</div>
	</div>
	<div class="c-tab-pane t-tab-pane" id="birthdays" role="tabpane">
		<div class="c-tab-pane-row t-tab-pane-row">
			<h4 class="c-tab-pane-title t-tab-pane-title">Congragulations: </h4>
			<span class="c-tab-pane-text t-tab-pane-text">
				<a class="username" href="./memberlist.php">bitipmepsinna</a> (57),
				<a class="username" href="./memberlist.php">Sounksini</a> (51),
				<a class="username" href="./memberlist.php">friebtele</a> (50),
				<a class="username" href="./memberlist.php">Mauler_II</a> (48),
				<a class="username" href="./memberlist.php">Ceniscerciano</a> (47),
				<a class="username" href="./memberlist.php">makapala</a> (44),
				<a class="username" href="./memberlist.php">spollurostEsk</a> (43),
				<a class="username" href="./memberlist.php">lopaasda</a> (43),
				<a class="username" href="./memberlist.php">DarthFalk</a> (37),
				<a class="username" href="./memberlist.php">Pico</a> (35),
				<a class="username" href="./memberlist.php">learneqdqltee</a> (34),
				<a class="username" href="./memberlist.php">lostssyadksrj</a> (34),
				<a class="username" href="./memberlist.php">Narmpreorce</a> (34),
				<a class="username" href="./memberlist.php">shippingzman</a> (33),
				<a class="username" href="./memberlist.php">mama</a> (32),
				<a class="username" href="./memberlist.php">Assormencoure</a> (30),
				<a class="username" href="./memberlist.php">IeuJshde</a> (30),
				<a class="username" href="./memberlist.php">T@ncredo</a> (29),
				<a class="username" href="./memberlist.php">jdh</a> (24)
			</span>
		</div>
	</div>
</div>
