<div class="o-bar c-toolbar">
	<ul class="o-bar-left">
		<li class="o-bar-item">
			<a class="o-bar-action" href="#" title="{{ lang.new_topic }}">
				<span class="c-toolbar-action-text">{{ lang.new_topic }}</span>
					<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#add"></use></svg>
			</a>
		</li>
	</ul>
	<ul class="o-bar-right">
		<li class="o-bar-item">
			<a class="o-bar-action" href="#" data-tooltip="true" title="Jump To">
				<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#jump-to"></use></svg>
			</a>
			<a class="o-bar-action" href="#" data-tooltip="true" title="Filter">
				<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#filter"></use></svg>
			</a>
			<a class="o-bar-action" href="#" data-tooltip="true" title="Sort">
				<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#sort"></use></svg>
			</a>
			<a class="o-bar-action" href="#" data-tooltip="true" title="Order">
				<svg class="o-icon o-bar-action-icon c-toolbar-action-icon"><use xlink:href="#order"></use></svg>
			</a>
		</li>
	</ul>
</div>
