//------------------------------------------------------------------------------
// @tool: Border Radius
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description
//
//
// Helper to make only top, bottom radius
//
//------------------------------------------------------------------------------

//
// @scss
@mixin border-radius($type, $radius) {
	border-#{$type}-left-radius: $radius;
	border-#{$type}-right-radius: $radius;
}
