//------------------------------------------------------------------------------
// @generic: Forms
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @scss
form {
	@include vertical-rhythm();
	padding: 0;
}

//
// iOS 'clickable elements' fix for role='button'
//
// Fixes 'clickability' issue (and more generally, the firing of events such as
// focus as well) for traditionally non-focusable elements with role='button'
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
//
[role='button'] {
	cursor: pointer;
}

//
// 1. Work around a Firefox/IE bug where the transparent `button` background
//    results in a loss of the default `button` focus styles.
//
button {
	background: transparent;
	border: $default-border-size solid $default-gray;
	padding: unit(0.25) unit(0.5);
	cursor: pointer;
	/* stylelint-disable declaration-block-no-duplicate-properties */
	&:focus {
		outline: 1px dotted; // [1]
		outline: 4px auto -webkit-focus-ring-color; // [1]
	}
}

//
// 1. Normalize includes `font: inherit;`, so `font-family`. `font-size`, etc
//    are properly inherited. However, `line-height` isn't addressed there.
//    Using this ensures we don't need to unnecessarily redeclare the global
//    font stack.
// 2. iOS adds rounded borders by default
// 3. Ensure all elements have same inital alignment
//
input,
button,
select,
optgroup,
textarea {
	line-height: inherit; // [1]
	vertical-align: middle; // [3]
	background-clip: padding-box;
	background-color: transparent;
	background-image: none; // [2]
	-webkit-border-radius: 0; // [2] iOS 8+
	border-radius: 0; // [2]
	color: inherit;
}

//
// 1. Allow labels to use `margin` for spacing.
//
label {
	display: inline-block;
	margin: 0 unit(1) unit(2); // [1]
}

//
// Chrome and Firefox set a `min-width: min-content;` on fieldsets,
// so we reset that to ensure it behaves more like a standard block element.
// See https://github.com/twbs/bootstrap/issues/12359.
//
fieldset {
	border: 0;
	@include vertical-rhythm();
	min-width: 0;
	padding: 0;
}

legend {
	@include type($type: 'headline');
	display: block;
	width: 100%;
	margin: 0 0 unit(2);
}

//
// 1. radios nor checkboxes require slight spacing on the right to account for
// labels.
// 2. Apply a disabled cursor for radios and checkboxes.
//
// Note: Neither radios nor checkboxes can be readonly.
//
//
input[type='radio'],
input[type='checkbox'] {
	margin-right: unit(1); // [1]

	&:disabled {
		cursor: not-allowed; // [2]
	}
}

//
// Remove the default appearance of temporal inputs to avoid a Mobile Safari
// bug where setting a custom line-height prevents text from being vertically
// centered within the input.
//
// Bug report: https://github.com/twbs/bootstrap/issues/11266
//
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
	-webkit-appearance: listbox;
}

//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.
//
input[type='search'] {
	-webkit-appearance: none;
}

// todo: needed?
output {
	display: inline-block;
}

//
// specify the minimum height of form elements
//
button,
[type='button'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='reset'],
[type='search'],
[type='submit'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
[type='color'],
select,
textarea {
	min-height: unit(3);
}

input[type='color'] {
	vertical-align: middle; // [1]
	padding: unit(0.5);
}

select[multiple='multiple'] {
	height: auto;
}

//
// 1. Align when inline to top for better conssistant alignments.
//
select[multiple='multiple'],
textarea {
	vertical-align: top; // [1]
}

//
// 1. Allow only vertical resizing of textareas.
//
textarea {
	resize: vertical; // [1]
}

//
// specify the standard appearance of selects
//
select {
	-moz-appearance: none; // Firefox 40+
	-webkit-appearance: none; // Chrome 45+

	&::-ms-expand {
		background-color: transparent; // IE10+
		border: 0; // IE10+
		display: none; // Edge 12+, Internet Explorer 11-
	}

	&::-ms-value {
		color: currentColor; // Edge 12+, Internet Explorer 11-
	}
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='date']::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}
