//------------------------------------------------------------------------------
// @generic: Tables
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description:
//
//------------------------------------------------------------------------------

//
// #scss
$base-table-caption-padding: $sp1 0;
$base-table-cell-padding: $sp2;

//
// 1. Reset for nesting within parents with `background-color`.
// 2. No longer part of Normalize since v4
//
table {
	@include vertical-rhythm();
	background-color: transparent; // [1]
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse; // [2]
}

caption {
	text-align: left;
	color: $default-gray;
	margin: 0;
	padding: $base-table-caption-padding;
	caption-side: bottom;
}

//
// Centered by default, but left-aligned to match the `td`s below.
//
th {
	text-align: left;
}

th,
td {
	margin: 0;
	padding: $base-table-cell-padding;
}
