//------------------------------------------------------------------------------
// @generic: Tables
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @scss
//
// 1. Reset for nesting within parents with `background-color`.
// 2. No longer part of Normalize since v4
//
table {
	@include vertical-rhythm();
	background-color: transparent; // [1]
	width: 100%;
	border-spacing: 0; // from inuit
	border-collapse: collapse; // [2]
}

caption {
	text-align: left;
	color: $default-gray;
	margin: 0;
	padding: 8px 0;
	caption-side: bottom;
}

//
// Centered by default, but left-aligned to match the `td`s below.
//
th {
	text-align: left;
}

th,
td {
	margin: 0;
	padding: $default-line-height / 2;
}
