//
// Universal inheritance
//

//
// 1. specify the border style and width of all elements
// 2. specify the background repeat of all elements
//
* {
    font-size: inherit;
    line-height: inherit;
    background-repeat: no-repeat; // [2]
    border-width: 0; // [1]
    border-style: solid; // [1]
}

:before,
:after {
    text-decoration: inherit;
    vertical-align: inherit;
    border-width: 0; // [1]
    border-style: solid; //[1]
}

//
// Opinionated defaults on the root of the document
//
:root {
    font: 100%/1.5 sans-serif;
    background-color: $white;
    color: $black;
    cursor: default;
    box-sizing: border-box;
}
