{# layout.twig #}
{% extends "layout.twig" %}

{% block contents %}
<section class="o-grid">
    <div class="o-col o-col-4-m">
        <h4>
            Intelligent Layers
        </h4>
        <p>
            A layered approach to allow beter scalability, control over inheritence, and custimization.
        </p>
    </div>
    <div class="o-col o-col-4-m">
        <h4>
            Modular Core
        </h4>
        <p>
            Built with flexability in mind. Every layer is completley modular.
        </p>
    </div>
    <div class="o-col o-col-4-m">
        <h4>
            Mobile First
        </h4>
        <p>
            Looks great from the smallest screen, to the largest display.
        </p>
    </div>
    <div class="o-col o-col-4-m">
        <h4>
            Minimal Footprint
        </h4>
        <p>
            The layered approach provides a minimal base to build on. No heavy lifting required.
        </p>
    </div>
</section>
<section class="o-grid">
    <div class="o-col o-col-3-m">
        <h4>
            Discuss
        </h4>
        <p>
            Need help or have suggestions head over to our <a href="">Dicord</a> channel.
        </p>
    </div>
    <div class="o-col o-col-3-m">
        <h4>
            Contribute
        </h4>
        <p>
            Want to help improve Base-El head over to the <a href="">Github</a> repo
        </p>
    </div>
    <div class="o-col o-col-3-m">
        <h4>
            Share
        </h4>
        <p>
            Just want to share it with your friends heres some helpful links to do so.
            <a href="#">Twitter</a> <a href="#">Facebook</a>
        </p>
    </div>
</section>

{% endblock %}
