
<section id="code" class="code-blocks panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.core.code.order }}</span> {{ sections.core.code.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Common styles for code elements
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Inline Code</span>
            </div>
            <div class="panel-content col-sm-9">
                For example, <code>&lt;section&gt;</code> should be wrapped as inline.
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">User Input</span>
            </div>
            <div class="panel-content col-sm-9">
                To switch directories, type <kbd>cd</kbd> followed by the name of the directory. To edit settings, press <kbd>ctrl + ,</kbd>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Code Block</span>
            </div>
            <div class="panel-content col-sm-9">
                <pre class="code-color lang-html" data-language="html">&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
            </div>
        </div>
        <div class="panel-foot">
            Version: {{ sections.core.code.version }}
        </div>
    </div>
</section>
