
<section id="colors" class="colors panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.core.colors.order }}</span> {{ sections.core.colors.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Color Scheme Reference
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Grayscale</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-gray-10" title="#1A1A1A">
                        <p class="swatch-label">10%<span class="swatch-hexcode">#1A1A1A</span></p>
                    </li>
                    <li class="swatch swatch-gray-20" title="#333333">
                        <p class="swatch-label">20%<span class="swatch-hexcode">#333333</span></p>
                    </li>
                    <li class="swatch swatch-gray-30" title="#4D4D4D">
                        <p class="swatch-label">30%<span class="swatch-hexcode">#4D4D4D</span></p>
                    </li>
                    <li class="swatch swatch-gray-40" title="#666666">
                        <p class="swatch-label">40%<span class="swatch-hexcode">#666666</span></p>
                    </li>
                    <li class="swatch swatch-gray-50" title="#888888">
                        <p class="swatch-label">50%<span class="swatch-hexcode">#888888</span></p>
                    </li>
                    <li class="swatch swatch-gray-60" title="#999999">
                        <p class="swatch-label">60%<span class="swatch-hexcode">#999999</span></p>
                    </li>
                    <li class="swatch swatch-gray-70" title="#B3B3B3">
                        <p class="swatch-label">70%<span class="swatch-hexcode">#B3B3B3</span></p>
                    </li>
                    <li class="swatch swatch-gray-80" title="#CCCCCC">
                        <p class="swatch-label">80%<span class="swatch-hexcode">#CCCCCC</span></p>
                    </li>
                    <li class="swatch swatch-gray-80" title="#DEDEDE">
                        <p class="swatch-label">87%<span class="swatch-hexcode">#DEDEDE</span></p>
                    </li>
                    <li class="swatch swatch-gray-90" title="#E5E5E5">
                        <p class="swatch-label">90%<span class="swatch-hexcode">#E5E5E5</span></p>
                    </li>
                    <li class="swatch swatch-gray-95" title="#F2F2F2">
                        <p class="swatch-label">95%<span class="swatch-hexcode">#F2F2F2</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Primary</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-primary" title="#0F538A">
                        <p class="swatch-label">-<span class="swatch-hexcode">#0F538A</span></p>
                    </li>
                    <li class="swatch swatch-primary-alt" title="#47A1EB">
                        <p class="swatch-label">Alt<span class="swatch-hexcode">#47A1EB</span></p>
                    </li>
                    <li class="swatch swatch-primary-accent" title="#0D4573">
                        <p class="swatch-label">Accent<span class="swatch-hexcode">#0D4573</span></p>
                    </li>
                    <li class="swatch swatch-primary-hover" title="#E8305E">
                        <p class="swatch-label">Hover<span class="swatch-hexcode">#E8305E</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Secondary</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-secondary" title="#709DC2">
                        <p class="swatch-label">-<span class="swatch-hexcode">#709DC2</span></p>
                    </li>
                    <li class="swatch swatch-secondary-alt" title="#DBE7F0">
                        <p class="swatch-label">Alt<span class="swatch-hexcode">#DBE7F0</span></p>
                    </li>
                    <li class="swatch swatch-secondary-accent" title="#C9DAE8">
                        <p class="swatch-label">Accent<span class="swatch-hexcode">#C9DAE8</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">UI</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-ui" title="#DEDEDE">
                        <p class="swatch-label">-<span class="swatch-hexcode">#DEDEDE</span></p>
                    </li>
                    <li class="swatch swatch-ui-alt" title="#B3B3B3">
                        <p class="swatch-label">Alt<span class="swatch-hexcode">#B3B3B3</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">States BG</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-info" title="#31708f">
                        <p class="swatch-label">Info<span class="swatch-hexcode">#31708f</span></p>
                    </li>
                    <li class="swatch swatch-danger" title="#a94442">
                        <p class="swatch-label">Danger<span class="swatch-hexcode">#a94442</span></p>
                    </li>
                    <li class="swatch swatch-warning" title="#8a6d3b">
                        <p class="swatch-label">Warning<span class="swatch-hexcode">#8a6d3b</span></p>
                    </li>
                    <li class="swatch swatch-success" title="#3c763d">
                        <p class="swatch-label">Success<span class="swatch-hexcode">#3c763d</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">States</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-info-dark" title="#d9edf7">
                        <p class="swatch-label">Info<span class="swatch-hexcode">#d9edf7</span></p>
                    </li>
                    <li class="swatch swatch-danger-dark" title="#f2dede">
                        <p class="swatch-label">Danger<span class="swatch-hexcode">#f2dede</span></p>
                    </li>
                    <li class="swatch swatch-warning-dark" title="#fcf8e3">
                        <p class="swatch-label">Warning<span class="swatch-hexcode">#fcf8e3</span></p>
                    </li>
                    <li class="swatch swatch-success-dark" title="#dff0d8">
                        <p class="swatch-label">Success<span class="swatch-hexcode">#dff0d8</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Gradients</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-grad-blue-dark" title="#146EBB - #47A1EB">
                        <p class="swatch-label">Primary<span class="swatch-hexcode">#146EBB - #47A1EB</span></p>
                    </li>
                    <li class="swatch swatch-grad-blue-light" title="#C9DAE8 - #DBE7F0">
                        <p class="swatch-label">Secondary<span class="swatch-hexcode">#C9DAE8 - #DBE7F0</span></p>
                    </li>
                    <li class="swatch swatch-grad-gray" title="#E5E5E5 - #FFFFFF">
                        <p class="swatch-label">Gray<span class="swatch-hexcode">#E5E5E5 - #FFFFFF</span></p>
                    </li>
                    <li class="swatch swatch-grad-bluegray" title="#B5C4D1 - #C9DAE8">
                        <p class="swatch-label">Accent<span class="swatch-hexcode">#B5C4D1 - #C9DAE8</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Gradients Reversed</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline">
                    <li class="swatch swatch-grad-blue-dark-reverse" title="#47A1EB - #146EBB">
                        <p class="swatch-label">Primary<span class="swatch-hexcode">#47A1EB - #146EBB</span></p>
                    </li>
                    <li class="swatch swatch-grad-blue-light-reverse" title="#DBE7F0 - #C9DAE8">
                        <p class="swatch-label">Secondary<span class="swatch-hexcode">#DBE7F0 - #C9DAE8</span></p>
                    </li>
                    <li class="swatch swatch-grad-gray-reverse" title="#FFFFFF - #E5E5E5">
                        <p class="swatch-label">Gray<span class="swatch-hexcode">#FFFFFF - #E5E5E5</span></p>
                    </li>
                    <li class="swatch swatch-grad-bluegray-reverse" title="#C9DAE8 - #B5C4D1">
                        <p class="swatch-label">Accent<span class="swatch-hexcode">#C9DAE8 - #B5C4D1</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-foot">
            Version: {{ sections.core.colors.version }}
        </div>
    </div>
</section>
