<section id="fonts" class="fonts panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.core.fonts.order }}</span> {{ sections.core.fonts.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Font Reference
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Primary</span> <span class="label">Helvetica Neue</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline font-primary">
                    <li class="swatch swatch-white" title="'Helvetica Neue', Helvetica, Arial, sans-serif">
                        <span class="swatch-inner-label font-normal">Aa</span>
                        <p class="swatch-label">REGULAR</p>
                    </li>
                    <li class="swatch swatch-white" title="'Helvetica Neue', Helvetica, Arial, sans-serif">
                        <span class="swatch-inner-label font-med">Aa</span>
                        <p class="swatch-label">MEDIUM</p>
                    </li>
                    <li class="swatch swatch-white" title="'Helvetica Neue', Helvetica, Arial, sans-serif">
                        <span class="swatch-inner-label font-semi">Aa</span>
                        <p class="swatch-label">SEMIBOLD</h2></p>
                    </li>
                    <li class="swatch swatch-white" title="'Helvetica Neue', Helvetica, Arial, sans-serif">
                        <span class="swatch-inner-label font-bold">Aa</span>
                        <p class="swatch-label">BOLD</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Buttons</span> <span class="label">Open Sans</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline font-secondary">
                    <li class="swatch swatch-white" title="'Open Sans', 'Droid Sans', Verdana, Arial, Helvetica, sans-serif">
                        <span class="swatch-inner-label font-normal">Aa</span>
                        <p class="swatch-label">REGULAR</p>
                    </li>
                    <li class="swatch swatch-white" title="'Open Sans', 'Droid Sans', Verdana, Arial, Helvetica, sans-serif">
                        <span class="swatch-inner-label font-med">Aa</span>
                        <p class="swatch-label">MEDIUM</p>
                    </li>
                    <li class="swatch swatch-white" title="'Open Sans', 'Droid Sans', Verdana, Arial, Helvetica, sans-serif">
                        <span class="swatch-inner-label font-semi">Aa</span>
                        <p class="swatch-label">SEMIBOLD</h2></p>
                    </li>
                    <li class="swatch swatch-white" title="'Open Sans', 'Droid Sans', Verdana, Arial, Helvetica, sans-serif">
                        <span class="swatch-inner-label font-bold">Aa</span>
                        <p class="swatch-label">BOLD</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Code</span> <span class="label">Monaco</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="color-list list-inline font-code">
                    <li class="swatch swatch-white" title="Monaco, 'Andale Mono','Courier New', Courier, mono">
                        <span class="swatch-inner-label font-normal">Aa</span>
                        <p class="swatch-label">REGULAR</p>
                    </li>
                    <li class="swatch swatch-white" title="Monaco, 'Andale Mono','Courier New', Courier, mono">
                        <span class="swatch-inner-label font-med">Aa</span>
                        <p class="swatch-label">MEDIUM</p>
                    </li>
                    <li class="swatch swatch-white" title="Monaco, 'Andale Mono','Courier New', Courier, mono">
                        <span class="swatch-inner-label font-semi">Aa</span>
                        <p class="swatch-label">SEMIBOLD</h2></p>
                    </li>
                    <li class="swatch swatch-white" title="Monaco, 'Andale Mono','Courier New', Courier, mono">
                        <span class="swatch-inner-label font-bold">Aa</span>
                        <p class="swatch-label">BOLD</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-foot">
            Version: {{ sections.core.fonts.version }}
        </div>
    </div>
</section>
