
<section id="lists" class="lists panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.core.lists.order }}</span> {{ sections.core.lists.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Common styles for list elements
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">UL</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">UL Unstyled</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">UL Inline</span>
            </div>
            <div class="panel-content col-sm-9">
                <ul class="list-inline">
                    <li>Lorem ipsum</li>
                    <li>Phasellus iaculis</li>
                    <li>Nulla volutpat</li>
                </ul>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">OL</span>
            </div>
            <div class="panel-content col-sm-9">
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">DL</span>
            </div>
            <div class="panel-content col-sm-9">
                <dl>
                    <dt>Lorem ipsum dolor sit amet.</dt>
                    <dd>Dicta optio cumque dolore hic ea facilis</dd>
                    <dt>Minus, possimus, veniam, incidunt eligendi</dt>
                    <dd>Quidem laborum cum harum ullam iure sit eum</dd>
                </dl>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">DL Inline</span>
            </div>
            <div class="panel-content col-sm-9">
                <dl class="list-inline">
                   <dt>Description lists</dt>
                   <dd>A description list is perfect for defining terms.</dd>
                   <dt>Euismod</dt>
                   <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                   <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                   <dt>Malesuada porta</dt>
                   <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                   <dt>Felis euismod semper eget lacinia</dt>
                   <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                </dl>
            </div>
        </div>
        <div class="panel-foot">
            Version: {{ sections.core.lists.version }}
        </div>
    </div>
</section>
