
<section id="type" class="type panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.core.type.order }}</span> {{ sections.core.type.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                Common Typography
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.giga</span> <span class="label ">80px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="giga">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.mega</span> <span class="label ">60px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="mega">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.kilo</span> <span class="label ">48px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="kilo">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.alpha</span> <span class="label ">32px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="alpha">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.beta</span> <span class="label ">24px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="beta">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.gamma</span> <span class="label ">20px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="gamma">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.delta</span> <span class="label ">18px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="delta">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.epsilon</span> <span class="label ">16px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="epsilon">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.zeta</span> <span class="label ">14px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="zeta">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.milli</span> <span class="label ">12px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="milli">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">.micro</span> <span class="label ">10px</span>
            </div>
            <div class="panel-content col-sm-9">
                <p class="micro">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Blockquote</span>
            </div>
            <div class="panel-content col-sm-9">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Address</span>
            </div>
            <div class="panel-content col-sm-9">
                <address>
                    <strong>Company, Inc.</strong><br>
                    789 Main Ave, Suite 707<br>
                    San Francisco, CA 12345<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Abbreviation</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the standard markup language used to create web pages.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Mark</span>
            </div>
            <div class="panel-content col-sm-9">
                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Delete</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Strike</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Insert</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Underline</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><u>This line of text will render as underlined</u></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Small</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><small>This line of text is meant to be treated as fine print.</small></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Strong</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><strong>rendered as bold text</strong></p>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label">Emphasized</span>
            </div>
            <div class="panel-content col-sm-9">
                <p><em>rendered as italicized text</em></p>
            </div>
        </div>

        <div class="panel-foot">
            Version: {{ sections.core.type.version }}
        </div>
    </div>
</section>
