//------------------------------------------------------------------------------
// @generic: Other
//------------------------------------------------------------------------------
// @author: hanakin -- midaym
// @version: 1.0.2
// @description:
//
//------------------------------------------------------------------------------

//
// #scss

//
// Images
// -----------------------------------------------------------------------------
//
// 1. Fluid images for responsive purposes.
// 2. Offset `alt` text from surrounding copy.
// 3. Setting `vertical-align` removes the whitespace that appears under `img`
//    elements when they are dropped into a page as-is. Safer alternative to
//    using `display: block;`.
// 4. If a `width` and/or `height` attribute have been explicitly defined, let’s
//    not make the image fluid.
//
img {
	font-style: italic; // [2]
	vertical-align: middle; // [3]
	max-width: 100%; // [1]

	&[width],
	&[height] {
		max-width: none; // [4]
	}
}

//
// A better looking default horizontal rule
//
hr {
	@include vertical-rhythm();
	border: 0;
	border-top: $default-border-size solid $default-gray;
	display: block;
	height: $default-border-size;
	padding: 0;
}
