//------------------------------------------------------------------------------
// @component: Hero
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @settings
$hero-bg: $default-secondary-color !default;
$hero-text-color: $white !default;

$hero-link-color: $white !default;
$hero-link-bg: $default-primary-color !default;

$hero-link-hover-color: $default-text-color !default;
$hero-link-hover-bg: $white !default;


//
// @scss
.hero {
    background-color: $hero-bg;
    width: 100%;
}

.hero-nav {
    padding-top: rem(40);

    // Overwrite o-btn properties
    a {
        @include type($type: 'button');
        background-color: $hero-link-bg;
        border: none;
        border-radius: 0;
        color: $hero-link-color;
        display: inline-block;
        padding: rem(8);
        @media (min-width: $bp-medium) {
            padding: rem(16) rem(32);
        }

        &:hover,
        &:focus,
        &.active {
            text-decoration: none;
            background-color: $hero-link-hover-bg;
            color: $hero-link-hover-color;
        }
    }
}

.hero-header {
    padding: rem(40) 0;
}

.hero-body {
    // text-align: center;
    color: $hero-text-color;
    padding-top: rem(64);
}

.hero-heading {
    line-height: unitless($default-line-height);
}

.hero-copy {
    @include type($type: 'title');
    font-weight: 300;
}
