//------------------------------------------------------------------------------
// @component: Navbar
//------------------------------------------------------------------------------
// @description:
//
//------------------------------------------------------------------------------

//
// @settings
$navbar-bg: $default-primary-color !default;
$navbar-text-color: $white !default;

$navbar-total-height: rem(64);

$navbar-link-font-size: 1.5rem;
$navbar-link-icon-size: 2rem;
$navbar-link-padding-x: 1rem;
$navbar-link-padding-y: (($navbar-total-height - $navbar-link-icon-size) / 2);
$navbar-link-color: $white !default;
$navbar-link-bg: $navbar-bg !default;
$navbar-link-hover-color: $navbar-link-color !default;
$navbar-link-hover-bg: $default-primary-light-color !default;

$navbar-brand-font-size: $navbar-total-height / 2;
$navbar-brand-padding-x: 1rem;
$navbar-brand-padding-y: (($navbar-total-height - $navbar-brand-font-size) / 2);
$navbar-brand-color: $navbar-link-color !default;
$navbar-brand-bg: $navbar-link-bg !default;
$navbar-brand-hover-color: $navbar-link-hover-color !default;
$navbar-brand-hover-bg: $navbar-link-hover-bg !default;

$navbar-input-font-size: 1.5rem;
$navbar-input-height: rem(40);
$navbar-input-padding-x: 1rem;
$navbar-input-padding-y: (($navbar-total-height - $navbar-input-height) / 2);
$navbar-input-border-color: $white !default;

//
// @scss
.c-navbar {
    background-color: $navbar-bg;
    color: $navbar-text-color;
    width: 100%;
    @include clearfix();
}

.c-navbar-brand {
    font-size: $navbar-brand-font-size;
    line-height: 1;
    white-space: nowrap;
    background-color: $navbar-brand-bg;
    color: $navbar-brand-color;
    display: inline-block;
    padding: $navbar-brand-padding-y $navbar-brand-padding-x;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $navbar-brand-hover-bg;
        color: $navbar-brand-hover-color;
    }
}

.c-navbar-nav {
    display: inline-block;

    a {
        font-size: $navbar-link-font-size;
        line-height: 1;
        background-color: $navbar-link-bg;
        color: $navbar-link-color;
        display: inline-block;
        padding: $navbar-link-padding-y $navbar-link-padding-x;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $navbar-link-hover-bg;
            color: $navbar-link-hover-color;
        }
    }

    .icon {
        width: $navbar-link-icon-size;
        height: $navbar-link-icon-size;
        margin-right: 0.5rem;
    }
}

.c-navbar-input {
    font-size: $navbar-input-font-size;
    line-height: 1;
    display: inline-block;
    padding: $navbar-input-padding-y $navbar-input-padding-x;

    label {
        margin-bottom: 0;
    }

    input,
    select {
        border-color: $navbar-input-border-color;
        width: auto;
        height: $navbar-input-height;
        cursor: pointer;

        &:hover,
        &:focus {
            border-color: $navbar-input-border-color;
        }
    }
}

.c-navbar-left {
    float: left;
}

.c-navbar-right {
    float: right;
}
