//------------------------------------------------------------------------------
// @tool: Strip Units
//------------------------------------------------------------------------------
// @description
//
// A function for striping a value of units
//
//------------------------------------------------------------------------------

//
// @scss
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}
