//------------------------------------------------------------------------------
// @theme: code color
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @scss
code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 1.5;
    text-align: left;
    direction: ltr;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    hyphens: none;
    color: #cdd3de;
}

/* code blocks */
pre[class*="language-"] {
    margin: 0.5rem 0;
    padding: 1rem;
    overflow: auto;
}

#namespace {
    opacity: 0.7;
}

.token.entity {
    cursor: help;
}

.token,
.token.operator,
.token.property,
.language-scss .token.boolean,
.token.doctype,
.token.cdata,
.token.punctuation {
    color: #cdd3de; // text
}

// .token.property {
//     color: #8710de; // ??????
// }

.token.class-name {
    color: #871045; // ??????
}

.token.constant {
    color: #87676a; // ??????
}

.token.symbol {
    color: #a210de; // ??????
}

.token.char {
    color: #87ffde; // ??????
}

.token.regex {
    color: #8cc0de; // ??????
}

.token.builtin {
    color: #ebb0de; // ??????
}

.token.prolog {
    color: #87100e; // ??????
}

.token.entity {
    color: #87dd00; // ??????
}

.token.placeholder {
    color: #0d1ede; // ??????
}

.token.atrule,
.token.selector,
.token.keyword,
.token.important {
    color: #c792ea; // keyword
}

.token.comment {
    color: #65737e; // comment
}

.language-scss .token.selector,
.language-css .token.selector .class,
.language-css .token.selector .pseudo-class,
.language-css .token.selector .pseudo-element,
.token.number,
.token.tag .attr-name {
    color: #ffcb6b; // entity
}

.language-css .token.selector .id {
    color: #89ddff; // ID
}

.token.url,
.token.hexcode,
.token.function {
    color: #80cbc4; // function
}

.token.variable,
.language-css .token.selector,
.token.tag,
.token.deleted,
.token.namespace {
    color: #f77669; // Var
}

.token.bold {
    font-weight: 700;
}

.token.italic {
    font-style: italic;
}

.token.label {
    color: null;
}

.token.string,
.token.tag .attr-value,
.token.tag .attr-value .punctuation {
    color: #c3e88d; // String
}
