//------------------------------------------------------------------------------
// @theme: Grid
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @scss
//
// Make it red for easy views
.grid-example {
    margin-bottom: 1rem;
}

.grid-example .o-col {
    line-height: 3;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.15);
    color: #333333;
}

.grid-example .o-col:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.3);
}
