//------------------------------------------------------------------------------
// THEME: Logo
//------------------------------------------------------------------------------

.logo {
    background-image: url('../imgs/bas-el_logo.svg');
    background-repeat: no-repeat;
    background-size: 15%;
    display: block;
    height: 96px;
}
