//------------------------------------------------------------------------------
// #Code
//------------------------------------------------------------------------------

//
// 1. Reset browser default of `1em` to use `rem`s
// 2. Normalize v4 removed this property, causing `<pre>` content to break out
//    of wrapping code snippets
//
pre {
    margin-bottom: 1rem; // [1]
    overflow: auto; // [2]
}

figure {
    margin-bottom: 1rem;
}

//
// A better looking default horizontal rule
//
hr {
    border: 0;
    border-top: 1px solid $default-gray;
    display: block;
    height: 1px;
    margin: 1rem 0;
    padding: 0;
}
