//------------------------------------------------------------------------------
// BASE: Forms
//------------------------------------------------------------------------------

//
// Settings
$base-input-height: 2.5rem;
$base-input-border-width: $default-border-size;
$base-input-border-radius: $default-border-radius;
$base-input-padding-y: 0.5rem;
$base-input-padding-x: 0.5rem;

$base-input-color: $default-body-color;
$base-input-background-color: $white;
$base-input-border-color: $default-gray;

$base-input-background-focus-color: $base-input-background-color;
$base-input-border-focus-color: $default-accent;

$base-input-placeholder-color: $default-gray;

$base-input-disabled-color: $gray-300;

$base-input-invalid-border-color: $pink-500;
$base-input-invalid-color: $pink-300;

$base-form-info-color: $warning-100;
$base-form-warning-color: $important-100;



// 1. Make inputs at least the height of their button counterpart
//    (base line-height + padding + border)
// 3. This has no effect on <select>s in some browsers, due to the limited
//    stylability of `<select>`s in CSS.
// 4. Override Firefox's unusual default opacity; see
//    https://github.com/twbs/bootstrap/pull/11526.
// 5. iOS fix for unreadable disabled content;
//    see https://github.com/twbs/bootstrap/issues/11655.
//
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
[type='color'],
select,
textarea {
    background-color: $base-input-background-color;
    border: $base-input-border-width solid $base-input-border-color;
    border-radius: $base-input-border-radius;
    color: $base-input-color;
    display: block;
    @media (min-width: $bp-medium) {
        display: inline-block;
    }
    height: $base-input-height; // [1]
    padding: $base-input-padding-y $base-input-padding-x;
    width: 100%;
    // @include box-shadow($input-box-shadow);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
        background-color: $base-input-background-focus-color;
        border-color: $base-input-border-focus-color;
        color: $base-input-border-focus-color;
        outline: none;
        // @include box-shadow($shadow);
    }

    &::placeholder {
        color: $base-input-placeholder-color;
        opacity: 1; // [4]
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
        background-color: $base-input-disabled-color;
        opacity: 1; // [5]
    }

    &:disabled {
        cursor: not-allowed;;
    }

    &:focus:invalid,
    &:focus:invalid,
    &:focus:invalid {
        border-color: $base-input-invalid-border-color;
        color: $base-input-invalid-color;
    }
}


textarea {
    height: auto;
}

//
// 1. Suppress the nested default white text on blue background highlight given to
//    the selected option text when the (still closed) <select> receives focus
//    in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
//    match the appearance of the native widget.
//    See https://github.com/twbs/bootstrap/issues/19398.
select {
    &:focus::-ms-value {
        background-color: $base-input-background-color; // [1]
        color: $base-input-color; // [1]
    }
}

input[type='color'] {
    height: $base-input-height;
    width: 2.5rem;
}

//
// Make file inputs better match text inputs by forcing them to new lines.
input[type='file'],
input[type='range'] {
    display: block;
}

input[type='file'],
input[type='radio'],
input[type='checkbox'] {
    &:focus:invalid:focus {
        outline-color: $base-input-invalid-border-color;
    }
}

.select {
    &:before {
        border: 0.25rem solid rgba(0, 0, 0, 0);
        border-top-color: $base-input-border-color;
        content: '';
        margin-top: -3px;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        pointer-events: none;
    }
}

//
// Placeholder Colour
::-webkit-input-placeholder { color: $base-input-placeholder-color; }
:-moz-placeholder { color: $base-input-placeholder-color; }
::-moz-placeholder { color: $base-input-placeholder-color; }
:-ms-input-placeholder { color: $base-input-placeholder-color; }
