//------------------------------------------------------------------------------
// BASE: Global
//------------------------------------------------------------------------------

//
// High-, page-level styling.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in rems, the `line-height` is calculated to exist unitlessly.
//
html {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: $default-font-size; // [1]
    font-weight: 400;
    line-height: $default-line-height; // [1]
    background-color: $default-body-bg;
    color: $default-body-color;
}
