//------------------------------------------------------------------------------
// COMPONENT: Select
//------------------------------------------------------------------------------

//
// Settings are inherited from base.form

.c-select {
    display: inline-block;
    margin: 0;
    position: relative;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:after {
        border-top: .35rem solid $base-input-border-color;
        border-right: .35rem solid transparent;
        border-bottom: .35rem solid transparent;
        border-left: .35rem solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        margin-top: -.15rem;
        position: absolute;
        top: 50%;
        right: 1.25rem;
        width: 0;
        pointer-events: none;
    }

    &:hover {
        &:after {
            border-top-color: $base-input-border-hover-color;
        }
    }

    &:focus {
        &:after {
            border-top-color: $base-input-border-focus-color;
        }
    }
}
