//------------------------------------------------------------------------------
// #Tables
//------------------------------------------------------------------------------

//
// 1. Reset for nesting within parents with `background-color`.
// 2. No longer part of Normalize since v4
//
table {
    background-color: transparent; // [1]
    border-spacing: 0; // from inuit
    border-collapse: collapse; // [2]
    margin: 0 0 1.5rem;
}

caption {
    text-align: left;
    color: $default-gray;
    caption-side: bottom;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;
}

//
// Centered by default, but left-aligned to match the `td`s below.
//
th {
    text-align: left;
}

th,
td {
    padding: 0;
    margin: 0;
}
