//------------------------------------------------------------------------------
// OBJECT: Button
//------------------------------------------------------------------------------

//
// Layout Variables
$btn-font-size: 14px !default;
$btn-border-size: 1px !default;
$btn-padding: 16px !default;
$btn-border-radius: $default-border-radius !default;
$btn-min-width: 64px !default;
$btn-height: 36px !default;

//
// Default Theme Variables
$btn-background-color: $white !default;
$btn-hover-color: $link-hover-color !default;
$btn-active-color: $btn-hover-color !default;
$btn-color: $gray-600 !default;
$btn-border-style: solid !default;
$btn-border-color: $default-gray !default;

//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Fixes odd inner spacing in IE7.
// 7. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
// 8. Prevent button text from being selectable.
//
.o-btn {
    @include typo($type: 'button');
    line-height: $btn-height; // google material design
    text-align: center; // [4]
    text-decoration: none; // [4]
    vertical-align: middle; // [2]
    white-space: nowrap; // bs only
    background-color: $btn-background-color;
    border-width: $btn-border-size;
    border-style: $btn-border-style;
    border-color: $btn-border-color;
    border-radius: $btn-border-radius;
    // @include shadow-2dp();
    color: $btn-color;
    outline: none; // google material design
    cursor: pointer;
    user-select: none; // [8]
    display: inline-block; // [1]
    margin:  0; // [4]
    padding: 0 $btn-padding; // [7]
    overflow: visible; // [6]
    min-width: $btn-min-width; // google material design
    transition: box-shadow 0.2s $animation-curve-fast-out-linear-in, // google material design
                background-color 0.2s $default-animation-curve, // google material design
                color 0.2s $default-animation-curve; // google material design

    // UI states
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;  // [4]
        color: $btn-color;
        outline: none;
    }

    &:hover {
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
        color: $btn-background-color;
        // @include shadow-4dp();
    }

    &:focus:not(:active) {
        background-color: $btn-active-color;
        border-color: $btn-hover-color;
        color: $btn-background-color;
        // @include focus-shadow();
    }

    &:active {
        background-color: $btn-active-color;
        background-image: none;
        border-color: $btn-hover-color;
        color: $btn-background-color;
        // @include shadow-4dp();
    }

    &:disabled {
        background-color: transparent;
        box-shadow: none;
        cursor: default;
    }

    // Remove excess padding and border in Firefox 4+
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

// EXP COMPONENT MODIFIER CLASS
//
// should never modify anything other than layout, if themeing specifcs are
// required then custom theme class should be created.
//
// .c-navbar_btn {
//     margin: 0 0.25rem;
// }

// EXP THEME CLASS
// .t-navbar_btn,
// .t-btn {
//     background-color: $btn-background-color;
//     border-width: $btn-border-size;
//     border-style: $btn-border-style;
//     border-color: $btn-border-color;
//     border-radius: $btn-border-radius;
//     color: $btn-color;
// }
