//------------------------------------------------------------------------------
// THEME: Default
//------------------------------------------------------------------------------

// .t-input-small
// .t-input-medium
// .t-input-large

// .form-group {
//     display: block;
//
//     label {
//         display: block;
//     }
//
//     // input,
//     // select,
//     // textarea {
//     //     width: 75%;
//     // }
// }

.form-inline {
    @media (min-width: $bp-medium) {
        fieldset,
        .form-group {
            vertical-align: middle;
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

.t-form-info {
    background-color: $base-form-info-color;
}

.t-form-warning {
    background-color: $base-form-warning-color;
}

/* Make it red for easy views */
.grid-example {
    margin-bottom: 1rem;
}

.grid-example .o-col {
    line-height: 3;
    text-align: center;
    background-color: rgba(255,0,0,.15);
    color: #333333;
}

.grid-example .o-col:nth-child(odd) {
    background-color: rgba(255,0,0,.3);
}

.display4 {
    @include typo($type: 'display4');
}

.display3 {
    @include typo($type: 'display3');
}

.display2 {
    @include typo($type: 'display2');
}

.display1 {
    @include typo($type: 'display1');
}

// headline:   24px,
// title:      20px,
// subhead1:   16px,
// subhead2:   16px,
// body1:      16px,
// body2:      16px,
// menu:       14px,
// button:     14px,
// caption:    12px,
// blockquote: 24px

.headline {
    @include typo($type: 'headline');
}

.title {
    @include typo($type: 'title');
}

.subhead1 {
    @include typo($type: 'subhead1');
}

.body1 {
    @include typo($type: 'body1');
}

.body2 {
    @include typo($type: 'body2');
}

.menu {
    @include typo($type: 'menu');
}

.button {
    @include typo($type: 'button');
}

.caption {
    @include typo($type: 'caption');
}

.blockquote {
    @include typo($type: 'blockquote');
}
