//------------------------------------------------------------------------------
// SETTINGS: Default
//------------------------------------------------------------------------------

$default-font-size: 16px !default;
$default-line-height: 24px !default;

$default-unit: 1rem !default;

// Settings
$grid-gutter: $default-unit;
$grid-gutter-px: 16px;

$small: 528px;
$medium: 768px;
$large: 960px;
$wide: 1152px;

$bp-small: ($small + $grid-gutter-px - 1);
$bp-medium: ($small + $grid-gutter-px + 1);
$bp-large: ($medium + $grid-gutter-px + 1);
$bp-wide: ($large + $grid-gutter-px + 1);

$default-border-size: 1px !default;

$default-border-radius: 0.125rem !default;

$default-text-color: $gray-900 !default;
$default-background-color: $white !default;
