//------------------------------------------------------------------------------
// @render: Base-L
//------------------------------------------------------------------------------
// @description
//
// @hanakin -- @midaym
//
// Base-L is a true core css framework.
//
// It follows the ITCSS structure coined by Harry Roberts of csswizardry.com
//
// Providing a strong foundation to add components and objects to. It provides
// true scalability and extendability while keeping maintainability and
// specificity in check.
//
// It provides a strict structure and guidlines for how your css is to be written
// to keep your projects in check as they grow and evolve.
//
// The frmework was designed and developed along side the popular forum software
// PHPBB as its core template library. By providing the most comon foundations
// in a higher layer we allow for better control and flexability in component
// design and themeing while still balancing maintainability and specificity.
//
//
// The MIT License (MIT)
//
// Copyright (c) 2015 Michael Miday
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
//

//
// CONTENTS
//
// 1. Settings.....................The global settings only no object or
//                                 component settings. Those belong in the
//                                 individual partial files
//
// 2. Tools........................These are the mixins & functions used.
//
// 3. Generic......................This is for normalizing and reseting the css.
//
// 4. Base.........................This contains only the default html entitiy
//                                 styles, no classes or ids here.
//
// 5. Objects......................This contains all objects or partials to
//                                 build components.
//
// 6. Components...................Her is where you can build the component
//                                 library for your project.
//
// 7. Theme........................Here you can specifiy and theme ulterations
//                                 to use with your objects & components.
//
// 8. Utilities....................This is where all your trumps or utility
//                                 classes go those that usually contain the
//                                 highest specificity.
//


// 1. Global Settings
//-------------------------
@import "settings/settings";


// 2. Tools
//-------------------------
@import "tools/function/functions";
@import "tools/mixin/mixins";


// 5. Objects
//-------------------------


// 6. Components
//-------------------------
@import "components/paging";
@import "components/forum";
@import "components/topic";
@import "components/post";
@import "components/profile";
@import "components/menu";
@import "components/notification";
@import "components/drawer";
@import "components/tab";
@import "components/stat";
@import "components/crumbs";
@import "components/toolbar";
@import "components/tooltip";
@import "components/hero";
@import "components/footer";


// 7. Theme
//-------------------------
