{% block sidebar %}
	<aside id="page-sidebar" class="page-sidebar">
		{% block sidebar_top %}<h2>Sidebarrr</h2>{% endblock %}
		{% block sidebar_content %}
			{% block widgets_primary %}{% endblock %}
			{% block widgets_secondary %}{% endblock %}
			{% block widgets_tertiary %}{% endblock %}
		{% endblock %}
		{% block sidebar_bottom %}{% endblock %}
	</aside>
{% endblock %}
