
<section id="forum" class="forum-blocks panel-container">
    <div class="panel row">
        <div class="panel-head">
            <h3 class="panel-title"><span class="label panel-label">{{ sections.component.forum.order }}</span> {{ sections.component.forum.title|title }}</h3>
        </div>
        <div class="panel-description">
            <p>
                A single forum component
            </p>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label"></span>
            </div>
            <div class="panel-content col-sm-9">
                <ol class="media-list">
                    <li class="media">
                        <a href="" class="media-left"></a>
                        <div class="media-body">
                            <h4 class="media-heading">This is a forum</h4>
                            <dfn>This is a description for this individual forum. It needs to be long enough to wrap.</dfn>
                        </div>
                        <div class="iconbar">
                            <ul>
                                <li><a href="#" class="fui-user"></a></li>
                                <li><a href="#" class="fui-user"></a></li>
                                <li><a href="#" class="fui-user"></a></li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label"></span>
            </div>
            <div class="panel-content col-sm-9">

            </div>
        </div>
        <div class="panel-row">
            <div class="panel-side col-sm-3">
                <span class="label panel-label"></span>
            </div>
            <div class="panel-content col-sm-9">

            </div>
        </div>
        <div class="panel-foot">
            Version: {{ sections.component.forum.version }}
        </div>
    </div>
</section>
