    <header class="header swatch-primary-alt">
        <hgroup class="container lead-container">
            <div class="lead">
                <h2 class="lead-title text-center">
                    <a class="logo" href="index.html" title="PHPBB"><span class="sr-only">PHPBB - Creating Comunities</span></a> StyleGuide
                </h2>
                <p class="lead-sub-title text-center">
                    A tool to facilitate the development and design of the default theme for phpBB utilizing <a href="http://www.confreaks.com/videos/3972-cssconfus2014-style-guide-driven-development">Style Guide Driven Development</a>
                </p>
            </div>
        </hgroup>
    </header>
